[2020-11-02 16:17] brandenchan commented on #552
So thank you @antoniolanza1996 for all the analysis and experiments!

I've just uploaded deepset/roberta-base-squad2-v2 which was trained after fixing the [train-time first token issue ](https://github.com/deepset-ai/FARM/issues/558). The performance is better than v1 and we have made sure that it can in fact predict first token. Could you try this out and see if it also fixes the problem on your

[2020-11-02 16:29] antoniolanza1996 commented on #552
Hi @brandenchan , thank you too for working on this! I'll try ASAP (hopefully later this week) and I'll let you know on my original issue on Haystack: https://github.com/deepset-ai/haystack/issues/476

[2020-11-03 10:34] brandenchan commented on #602
So there could be a few different things at play here.

1) I'm not sure which model you're using, but if it was trained on Squad, it is maybe quite challenging for the model generally to extract longer answers like the one that you have in your example. The answers in the Squad dataset are on average only 10 words long. Also, in Squad, answers more often come at the beginning of passages rather th

[2020-11-03 10:38] brandenchan commented on #558
@EhsanM4t1qbit Sorry I missed that last message!

If end_idx = passage_len, it is pointing to a token that is outside of the passage so I think its best we keep > instead of >=.

But thanks for raising this issue in the first place! It has helped us greatly in debugging various issues that have come up.

[2020-11-03 10:38] #558 closed

[2020-11-03 15:44] Timoeller commented on #610
Hey thanks for using FARM. This feature is actually annoyingly hidden from the user.

You can set the masked_lm_prob parameter inside the mask_random_words() function used [here in FARM](https://github.com/deepset-ai/FARM/blob/78fb5cfb02cdb38f01b66d67f9ab640e6da4e79b/farm/data_handler/input_features.py#L266) or depending on your finetuning style a little bit below the linked lined.

If you want to

[2020-11-03 15:45] Timoeller commented on #561
Seems fixed, closing now, feel free to reopen

[2020-11-03 15:45] #561 closed

[2020-11-03 15:46] Timoeller commented on #596
Seems fixed, closing now, feel free to reopen.

[2020-11-03 15:46] #596 closed

[2020-11-03 15:57] brandenchan commented on #567
Hi @lucacampanella, glad to see that you're already using our new GBERT and GELECTRA models!

Those are some very interesting data points for sure. So to give you our intuition, ELECTRA and BERT models should train at the same rates and be equally sensitive to hyperparameters. After pretraining, their architectures are essentially the same and  GELECTRA and GBERT were also trained using the same d

[2020-11-04 05:46] tholor commented on #590
- [ ] Only show for real download: "Could not find `deepset/roberta-base-squad2` locally. Try to download from model hub ..."
- [ ] Remove: 11/04/2020 06:44:26 - WARNING - farm.modeling.language_model -   Could not automatically detect from language model name what language it is. ..."

[2020-11-04 08:25] tholor commented on #574
We decided, for now, to not use a dedicated inferencer object in haystack but rather the individual modules.
This allows a more seamless integration between inference and training over there...

[2020-11-04 08:25] #574 closed

[2020-11-04 09:41] tholor commented on #611
Just to clarify: we want to add a check in FARM preprocessing that identifies labels with:
- empty string
- start / end = 0
as no_answer and not as regular span labels.

[2020-11-04 10:17] #608 closed

[2020-11-04 11:26] leonardomra commented on #612
Hi @Timoeller , thanks for the fast feedback. It works well now!

[2020-11-04 12:05] Timoeller commented on #612
Nice, thanks for getting back. Closing now.

[2020-11-04 12:05] #612 closed

[2020-11-04 13:45] brandenchan opened #615 "Train roberta-base-uncased-squad2"
Train a new roberta model that doesn't have the first token problem and also is uncased.

[2020-11-04 14:45] tholor commented on #611
Might be related to #614

[2020-11-04 14:53] tholor opened #616 "Remove mlflow logger for inference"
Don't initialize any mlflow run when we just initialize / use the inferencer. This is very annoying in production setups...

[2020-11-04 16:39] #615 closed

[2020-11-05 16:26] tholor opened #618 "Migrate from apex to Pytorch's native AMP"
**Is your feature request related to a problem or particular use case?**
We initially implemented AMP via Nvidia's apex. Since a while PyTorch supports it natively (see [here](https://pytorch.org/blog/accelerating-training-on-nvidia-gpus-with-pytorch-automatic-mixed-precision/)). Let's migrate as apex was always a painful dependency to install/maintain.

**Describe the solution you'd like**
Use Py

[2020-11-08 09:30] #498 closed

[2020-11-09 10:54] demarant opened #620 "Do you open source the code of farm-inference-ui?"
**Question**
We are looking for the source code of the docker image deepset/farm-inference-ui that demonstrates the FARM capabilities.
Is the source code already available somewhere? if not.
Could you make it availble on github under same open-source license?

**Additional context**
Motivation: It would facilitate other developers to bootstrap a similar UI-app, demonstrate and accelerate the adopt

[2020-11-09 10:58] avoinea opened #621 "OpenSource Farm React UI"
**Question**
Is it possible to open-source the React App within this docker image `deepset/farm-inference-ui`

[2020-11-09 11:00] Timoeller commented on #621
Is something happening? : ) a similar issue just got opened 5 minutes ago #620

[2020-11-09 11:08] avoinea commented on #621
:smile: Ha, bad coordination, me and @demarant are in the same team, playing with your awesome products.

[2020-11-09 11:08] #621 closed

[2020-11-09 13:17] avoinea commented on #620
Would be cool to also open-source https://hub.docker.com/r/deepset/haystack-demo-ui

[2020-11-10 15:08] datistiquo commented on #561
Hey, sorry but still few questions. :-)

1) Are your deepset models the same as when using them by using "from_pretrained" with huggingface interface?
   - are just the newest models (not character filtered) on huggingface? Are older version somehow available?

2) Where did you get this vocab file? How can I generate this from my tokenizer (a pretrained model from huggingface)?

3) **I currently d

[2020-11-10 16:53] datistiquo commented on #561
Also, it would be nice if you can see information about the models like what was the trainingdata? Maybe I cannot find it, but what kind of data is underlying for example this model?

https://huggingface.co/deepset/covid_bert_base

[2020-11-11 02:25] jpzhangvincent opened #622 "Failed to run "docker-compose up" for API + UI"
**Question**
I followed the documentation to launch the docker for the API and UI. But it seemed it failed at the step when loading the language model. Do you have any thoughts on how to debug or any workaround? Thanks for the amazing open-source project!

**Additional context**

<img width="1087" alt="Screen Shot 2020-11-10 at 6 13 59 PM" src="https://user-images.githubusercontent.com/7220686/987

[2020-11-11 08:30] Timoeller commented on #622
Hey @jpzhangvincent  thanks for using FARM. The Error code 137 means most likely you do not have enough memory. The error happens when loading the bert-english-qa-large model, which is about 2GB large. So it is not an issue we can solve on FARM side.
Can you allocate more memory to the instance where you run the docker compose up?

[2020-11-12 00:22] jpzhangvincent commented on #622
Do you mean the docker container or my laptop? Is it something I can configure in the docker yaml file? It would be good to document the caveat in the documentation.

[2020-11-12 08:47] tholor opened #623 "Refactor all_gather_list to standard pytorch function (DPR training via DDP)"
We currently use the custom `all_gather_list` function for distributed training of DPR via DDP.
It would be cleaner to refactor this to a standard PyTorch function (e.g. `all_gather`) - especially in terms of maintainability.

Related to https://github.com/deepset-ai/FARM/pull/619

[2020-11-12 09:59] tholor commented on #620
Hey @demarant,

We currently don't plan to open-source the code base for those two UIs. The main reason: If you publish it, you need to maintain and support it. We currently don't have the capacity to do this for these two "side components" and rather want to focus on FARM and Haystack. There will be the option in [Haystack Hub](https://haystack.deepset.ai/pricing/pricing), to do conduct fast PoCs

[2020-11-12 16:22] Timoeller commented on #622
When googling for this error or docker memory limits it say docker by default uses all the RAM your machine offers. So I suspect it is related to your machine. How much do you have?

[2020-11-14 15:45] psorianom opened #625 "DPR: Max length for query tokenizer model encoding"
Hi all!

Thank you for the development regarding  DPR training (multi gpu specially :+1: ) !

I am currently trying to train a DPR model and I am having a problem. When transforming the input dict to `Sample` objects, and more specifically, when encoding with the tokenizer the query, by default we have `max_length=self.max_seq_len_query` and [`self.max_seq_len_query=64` **and** truncation_strategy

[2020-11-14 20:42] mchari opened #626 "converting ORQA/REALM tensorflow checkpoints to pytorch checkpoints"
I would like to use ORQA/REALM pre-training model checkpoints to load into DPR (using the EmbeddedRetriever).

I see the following statement in farm/convert_tf_checkpoint_to_pytorch.py :
from farm.modeling.bert.modeling import (
    BertConfig,
    BertForPreTraining,
    load_tf_weights_in_bert,
)

I find all of the above symbols in transformers.modeling_bert.

[2020-11-16 06:30] skiran252 opened #627 "How to quantize models?"
**Question**
Put your question here
How to quantize a Roberta model
**Additional context**
I tried conversion script in the adaptive model and could convert to onnx model but when i tried to use quantize and fp16 params i got error saying folder is not empy
Add any other context or screenshots about the question (optional).

[2020-11-16 08:51] Timoeller commented on #626
Hey @mchari the functionality you suggest would be very convenient. One quick question: what do you mean by "I find all of the above symbols in transformers.modeling_bert."? Do you mean that the conversion should be possible?

I think the problem comes from locating the right model files in the open sourced ORQA/Realm files. If you can find the retrieval weights (they should be bert style) in the

[2020-11-16 08:54] Timoeller commented on #625
Nice! Thanks for using the new DPR functionality. @tholor could you look into this? It seems to be a bug on our side.

[2020-11-16 09:30] Timoeller commented on #627
Hey @skiran252 thanks for using the QA models and trying to tweak the speed performance.
So you want to use fp16 during QA inference, right?

Have you tried using amp in our [initialize_model](https://github.com/deepset-ai/FARM/blob/master/farm/modeling/optimization.py#L58) function. There you can use native pytorch amp which supports fp16:
[code]

[2020-11-16 09:30] skiran252 commented on #627
so quantization does not work on all models is it

[2020-11-16 09:39] Timoeller commented on #610
Could you resolve your issue with the parameter I showed you? If so please close the issue (or even create a PR with your solution. Would be happy to include it if it is simple).

[2020-11-16 10:18] Timoeller commented on #627
IF you mean by model the language models like bert, roberta, elctra the fp16 should work on all models.

If you mean frameworks (pytorch, ONNX) by models I cannot tell since. You would need to checkout ONNX and how to use fp16 there. Could you please report back if you find insights?

[2020-11-16 11:21] brandenchan opened #628 "Add support for model versioning in HF model hub"
Transformers 3.5 now allows for different versions of models to be uploaded. This introduces a new argument "revision" when loading models. We should add support for this argument in FARM so that we can download specific model versions.

We should wait for this #624 to be completed first

[2020-11-16 13:18] pashok3d commented on #610
#630

[2020-11-16 13:18] #610 closed

[2020-11-16 14:05] tholor commented on #625
Implemented a fix in #629.

In terms of user notification: we already have the "truncation stats" logged by the DataSilo that inform you how many of your samples got truncated. We could extend these stats for the BiAdaptiveModel case where we need to generate two separate stats (for query and passage).

[2020-11-16 14:18] mchari commented on #626
@Timoeller ,  in the import statement above, _farm.modeling.bert.modeling_ needs to be replaced by transformers.modeling_bert, I think.

Yes, I started this conversion after following the discussion in #312.
 I am trying out conversion of checkpoint in **https://console.cloud.google.com/storage/browser/orqa-data/ict**. Haven't quite got it working. Gives me weird errors related to the developer's

[2020-11-16 18:44] Timoeller commented on #610
Thanks for implementing the functionality. Great PR that I could just merge as is!

[2020-11-16 19:06] Timoeller commented on #626
K understood, fixed in #631

About the conversion of the checkpoints in the gcp bucket. If you find a solution or hit a barrier please let us know here or in haystack. Maybe antoniolanza or me can help.

[2020-11-16 20:42] mchari commented on #626
@timoeller, thanks for your offer to help. Appreciate it.

I downloaded the checkpoint from
https://console.cloud.google.com/storage/browser/orqa-data/ict/encoded/

This is how I am running the conversion script
python convert_tf_checkpoint_to_pytorch.py \
       --tf_checkpoint_path="/gstore/home/madabhuc/encode.ckpt.data-00000-of-00001" \
       --bert_config_file="/gstore/home/madabhuc/hayEnv/r

[2020-11-17 06:37] Reza2311 opened #632 "Getting data directly into FARM"
**Question**
How to get data directly into FARM i/o using intermediate files?

[2020-11-17 07:52] #625 closed

[2020-11-17 08:03] psorianom commented on #625
Oh ok, I missed the DataSilo logs. I will take a look at them. Thanks for the fix!

[2020-11-17 08:17] tholor opened #633 "Log truncation stats for BiAdaptiveModel"
**Is your feature request related to a problem or particular use case?**
For a regular AdaptiveModel we log some dataset stats (incl. truncation information) in DataSilo.calculate_statistics().
For a BiAdaptiveModel with two separate tokenizers and texts we need to log two separate stats here.

[code]

**Additional context**
Follow-up task from #625

[2020-11-17 14:12] Timoeller commented on #575
Seems fixed with #619
We will refactor in #623

[2020-11-17 14:12] #575 closed

[2020-11-17 14:23] datistiquo commented on #561
@Timoeller Any response ideas? :)

[2020-11-17 14:28] tholor commented on #561
Hey @datistiquo, the model was trained on the CORD-19 dataset https://www.kaggle.com/allen-institute-for-ai/CORD-19-research-challenge

[2020-11-17 14:44] Timoeller commented on #622
Seems to be a hardware issue. Closing now, feel free to reopen any time.

[2020-11-17 14:44] #622 closed

[2020-11-17 15:14] tholor opened #634 "Full support of Fast Tokenizers"
The support of fast tokenizers became more extensive and covers now almost all model types.
Let's improve the integration of fast tokenizers in FARM and eventually make it the default ...

[2020-11-17 18:28] Timoeller commented on #626
Hey mchari, why are you using the ORQA files instead of REALM? I think REALM is more recent and also much more performant. You could extract question and document encoders there.

About the REALM checkpoint locations I will cite antoniolanza1996:
- REALM document encoder could be downloaded from realm-data/cc_news_pretrained/embedder/
- REALM question encoder (and REALM reader encoder - both finet

[2020-11-17 18:39] Timoeller commented on #632
I guess you mean like an API?

We have a docker which exposes an API, see https://github.com/deepset-ai/FARM#3-showcase-your-models-api--ui

[2020-11-17 19:17] mchari commented on #626
Yes, we downloaded the REALM checkpoints last night. It is making its way to a folder that I can access...
Will update here later today...

[2020-11-18 00:21] mchari commented on #626
I set
--tf_checkpoint_path="./cc_news_pretrained/embedder/encoded/encoded.ckpt" and I see the following messages :
Loading TF weight block_emb with shape [13353718, 128]
Skipping block_emb

Building PyTorch model from configuration: BertConfig {
  "attention_probs_dropout_prob": 0.1,
  "gradient_checkpointing": false,
  "hidden_act": "gelu",
  "hidden_dropout_prob": 0.1,
  "hidden_size": 1024,
  "

[2020-11-18 09:41] Timoeller commented on #626
Ok, difficult to judge what actually happened. Still, this looks like progress : )

I see a couple of options to evaluate:
1. How about you create some sample question and doc embeddings from NQ (maybe use passages from the 100 words version of NQ that DPR used) with your extracted REALM encoders and with vanilla BERT and compare the similarity. The REALM encoders should produce more similar embed

[2020-11-18 13:45] brandenchan commented on #611
Span labels with an empty string are now checked for and removed in FARM preprocessing #635

[2020-11-18 13:54] brandenchan commented on #578
Closing this for now. Feel free to reopen if you have any questions or updates!

[2020-11-18 13:54] #578 closed

[2020-11-18 13:54] brandenchan commented on #602
Closing this for now. Feel free to reopen if you have any questions or updates!

[2020-11-18 13:54] #602 closed

[2020-11-18 13:57] brandenchan commented on #552
The model update of deepset/roberta-base-squad2 has fixed the problem. Confirmed in #476

[2020-11-18 13:57] #552 closed

[2020-11-18 18:19] ftesser opened #636 "Tests fail on Windows"
**Describe the bug**
After installing farm and its dependencies on Windows, running the tests produce the error below.
This does not happen on Linux OS.

**Error message**
[code]

**Expected behavior**
Successfully run the tests also on Windows.

**Additional context**
- pytorch version: 1.6.0

Looking to `torch.distributed.__init__`  I have noticed that `all_gather` probably is imported only for

[2020-11-18 18:43] Timoeller commented on #636
This would normally be quite difficult to debug, but I do not find any usage of all_gather in our code currently.

@tholor could you verify this, since you added this import during the MultiGPU DDP support for DPR and if it is needed.

[2020-11-18 19:34] mchari commented on #626
I confirmed from transformers/modeling_bert.py that the weights actually did get copied !

when I use the pytorch.bin file that was generated from converting the REALM embedder model, I get errors:
File "/gstore/home/madabhuc/.local/lib/python3.6/site-packages/haystack/retriever/dense.py", line 77, in __init__
    self.passage_encoder = DPRContextEncoder.from_pretrained(passage_embedding_model).to

[2020-11-18 21:03] ftesser commented on #636
Thanks @Timoeller, in the meantime I can run the tests without the import line `from torch.distributed import all_gather` in `farm\modeling\prediction_head.py`.

[2020-11-19 13:25] demarant commented on #620
@tholor
thanks for coming back.

We understand your choice.

if it is openly available, any other company / organisation can fork it and continue to develop it.
Of course, the ultimate choice is yours, and your business needs to find a sweet spot.

In this case, maybe you can just make the code available as a one time off, a zip-archive? and clearly indicate that you don't accept PR or not releasa

[2020-11-20 04:51] mchari commented on #626
When I try to convert the question + reader encoder model orqa_nq_model_from_realm/export/best_default/checkpoint/model.ckpt-300000, I get
File "/gstore/home/madabhuc/hayEnv/env/lib/python3.6/site-packages/transformers/modeling_bert.py", line 135, in load_tf_weights_in_bert
    pointer = getattr(pointer, "bias")
  File "/gstore/home/madabhuc/hayEnv/env/lib/python3.6/site-packages/torch/nn/modules/

[2020-11-20 08:05] Timoeller commented on #626
Hey mchari, please send me a message to timo.moeller (at) deepset.ai so we can arrange a call.

Did you solve the `UnicodeDecodeError:`? Seems like your config `cls._dict_from_json_file(resolved_config_file)` is malformed. Please have a look at its content.

I dont understand what you mean by "question + reader encoder". Do you mean by "reader encoder" the document encoder or do you mean an extrac

[2020-11-20 15:21] mchari commented on #626
What I meant by "Question + reader encoder" is , from your statement above :

[2020-11-20 20:37] datistiquo commented on #561
@Timoeller  @tholor  Adding lowercased examples to the training data ist not giving any great impact, sadly.

I wonder if I can just simple finetuning the cased language model on text data and its lower cased version?

[2020-11-23 16:11] Reza2311 commented on #632
Sorry I made a small mistake in my last question. I think that makes confusion. My question is:

How to get data directly into FARM without using intermediate files?

[2020-11-23 16:16] Timoeller commented on #632
Hey, so my problem comes from "intermediate files". What do you mean by that.
Maybe explain the use case what you need it for.

[2020-11-26 18:59] demarant opened #640 "Could you please turn on auto-build on dockerhub for deepset images?"
**Question**
Could you please configure autobuild on docker hub?
See
https://docs.docker.com/docker-hub/builds/#tag-and-branch-builds

**Additional context**
I noticed that the tags on docker hub for the images created by you are behind, they seem to be pushed manually.
e.g. for deepset/farm-inference-api, the latest docker image is v0.4.3 from 7months ago.
https://hub.docker.com/r/deepset/farm-in

[2020-11-27 10:23] tholor commented on #640
Yep, good point! Just enabled automatic builds for the major images. I don't have time at the moment to configure them for `deepset/farm-inference-ai:base-models-x.x.x` (they need the models to be baked in), but the rest should be fine...

[2020-11-27 10:23] #640 closed

[2020-11-27 11:01] tholor opened #641 "Update GPU docker image"
**Describe the bug**
The builds for the GPU Docker image are currently failing.
Seems like apex is causing trouble with the rather old pytorch + cuda version.

Potential fixes:
- Change base image

**Error message**
Logs from docker build
[code]
**To Reproduce**
Steps to reproduce the behavior

**System:**
 - OS:
 - GPU/CPU:
 - FARM version:

[2020-11-27 20:28] benscottie commented on #299
@tholor
Hey! I am trying to load a locally saved Transformers model into the FARMReader. This is important to my project since the FARMReader seems to perform significantly better than the TransformersReader. Has there been any progress in allowing local Transformers models to be compatible with the FARMReader? Or are there any workarounds?

[2020-11-30 10:20] JiangYanting opened #642 "What's the model structure of NER ?"
**Question**
Hello, I try to use the ner.py to do Named Entity Recognition on my own dataset. Could I ask you what's the model structure of NER ? May be bert + CRF？

**Additional context**
Add any other context or screenshots about the question (optional).

[2020-11-30 12:05] Timoeller commented on #299
The only way I see is to load your model into FARM, then save it as a FARMmodel, then load it in haystack as a FARMReader.

You should be able to load your local transformers model with (Please adjust the parameters accordingly):
[code]

[2020-11-30 16:17] Timoeller commented on #642
Hey @JiangYanting thanks for bringing this up. We currently do not have a CRF on top of Bert. It only uses a linear NN layer on each token and uses the first token of a word (if the word is split into multie tokens) for the prediction the NER tag. Sorry, I know that is quite boring : (

We tried alternatives, especially adding a CRF on top but did not find meaningful performance improvements. See

[2020-11-30 16:18] Timoeller commented on #636
I added a potential solution to #637

[2020-11-30 16:21] Timoeller commented on #626
Hey, lets close this thread and post updates in https://github.com/deepset-ai/haystack/issues/312 instead

[2020-11-30 16:21] #626 closed

[2020-11-30 16:21] Timoeller commented on #627
Issue seems fixed, closing now, feel free to reopen

[2020-11-30 16:21] #627 closed

[2020-12-01 15:11] tholor opened #644 "Increase Transformers Version to 4.0.0"
Upgrade to latest transformers version ...

[2020-12-01 15:28] tholor opened #645 "Refactor Processor Stages in FARM"
We currently have dict_to_samples and samples_to_features as two very separate stages.
For some use cases (e.g. fast tokenizers) this is not ideal. Let's redesign this crucial part in FARM.

- [x] @Timoeller  implement "dataset_from_dicts" and do basic cleaning for squad => "boilerplate for dataset_from_dicts for other processors",  "get rid of dict_to_samples etc. and just call dataset_from_dicts

[2020-12-01 15:31] tholor commented on #611
Closing by #635.

[2020-12-01 15:31] #611 closed

[2020-12-02 14:11] tholor commented on #516
Will be resolved in #624

[2020-12-02 14:11] #516 closed

[2020-12-02 17:00] benscottie commented on #299
That did the trick, thanks!

[2020-12-02 17:43] Timoeller commented on #299
Nice! Always happy to help, thanks for reporting back here.

[2020-12-02 19:00] lalitpagaria commented on #644
Adding comment to remember removing TODOs from following code after transformer upgrade -
https://github.com/deepset-ai/haystack/blob/master/haystack/generator/transformers.py#L255

[2020-12-03 13:12] Aslizy opened #647 "Dependency conflict with latest mlflow"
**Is your feature request related to a problem or particular use case?**
Hi, my project is using the latest version of mlflow==1.12.1. I want to use farm-haystack ==0.5.0, of which it required farm==0.5.0. However farm==0.5.0 (and also previous versions) requires mlflow==1.0.0, which is a quite old version. Thus, I have dependency conflicts. I wonder is there a reason for such an elder version of

[2020-12-03 13:17] tholor commented on #647
Hey @Aslizy ,
Thanks for bringing this up. The pinned mlflow version is indeed quite old. We'll test if there are any compatibility issues with 1.12.1 and if not, upgrade.

[2020-12-04 13:20] brandenchan commented on #616
Solved by #650

[2020-12-04 13:20] #616 closed

[2020-12-07 09:18] Timoeller commented on #632
Issue seems stale. Closing now, feel free to reopen.

[2020-12-07 09:18] #632 closed

[2020-12-07 11:12] sajastu opened #652 "lm_finetuning.py is getting stuck on my machine"
Thanks for the amazing library!

I'm trying to run `lm_finetuning.py` (unmodified with `lm_finetune_nips` dataset in the base code. Everything goes well, until it gets to the training point, after doing pre-processing on the dataset. However, it gets stuck at the beginning of the training point, and even the processes on GPUs became Zombie (i.e., I'm not able to kill them in the normal way). I'm t

[2020-12-07 11:17] tholor commented on #652
Hey @sajastu,

Happy to investigate this together. Can you please give some more details on your environment? It would be helpful to understand:
- OS
- FARM version
- Pytorch version
- Number of CPU cores
- Running in container?

Thanks!

[2020-12-07 18:35] sajastu commented on #652
Hey @tholor,

Thanks for your quick response. I'm actually running the example on GPU. I modified the `lm_finetuning.py` a bit --setting `use_cuda=True` The requested fields are as bellow:

- OS: Linux
- FARM version: farm-0.5.0
- Pytorch version: 1.6
- Number of CPU cores: Not using CPU, but GPU cores are 2.
- Running in container? I'm using the source for initialization, and then running `pip in

[2020-12-08 08:59] #590 closed

[2020-12-08 21:10] mchari opened #653 "Error processing training data in DPR.train()"
I get the following error when I try to train the retriever on my json data.

File "/gstore/home/madabhuc/.local/lib/python3.6/site-packages/haystack/retriever/dense.py", line 277, in train
    data_silo = DataSilo(processor=self.processor, batch_size=batch_size, distributed=False)
  File "/gstore/home/madabhuc/.local/lib/python3.6/site-packages/farm/data_handler/data_silo.py", line 112, in __init

[2020-12-09 20:05] mchari commented on #653
Closing this issue. The error was an artifact of using "Question" instead of "question" in my training data.

[2020-12-09 20:05] #653 closed

[2020-12-10 09:01] Timoeller commented on #653
Nice that issues resolve themselves, but you do mention a valid point.

seq_lens is a nested list and

which should create an error or at least a very long statistics message. We still need to investigate this, what do you think @tholor

[2020-12-10 12:54] sadakmed opened #654 "documentation is outdated"
documentation is not updated, classes like `processor.TextSimilarityHead` `processor.TextSimilarityProcessor` and `biadaptive_model.BiAdaptiveModel` are not documented.

[2020-12-11 03:23] JiangYanting commented on #642
I've got it ~ thank you!

[2020-12-11 03:24] #642 closed

[2020-12-14 06:19] tholor commented on #620
Sorry, I somehow missed your answer here.

We can share the FARM Demo UI code as a one-time thing if you need it. Please reach out via email to us.
For Haystack, we will deprecate the existing demo UI soon why we don't think there's a big value in sharing it. The plan is to have a simple streamlit replacement (I already saw your comment there, too) plus an option within Haystack Hub to showcase an

[2020-12-16 15:19] brandenchan opened #658 "Assign correct probabilities to NER predictions"
In `TokenClassificationHead.formatted_preds( )`, we filter out spans for non-entity words, but we do not yet filter out probabilities of non-entity words. This leads to a misalignment of predictions and probabilities.

[2020-12-18 10:59] tholor commented on #652
Hey @sajastu ,

Just a quick update: we didn't forget you here, but decided to actually refactor the whole lm_finetuning preprocessing (see #659 ). The issue should hopefully be resolved after this refactoring plus it should be significantly faster (we currently measure 5-10x speed improvements). We will keep you posted!

[2020-12-18 20:09] sajastu commented on #652
Hey @tholor,

Thanks for the update, and your considerations regarding fixing this issue. I really appreciate that :). Will try my experiments soon.

[2020-12-23 12:37] Timoeller opened #661 "Change of FARM.GIT history"
Dear all,

we had some large files residing in our git history. So we cleaned our git with [BFG](https://github.com/rtyley/bfg-repo-cleaner).

If you want to contribute please clone a fresh copy of FARM before you continue.

[2020-12-23 12:39] Timoeller commented on #636
#637 merged.

Will also update to newer pytorch soon, which should reduce errors related to DDP as well.

[2020-12-23 12:39] #636 closed

[2020-12-23 12:40] #628 closed

[2020-12-23 12:40] #634 closed

[2020-12-23 12:43] Timoeller commented on #652
Hey, we updated the processing stages in #649 on current master
Could you try running your code again (dont forget to update to transformers 3.5.1)

[2021-01-04 18:27] naty88 opened #666 "Problem with DataSilo and pandas-parser"
**Question**
I dont' know, if it is a bug or the problem with my code, but I get an Error by calling DataSilo and so the Processor.
`ValueError: Usecols do not match columns, columns expected but not found: ['text', 'language']`
The problem is, I have the columns "language", where I store my labels.

**Additional context**
![Screenshot from 2021-01-04 19-26-48](https://user-images.githubuserconten

[2021-01-04 19:38] stefan-it commented on #666
Hi @naty88 ,

I think you need to specify/adjust the `delimiter` for the `TextClassificationProcessor`. By default it is set to tab:

https://github.com/deepset-ai/FARM/blob/a11ea46a71d708aa48947a640daa30283dd7289c/farm/data_handler/utils.py#L49

But as you're using a comma-separated file, just pass `delimiter=","` as an additional argument, like:

[code]

Hope this helps :hugs:

[2021-01-04 19:54] naty88 commented on #666
It works!!! Thank you so much!!! :hugs:

[2021-01-05 07:43] Timoeller commented on #666
Nice, thanks for fixing this issue so quickly @stefan-it
closing now

[2021-01-05 07:43] #666 closed

[2021-01-05 08:10] Timoeller commented on #644
Fixed with #649

[2021-01-05 08:10] #644 closed

[2021-01-05 08:12] Timoeller commented on #620
Seems fixed, closing now. Feel free to reopen

[2021-01-05 08:12] #620 closed

[2021-01-05 08:16] Timoeller opened #667 "Add filter for similar QA predictions"
We want to be able to filter duplicate or near duplicate QA predictions.

[2021-01-05 08:18] Timoeller opened #668 "Introduce QA input objects + validation"

[2021-01-05 08:21] Timoeller opened #669 "Remove fixed version from requirements as much as possible"
test and loosen hard version requirements for:

seqeval==0.0.12
dotmap==1.3.0
Werkzeug==0.16.1
mlflow==1.0.0 (also mentioned in #647)

[2021-01-05 11:35] Timoeller opened #670 "Clean test fixtures"
The current use of fixtures often leads to OOMs in our CI.
We need to:
- Correct use of Session, module scopes
- Ensure release of memory after usage
- No training in fixtures

[2021-01-05 11:36] Timoeller opened #671 "Add integration test for QA Processor.dataset_from_dicts"
Test this function for all kinds of tokenizers, so we know if important behaviour changes.

[2021-01-05 20:32] julian-risch opened #673 "datahandler.processor does not covert hundreds of samples to features"
**Describe the bug**
The question_answering_crossvalidation.py example discards hundreds of samples and does not convert them to features. Best guess is that there is a problem with the document striding and the tokenizer. Maybe it has been introduced with recent transformer updates.

**Error message**
`ERROR - farm.data_handler.processor -   Unable to convert 577 samples to features. Their ids ar

[2021-01-06 13:59] Timoeller opened #674 "Add proprocessing to eval data from file"
We want to be able to preprocess documents for evaluation in the same way as for inference.

Currently a squad style file is used and each context is converted to a document. Applying preprocessing on these documents/contexts should be possible.

[2021-01-06 14:01] Timoeller commented on #674
Posted in wrong repo

[2021-01-06 14:01] #674 closed

[2021-01-06 14:16] Timoeller commented on #654
Lets also check if the documentation website works.

[2021-01-06 14:56] Timoeller opened #675 "FARM Tokenizer class having same behaviour for both fast and slow tokenizers"
Currently some of our task specific processing only support fasttokenizers.

When we have a internal Tokenzer class that has the same behaviour irregardless of its underlying implementation, we can easily changed between fast Rust and slow python based Tokenizers

[2021-01-06 14:59] Timoeller opened #676 "Refactor Processor for regression, DPR, plain embeddings"
The processor for these 3 tasks is still in old style.

We want all major functionality inside dataset_from_dicts

[2021-01-06 15:00] Timoeller opened #677 "Add `inference` flag to signature of all `dataset_from_dicts`"

[2021-01-06 16:39] Timoeller opened #678 "plan new standardized dataset format that works for various QA styles (squad, nq ...)"

[2021-01-06 16:41] Timoeller commented on #645
Fixed with #649

[2021-01-06 16:41] #645 closed

[2021-01-06 17:07] sadakmed commented on #654
@Timoeller  still not

[2021-01-06 17:12] Timoeller commented on #654
Ah thanks for checking as well : )

I actually made this note for our engineer branden, so he will look into it. We are working on this issue in the current sprint, so it should be resolved within the next 2 weeks.

[2021-01-08 12:01] Timoeller opened #682 "ONNX question answering is broken"
**Describe the bug**
Running the onnx QA example script results in error

**Error message**
[code]

**System:**
 - OS: Ubuntu 18.04
 - GPU/CPU: CPU
 - FARM version: current master

[2021-01-11 10:28] Timoeller commented on #673
Fixed, closing now.

[2021-01-11 10:28] #673 closed

[2021-01-11 18:17] Timoeller commented on #652
Hey @sajastu could you test our new processing stages?

[2021-01-12 16:08] Timoeller opened #684 "Clean Processor methods"
While simplifying the data processing in FARM in #649 we still have many possibly unused functions in the abstract Processor class.

Lets remove unnecessary functions or function content.

[2021-01-12 16:21] #671 closed

[2021-01-12 16:23] #667 closed

[2021-01-14 08:39] julian-risch opened #685 "More informative dataset summary for QA"
The dataset summary for QA shows only the number of passages, which depends on the language model (because of document splitting). More informative would be to show the number of questions and answers.

**DATASETS SUMMARY**
Examples in train: 11091
Examples in dev  : 0
Examples in test : 385

=> for example =>

**DATASETS SUMMARY**
Passages in train: 11091
Questions in train: 2000
Answers in train

[2021-01-14 08:43] Timoeller opened #686 "Add no_answer scores to QA evaluation"
When using FARMs Evaluator for QA evaluation we only have EM and f1 across all input examples.

The official SQuAD eval script has both, an overall score and at the same time scores for text answers vs no_answer.
We should also have both inside the Evaluator Class.

[2021-01-15 13:56] julian-risch commented on #647
Hi @Aslizy , I checked that mlflow==1.12.1 works with both FARM 0.5.0 and the latest 0.6.1. All tests passed successfully. So you are good to go. I will update the FARM requirements.txt accordingly and then close this issue.

[2021-01-15 14:10] AhmedIdr opened #687 "Data preprocessing for finetuning LM"
**Question**
Hey, im just wondering how my additional unlabeled data should be preprocessed before using it for the LM finetuning.
**Additional context**
I am trying to finetune gbert-large, the used preprocessing was unfortunately not mentioned in the original paper or i might have missed it.

Thank you in advance

[2021-01-15 15:27] Timoeller commented on #687
Hey @AhmedIdr havent heard of you in a while : )

When you run our [LM finetuning example](https://github.com/deepset-ai/FARM/blob/master/examples/lm_finetuning.py) it will download some sample files - they are one sentence per line and documents are separated by a newline. Hope that helps?

[2021-01-15 15:42] overlookcurl opened #688 "SentencePair Regression"
**Question**
Hi. Thank you for this wonderful repository. I am still in the early stages of using FARM.
I want to perform a sentencepair regression task with FARM. Basically I have two continues values for each sentence pair. I was going to use two regression heads for that.

However, I noticed that There is no seperate processor for this. (TextPairRegressionProcessor), So I assumed that I have to

[2021-01-15 17:10] AhmedIdr commented on #687
Hey @Timoeller yes just got back lately to working on some NLP stuff :) . I looked at the example but it doesnt help much. I was mainly wondering how was the training data for gbert-large preprocessed cause i wanted to preprocess my additional data in the same way. Im not sure if this the best approach but i didnt want to use my data in its raw form. It is mainly tweets and they sometimes have lin

[2021-01-18 08:48] Timoeller commented on #687
Hey, we did not open source our preprocessing scripts because they is rather hacky and we do not want to offer support for them.

Nevertheless I can send you some code that you can base your work on by mail, just write me there.

[2021-01-18 08:48] #687 closed

[2021-01-19 02:36] datalee commented on #678
dureader
[https://ai.baidu.com/broad/subordinate?dataset=dureader](url)

[2021-01-19 02:40] datalee opened #689 "how to load a local reader model(transformer)"
model like this[https://huggingface.co/wptoux/albert-chinese-large-qa](url)

[2021-01-19 08:47] Timoeller commented on #678
Thans for the pointer. Definitely worth having generative QA in mind when designing the format.

[2021-01-19 11:18] Timoeller commented on #652
Seems fixed, closing now, feel free to reopen.

[2021-01-19 11:18] #652 closed

[2021-01-19 11:22] Timoeller opened #690 "QA model confidence"
The QA answer score that is currently implemented can be misleading if not downright wrong. Lets create a "score" or confidence that is more informative.

The detailed plan how to approach QA model confidence follows soon.

Related issue on haystack side: https://github.com/deepset-ai/haystack/issues/739

[2021-01-19 15:43] Timoeller opened #692 "refactor NQ processing + modelling"

[2021-01-19 16:24] #647 closed

[2021-01-19 16:24] #669 closed

[2021-01-19 18:00] Timoeller commented on #688
Hey @overlookcurl thanks for digging into FARM. You already found the relevant parts - but you cannot directly use them for your use-case.

So using the textpairprocessor with task_type regression wont work unfortunately.
But you can phrase a regression task as a classification task and bin your regressor variable. I would honestly recommend it, the few experiments we did with the pure regression

[2021-01-21 19:41] overlookcurl commented on #688
Hi @Timoeller,
Thank you very much for the response. For my dataset when I used huggingface transformer models, it worked fairly well. So I think I will go with implementing TextPairRegressionProcessor. Will open this issue, if I come across any issues when doing that.

Thank you so much again

[2021-01-24 10:45] matteo-grella opened #695 "Fine-tuning only the bias-terms"
To speed up fine tuning without sacrificing accuracy, I propose to add a built-in option to freeze most of the
parameters and fine-tuning only the bias-terms.

Reference:
[BitFit: Simple Parameter-efficient Fine-tuning for Transformer-based Masked Language-models](https://nlp.biu.ac.il/~yogo/bitfit.pdf)

[2021-01-25 11:05] julian-risch commented on #690
**First Plan**
We would like a QA model to state something like “with confidence of 75% the predicted answer is correct”.
Here comes a first simple plan based on a technique called temperature scaling. Further improvements could follow later on. The approach works not only for extractive QA but also for classification tasks. An adaptation of the approach might also work for Open Domain QA and RAG.

[2021-01-25 12:53] lalitpagaria commented on #690
Sound good. I need to ramp up these can concept, I will read them and then we will schedule a call.

[2021-01-25 18:14] Timoeller commented on #695
Wow, this is an interesting approach indeed. Thanks for sharing @matteo-grella

Would you like to implement the functionality? I guess starting at something simple like classification?
If you continue, please have a look at #141 for some help to get you kickstarted.

[2021-01-25 22:09] snat1505027 opened #696 "How to load local model weights for evaluation using question_answering.py"
**Question**

I want to use the **question_answering.py**  script for inference on SQuAD2.0 dataset.

So the code snippet mentioned below will be replaced:

`save_dir = Path("../saved_models/bert-english-qa-tutorial")`
`model.save(save_dir)`
`processor.save(save_dir)`

by this:

`model = QAInferencer.load(my_model_dir, batch_size=40, gpu=True)`

Now, I have my fine-tuned model weights and checkpoi

[2021-01-26 11:27] Timoeller commented on #689
Hey sorry for the late reply, I actually had to dig into the code a bit.
So there are two ways to load models.

## Loading model with internet access
The easiest is just to load a QAInferencer with your model name supplied. Then it downloads and converts everything you need. You can do that with:
`infer = QAInferencer.load(model_name_or_path="wptoux/albert-chinese-large-qa", task_type="question_an

[2021-01-26 11:46] Timoeller commented on #696
Hey you have to use an Evaluator. Please have a look at this example on how to use it: https://github.com/deepset-ai/FARM/blob/master/examples/evaluation.py#L67

[2021-01-26 12:57] snat1505027 commented on #696
Hi, thanks for your reply.

So, I can only load models of type AdaptiveModel? Can't I use this script to evaluate a custom model (e.g. hugging face model finetuned on SQuAD)?

[2021-01-26 12:58] Timoeller commented on #696
Sure, the [line loading the model](https://github.com/deepset-ai/FARM/blob/master/examples/evaluation.py#L114) actually loads a model from the modelhub finetuned on SQuAD, see lang_model = "deepset/roberta-base-squad2"

[2021-01-26 14:08] snat1505027 commented on #696
Thanks again. I have stored a fine-tuned model of distilbert-base-uncased:

[code]

I want to pass a model loaded from my local machine.

[code]
now I want to use this model for the inference stage. But when I try to do it, I get errors for not having some parameters in the model (e.g., language_type).

Thanks in advance.

[2021-01-26 14:37] Timoeller commented on #696
Mhh, did you try using standard functions for saving from transformers? There is a `trainer.save_model()` function available in transformers. Your current save method seems rather custom and missing parts...

An alternative is to finetune your model in FARM alltogether. You can also load a distilled model in FARM, see our question answering [example](https://github.com/deepset-ai/FARM/blob/master/

[2021-01-27 09:17] snat1505027 commented on #696
Hi again. I am now using the [question_answering.py](https://github.com/deepset-ai/FARM/blob/master/examples/question_answering.py) script for fine-tuning and evaluation. I want to fine-tune t5-base model on SQuAD2.0 dataset using this script. For that, I need to use [T5tokenizer](https://github.com/huggingface/transformers/blob/285c6262a84490270d2f1a1c06ee9ccfc1b60e8f/src/transformers/models/t5/t

[2021-01-27 10:06] Timoeller commented on #696
Sorry, but a T5 model is currently not supported in FARM.
Would you be interested in contributing the support to FARM?

[2021-01-27 11:22] snat1505027 commented on #696
I would love to contribute after 1st February. Thanks.

[2021-01-27 11:48] FM29 opened #699 "Loosing Input Data in Classification Task"
I am using FARM for a document classification task in medical background.
The deepset German Bert model was aditionally trained on german medical wikipedia and then trained for the task we have on hand: Given a long input sting (OCR read content of a scanned file), predict the document class of that file.

I mostly held onto this [https://colab.research.google.com/drive/130_7dgVC3VdLBPhiEkGULHmqSl

[2021-01-27 11:58] Timoeller commented on #696
Cool than ill be closing this issue. When you should start on T5 please open another issue describing what you want to do and if you raise a PR please do so early in the process, so we can help you.

[2021-01-27 11:58] #696 closed

[2021-01-27 12:24] Timoeller commented on #699
This might be related to the new tokenizer that we use. @brandenchan could you please have a look into it, I can see that our problemtic_ids are not populated yet for the TextClassificationProcessor, see [here](https://github.com/deepset-ai/FARM/blob/master/farm/data_handler/processor.py#L680).

[2021-01-28 02:30] datalee commented on #689
@Timoeller use the 1st way，i have the error:
`OSError: Can't load config for 'wptoux/albert-chinese-large-qa'. Make sure that:

- 'wptoux/albert-chinese-large-qa' is a correct model identifier listed on 'https://huggingface.co/models'

- or 'wptoux/albert-chinese-large-qa' is the correct path to a directory containing a config.json file`

[2021-01-28 02:40] datalee commented on #689
@Timoeller use the 2th way, also have the error:
`01/28/2021 10:39:11 - INFO - farm.modeling.tokenization -   Loading tokenizer of type 'AlbertTokenizer'
Traceback (most recent call last):
  File "../cov_demo.py", line 13, in <module>
    pretrained_model_name_or_path=model_name
  File ".\Anaconda3\lib\site-packages\farm\modeling\tokenization.py", line 83, in load
    ret = AlbertTokenizer.from_pr

[2021-01-28 09:58] Timoeller commented on #689
Hey I can replicate your problems with `wptoux/albert-chinese-large-qa`

As they stated in the [model card](https://huggingface.co/wptoux/albert-chinese-large-qa) you have to use the BertTokenizer.

So you can load the model like:
[code]

[2021-01-28 12:31] datalee commented on #689
not work,you can try

[2021-01-28 12:47] Timoeller commented on #689
It works for me, that is why I posted it.

Which FARM version are you using? Do you have all requirements installed?
What is your error?

[2021-01-29 07:02] datalee commented on #689
`farm                               0.5.0
farm-haystack                      0.6.0`
![image](https://user-images.githubusercontent.com/13651873/106242550-d2447f00-6242-11eb-8ece-d01f122dfb99.png)

[2021-01-29 09:17] Timoeller commented on #689
Please update to latest versions haystack 0.7.0 and try again.

If you encounter a problem in haystack please also raise the issue there, it is easier to track progress, help you and let others find the solution to your problem as well.

[2021-01-30 01:47] datalee commented on #689
en，in chinese , must add a mirror
`AutoModel.from_pretrained('bert-base-uncased', mirror='tuna')`

[2021-02-01 13:56] #686 closed

[2021-02-01 15:41] brandenchan commented on #699
Hi @fm29, I can start looking at this issue for you. Is there any chance that the sample labels could be wrongly generated? Otherwise, it would be easiest for me to help debug if you are able to send me some of the samples that get lost in processing.

[2021-02-01 17:47] Timoeller opened #701 "Examples scripts using the TextPairClassificationProcessor are not working"
**Describe the bug**
When trying to test our TextPairClassificationProcessor I realized a lot of our example scripts are currently not working.

## Example script text_pair_classification.py
- I think we have to upload the dataset "asnq_binary" for it to work. @brandenchan
- inheriting from TextclassificationProcessor might be failing: in the dataset_from_dicts method that we now call directly fro

[2021-02-02 06:53] FM29 commented on #699
Hi Branden, thank you for taking the time.
I double checked the labels in the test file with this code:

[code]
As you can see in the above post, those are exactly the labels we gave the processor to work with, so it seems like the labels are set correctly. The same holds up for the train.tsv. Attached you can find a zip of the test.tsv, train was too big to attach. Feel free to do any checkup you

[2021-02-02 13:33] davidnarganes commented on #157
Hi,
I've got the same issue. The tokenizer is super slow when adding new tokens even with the Fast class:

[code]

and then profiling the speed in jupyter:
[code]

[2021-02-02 13:37] davidnarganes opened #703 "Tokenizer is slow when adding new tokens"

[2021-02-02 13:37] #703 closed

[2021-02-02 13:58] Timoeller commented on #157
Hey, I guess this is currently a huggingface transformers issue, since FARM does not support GPT2 as of now.

I also do not think it is related to FARM, since our implementation of tokenizers just calls underlying HF transformers implementations.

[2021-02-02 15:44] Timoeller commented on #701
We should make Textpairclassification work to be able to support reranking in haystack like mentioned in https://github.com/deepset-ai/haystack/issues/423

[2021-02-02 16:00] Timoeller opened #704 "Refactor DPR Processor"

[2021-02-02 16:03] #658 closed

[2021-02-02 16:09] Timoeller commented on #689
Nice, thanks for the update.

So the issue is fixed? Closing now. Feel free to re open, or open an issue in haystack when it is related to the Reader Models there.

[2021-02-02 16:09] #689 closed

[2021-02-02 16:11] Timoeller opened #705 "Model confidence 2.0"
As started in #690 we are developing a way to have better QA model confidence scores.

In this issue we especially focus on developing a method that is easily applicable to out of domain data.

If it doesnt work in OOD data, create concept of what to do next.

[2021-02-02 16:45] Timoeller commented on #688
Hey @overlookcurl I actually overlooked something ;) Our TextPairClassificationProcessor actually has some rather hacky way of supporting regression labels. But those labels are not scaled, so they should not work well with a Regressionhead that uses MSE as loss function. Does that make sense to you?

We are refactoring the TextPairClassificationProcessor soon and it might make sense to implement

[2021-02-02 18:23] Timoeller opened #706 "Examples for se3 pooling and wordembedding extraction not working"
**Describe the bug**
When running the example scripts
- embeddings_extraction_s3e_pooling.py
- wordembedding_inference.py

we have problems when loading the models from deepsets s3.
Instead it looks for a config on HF modelzoo and obviously cannot find it:
[code]

[2021-02-03 09:53] Timoeller opened #707 "Example script for dpr_encoder not working"
The example script is missing the file download.

[2021-02-03 13:39] brandenchan commented on #699
Ok so I put the texts in `removed_contexts.txt` through a different classification model and I still got 25 predictions returned. Could you try running inference again using the model called `deepset/bert-base-german-cased-hatespeech-GermEval18Coarse` and see if those texts still get removed / changed?

[2021-02-03 14:01] FM29 commented on #699
I'm sorry, i don't know how to do that. I am a beginner with Bert, and changing anything in the code leads to error mesages anywhere. So you say it could be because of my classification model?
I doubt that, since using the exact same classification model and the exact same Inferencer, not a single text is lost with another test set.
[test2.zip](https://github.com/deepset-ai/FARM/files/5918888/test

[2021-02-03 18:09] Timoeller opened #709 "Example script train_from_scratch not working"
It misses data to run as is. Lets either add some data or document how to insert it in the example

[2021-02-04 08:59] #676 closed

[2021-02-04 10:07] brandenchan commented on #699
So just one suspicion is that the model you have maybe interacts with your dataset in some way causing you to lose this 25 examples. I say this because when I ran inference on these 25 examples using another model, there were no problems and all samples were retained.

To run inference on the test set using the same model as me, use these lines
[code]

[2021-02-04 10:46] brandenchan commented on #654
This should be fixed now! Feel free to reopen if you see anything is still missing

[2021-02-04 10:46] #654 closed

[2021-02-04 21:45] lalitpagaria commented on #690
Hi @julian-risch
My apologies for late reply. I was held up by some other tasks. Unfortunately I will not get time, as my most of focus now a days on [Obsei](https://github.com/lalitpagaria/obsei). I would love to get your feedback about it.

I have gone through links and topics you shared I am able to understand them (at least Math part).
I see that you already started working on it, I will have

[2021-02-04 22:21] julian-risch commented on #690
Hi @lalitpagaria no worries. I saw your post on LinkedIn and thought you might be quite busy. If you find time for a call, I'd be happy to walk you through the PR. It is a very first minimal version. Just let me know. In the meantime I will have a closer look at Obsei.

[2021-02-04 22:28] lalitpagaria commented on #690
Great. I will send email (mentioned in your Github profile) about call.
Regarding Obsei, I am getting content moderation workflow related enquires and it would be super cool to get you input on it.

[2021-02-04 23:05] overlookcurl commented on #688
Hi @Timoeller,

Thank you very much. My task is tralation quality estimation task. So basically I have a source sentence, target sentence, an overall quality of the translation between 0-1, and the quality of the each word.

So I was thinking to use sentencepair regression with the token classifiers in a multi task setting. Was I clear?

[2021-02-05 10:43] Timoeller commented on #688
Totally, that makes a lot of sense. Using a regression on the translation quality seems reasonable. I guess the challenge will come in combining the losses of overall translation quality and the individual word translation quality as the overall quality should account for much more.

Anyways, I can ping you once the implementation is done, I plan to have it finished by 17th of Feb. If that is too

[2021-02-05 12:56] overlookcurl commented on #688
Thank you very much for the great work
Great, I will wait till you implement it then.

[2021-02-07 21:41] rodrigoheck opened #712 "Few shots learner with embedding layer"
**Question**

Instead of finetuning a transformer (which is a little overkill for my task), I am trying to implement a few shot learner using Keras. In order to do that, I am first extracting the embeddings from a model previously fine-tuned in a similar dataset (by following this [code](https://github.com/deepset-ai/FARM/blob/master/examples/embeddings_extraction.py)). Then, I am using these embe

[2021-02-08 07:37] FM29 commented on #699
Your code for inference does not differ from the one i already have. What save_dir should i use for inferencing with your model?

This is the exact reason why i submitted the ticket in the first place. I checked for duplicates and there where some, i removed them but the length of test.tsv and the ones arriving at the Inferencer still differs by 21. My only goal whith this is that no texts are los

[2021-02-08 08:55] Timoeller commented on #712
Hey @rodrigoheck in general this should work.

I guess you have seen the paper [To Tune or Not to Tune](https://www.aclweb.org/anthology/W19-4302.pdf) discussing this matter.

----------------------------------------

So regerding your problem. The code you pointed to seems generally fine and should work better than random. Once that is done you could experiment with a different `extraction_strate

[2021-02-08 09:27] brandenchan commented on #699
Oh I'm really sorry that's a mistake on my part. What I mean to type was the following. FARM will automatically download the model that's specified there.
[code]
You should also rerun inference on this "removed_contexts.txt" file using your saved model.

Knowing about the versioning and environment you're doing this in will also help. Are you running this in Colab or locally on your computer? Othe

[2021-02-10 12:44] Timoeller commented on #704
Fixed by #711

[2021-02-10 12:44] #704 closed

[2021-02-10 16:53] bogdankostic opened #714 "Missing Tokenizer attribute in TextSimilarityProcessor"
**Describe the bug**
`tokenizer` is set to `None` in `TextSimilarityProcessor` [(here)](https://github.com/deepset-ai/FARM/blob/0d6f250ad8a59a63f9f5378ac250355510ca0cac/farm/data_handler/processor.py#L2857). (Instead of `tokenizer`, we have `query_tokenizer` and `passage_tokenizer`.) However, the `_calculate_statistics` method of `DataSilo` requires the Processor's `tokenizer` attribute to be a To

[2021-02-11 07:12] FM29 commented on #699
Hi, thanks for the update.
Neither of the models will take in .txt so i converted the removed_contexts.txt to .tsv and added the 'label' column with content NaN (since apparently it expects it).

Running with mine and your model, there seemes to be a converting issue. I placed the whole log into a txt file.
Your Model: [YourModelLog.txt](https://github.com/deepset-ai/FARM/files/5963484/YourModelLo

[2021-02-11 08:42] Timoeller opened #716 "DPR evaluation in Evaluator"
Currently DPR is evaluated on in batch metrics.

Basing off of PR #715 we want to create a DPR evaluation that transform a whole set of documents and retrieves n candidates based on their embedding similarity. We want to put this evaluation inside our Evaluator class, so each evaluate_every steps the eval is called during training .

[2021-02-11 10:33] brandenchan commented on #699
One thing I just noticed from your logs is that you are using an older version of FARM. Could you update yours and rerun? You can upgrade using something like this
[code]

[2021-02-11 10:33] brandenchan commented on #699
I am going to do a few runs on my side to see what happens when the labels are NaN

[2021-02-11 11:02] #688 closed

[2021-02-11 11:02] #701 closed

[2021-02-11 11:12] Timoeller opened #717 "Add warning message when run inside docker"
We have seen quite some related issues in FARM or haystack related to multiprocessing getting stuck when run inside docker containers.

We should check weather the code is run inside a docker and then issue a warning message, pointing to ipc=host settings.

Check like [here](https://stackoverflow.com/questions/20010199/how-to-determine-if-a-process-runs-inside-lxc-docker) but from within python

[2021-02-12 13:25] #714 closed

[2021-02-14 20:57] rodrigoheck commented on #712
Thanks for you input, @Timoeller !

You are indeed right, and I probably made some mistake when creating the pipeline. I did it again and now it is working fine.

Let me ask one more question: is it possible for a task classification Inferencer to also provide the embeddings? Or I must load the Inferencer again with this specific task?

Thanks!

[2021-02-15 07:45] Timoeller commented on #712
Nice, glad to hear it works now.

Yes you can do that: You can finetune a transformer on classification tasks and afterwards use an embedding inferencer to get the embeddings of the finetuned model. It should indeed help you create better embeddings (used as an index or for clustering?) of the data.

[2021-02-16 06:40] FM29 commented on #699
Just saw your earlier comment, i updated farm and reran the DataSilo with the train and test set i will use is the final model.
Here is the log: [newLogDataSilo.txt](https://github.com/deepset-ai/FARM/files/5986599/newLogDataSilo.txt)
The lengths still are not the same (length of train.tsv: 56150, length of test.tsv: 6240)

And here is the new log of the inferencer, used with test.tsv (real correc

[2021-02-16 16:43] brandenchan commented on #699
Hey I think I've figured out the issue! Could you try initializing the `TextClassificationProcessor` and specify `quote_char='"'`?
i.e.
[code]
Quote chars are used so that text can include the tsv delimiter symbol (i.e. `\t`) without ruining the tsv format

[2021-02-17 06:59] FM29 commented on #699
You are amazing!

I just restarted training and with the modification the DataSilo does not lose any Data at all. So the Inferencer probably won't later either.
Does that mean that somewhere in our data we have hidden tabs lying around?

Thank you so much for this super intense help with this.

[2021-02-17 06:59] #699 closed

[2021-02-17 10:15] brandenchan commented on #699
Really happy that I could help! Feel free to open this issue again if anything else comes up

[2021-02-17 10:19] brandenchan commented on #699
I believe the issue is more that you might have some single quotation marks lying around (i.e. the `'` character). These are the default quote_chars in FARM and if there is an opening single quotation without the closing quotation, it might cause preprocessing to ignore one of the tabs that delimit your tsv.

[2021-02-23 01:54] rodrigoheck opened #722 "Something weird with Inferencer for Text Pair Classification?"
**Describe the bug**
I am training a model for aspect-based sentiment analysis (trying to extract the sentiment of specific aspects of the text). To achieve this goal, I am using the Text-Pair Classification method of FARM. The model is training fine, but when I try to apply inference, I get wrong and static result independent of my text_b input. This suggests to me that the inference is not using

[2021-02-23 07:52] Timoeller commented on #722
Hey @rodrigoheck good catch.
I created a fix in the linked PR.
The fix is a change in input and not code-wise. So you can keep the current 0.7.0 FARM version and your trained model but just supply another input to the inference_from_dicts method. Before it was a dict with keys "text" and "text_b". Now it is only a dict with "text" as key containing a tuple of (text, text_b) as values.

Example:
[c

[2021-02-23 09:14] #722 closed

[2021-02-23 17:12] #712 closed

[2021-02-24 01:47] imdiptanu opened #724 "Is there any multi-task Learning example available?"
**Question**
Hello, I am looking for an example of multi-task Learning using the framework. Is there any such example available? To be specific, the problem I am trying to solve is similar to MTL with Text Classification + NER.

I would really appreciate if anyone could direct me to an example.

**Additional context**
For now I created a new processor, where I generate all the **features** (_input

[2021-02-24 01:55] imdiptanu commented on #724
The processor code is here - https://www.codepile.net/pile/1VDvaaBz

[2021-02-24 08:23] Timoeller opened #726 "Simplify tasks and connect_heads_with_processor usage/documentation"
The usage of tasks and how we need to connect PredictionHeads with Processors is non-obvious and needs to be simplified or better documented in example scripts for Multi Task learning (e.g. LM finetuning).

E.g. see error message in AdaptiveModel:
"Label_tensor_names are missing inside the {head.task_name} Prediction Head. Did you connect the model"
                " with the processor through eit

[2021-02-24 08:24] Timoeller commented on #707
Comments on how to download data have been added. Closing this.

[2021-02-24 08:24] #707 closed

[2021-02-24 08:29] Timoeller commented on #724
Hey thanks for using FARM for multitask learning.

I see you have created an own processor for it. I am unsure if this custom setting can work within FARM.
It is quite hard to debug this custom code because of a couple of reasons:
The code of MTLProcessor is in the old and complicated style of conversion using `_dict_to_samples` and `_sample_to_features`. Please have a look at the TextClassificati

[2021-02-24 17:50] imdiptanu commented on #724
Hi Timo,

Thank you for the prompt reply. The `dataset_from_dicts` method is really a timesaver. I think the available custom processor tutorial is old. However, I wrote a script to replicate the issue on Colab -

https://colab.research.google.com/drive/1JXNZfcp7Yjibv6DxcublTndIiN6TfNCC?usp=sharing

I hope you can access it. If you can not please let me know. Also, thank you for the help. I apprec

[2021-02-26 14:04] sophgit commented on #699
Hi @brandenchan,
I have a similar problem, when fine-tuning xlm-roberta-base for QA. While fine-tuning on MLQA (using the test-context-de-question-de.json), it recognizes all training examples. However, when using a dataset I annotated myself (with the haystack annotation tool), only 79 dictionaries are being converted; the original train file contains 910 training examples.
I am using Haystack ve

[2021-02-26 14:40] Timoeller commented on #699
Hey @sophgit you already created an [issue](https://github.com/deepset-ai/haystack/issues/403) about offstes on windows.

Maybe now it is a different offset problem. Did you try the solution outlined in https://github.com/deepset-ai/haystack/issues/492#issuecomment-711898247 already?

[2021-02-27 18:11] imdiptanu commented on #724
Hey @Timoeller, Did you get a chance to look into this? Or any suggestions?

- Diptanu

[2021-02-28 11:50] Timoeller commented on #724
Hey @imdiptanu sorry for the delay.

I shortly looked at it, everything seems ok during conversion. Looking at the sample printout "Clear Text" and "Features" it seems the conversion was correct.
My hypothesis is that the label features (document_level_task_label_ids and token_level_task_label_ids) are not parsed to the PredictionHead in the correct way.
Though I did not find time to look into thi

[2021-02-28 14:27] imdiptanu commented on #724
Thank you for the reply. I am unsure about features not parsed to PredictionHead correctly because I tried to run the two tasks separately, and they ran as expected.

[2021-03-01 08:48] tholor commented on #724
Hey @imdiptanu ,

I had a quick look and it seems that all your processing is correct - great job!
The step where things crash is the aggregation of the loss of the two prediction heads.
The problem here is that you have one token-level and one document-level task. While the document-level task returns a tensor of shape 32 (one per sample in the batch) the token-level loss is (in my test) 893 (one

[2021-03-01 08:48] agrov opened #728 "AdapterFusion with FARM"
**Question**
Hi,

Could you please confirm if it is possible to integrate Adapter modules (https://adapterhub.ml/) within FARM's framework?
Currently, I am experimenting with Multi-task learning using FARM and want to compare my results with AdapterFusion. It would be good to know if Adapters can be included within the same architecture.

Thanks!
Anjali

[2021-03-01 08:59] Timoeller commented on #728
Adapters seem interesting and also the people from UKPLab have very high engineering standards.
Looking at the docs of adapter-transformers it seems they add code components to the models "adapter-transformers, an extension of Huggingface’s Transformers library that adds adapter components to transformer models".

So it seems FARM does not have native support for the adapter transformers.
Could yo

[2021-03-01 10:08] sophgit commented on #699
Hey, thank you so much for your respond.
I got some things mixed up, I'm really sorry.  (and it's not the offsets, I tried the script, didn't correct any offsets).
During training, I actually get the message that there are **more** training examples than I actually have. I'm currently trying to figure out why that is without bugging you again.

[2021-03-01 10:14] Timoeller commented on #699
k no worries : )
short info, the number of training samples reported in the printout is the number of passages. If you have long input article the text will be split into multiple passages, resulting  in a higher number.

[2021-03-01 12:51] imdiptanu commented on #724
Thank you, that fixed the issue. Do you mind if I write an example/tutorial on using FARM for MTL using custom dataset?

![29-thank-you-meme-1](https://user-images.githubusercontent.com/35115483/109499417-e1496780-7a62-11eb-96ca-9fae490e6d13.png)

[2021-03-01 12:51] #724 closed

[2021-03-01 12:55] Timoeller commented on #724
Not at all. We would highly appreciate a MTL example.

If you have data we can also upload it to our s3 so people can work with the example out of the box.
Otherwise a integration of huggingface datasets library (if you can download your example dataset there) would also be an option. Though I think this will need a more comprehensive PR : )

[2021-03-01 12:58] imdiptanu commented on #724
I will create a PR and make sure it works out of the box. :)

[2021-03-03 11:22] brandenchan opened #729 "QACandidates with wrong indices for a no_answer prediction"
When using FARM via Haystack for open domain QA, I am often getting the following ERROR

[code]

On closer inspection, it seems not all our `QACandidate`s are being converted to document level. I suspect the issue lies in `aggregate_preds( )`

[code]

This means that in our list of final predictions, we are getting a mix of `no_answer` `QACandidates`: some with `QACandidate.aggregation_level = 'pa

[2021-03-03 12:57] voidful opened #730 "Handling large file in DPR model"
In DPR data loading https://github.com/deepset-ai/FARM/blob/5ab5b1620cb51ceb874d4b30c887e377ad1a6e9a/farm/data_handler/utils.py#L186

It read the entire JSON file at once and it would occur memory issue when reading a large file.

**Describe the solution you'd like**
Changing it to support both JSON and jsonl file determent by the input file type.
jsonl format is more suitable for handling large f

[2021-03-03 13:38] Timoeller commented on #730
Hey  @voidful seems like a good idea.
Though just reading from JSONL would not solve the memory issue.
The whole file (weather it is json or jsonl) is loaded into python dicts and then converted into pytorch tensors (by multiple processes).

I see two options:
- For LM pretraining we have a StreamingDataSilo that does not convert the whole dataset at once. I shortly tested it for DPR processing, i

[2021-03-03 14:40] voidful commented on #730
In my situation, it's because json load takes too much memory, iterative reading and appending data can solve my problem. (128GB memory, 30GB Data).
After that, all seems to be fine. However, I agree using the above strategy can further reduce memory usage.
https://github.com/deepset-ai/FARM/blob/5ab5b1620cb51ceb874d4b30c887e377ad1a6e9a/farm/data_handler/utils.py#L217

[2021-03-04 03:58] rodrigoheck opened #731 "Sagemaker logs"
**Question**
For some reason, my training is not working correctly when I do it using Sagemaker, and I am trying to find out what's going wrong. The easiest way to do it is by checking the logs, but for some ungodly reason Sagemaker does not output the logs from Farm during training, not even in the CloudWatch. Is there a way to output these logs?

[2021-03-04 08:22] Timoeller commented on #730
Ok, makes sense.
Happy to accept a PR with the functionality.

Otherwise I would highly recommend modifying your 30GB DPR file or did you hand select those 30GB of data?
We only use 1 positive and 1 hard negative context for training (maybe using more hard negatives can increase performance - I am unsure about the false negative rate if the hard negative ctxs are not checked by hand).
Checking in

[2021-03-04 12:32] kruthikakr opened #732 "Where is the QA model"
I am refering this demo https://demos.deepset.ai/ : where is the model and script in the github link  to reproduce this ? and how to customise this above 15000 words ?

[2021-03-05 08:57] Timoeller commented on #732
Hey, here you can find some more documentation about how to load your models: https://farm.deepset.ai/basic_usage.html#showcase-your-model-api-ui

Do you want to apply QA on a large document or multiple documents? Have you seen our other OSS project [Haystack](https://github.com/deepset-ai/haystack) that enables exactly that (and much more).

[2021-03-05 10:43] kruthikakr commented on #732
Thank you for replying ..I am trying to apply the QA on large document as in the demo.. I am not able to find the model which was used in the demo.. Also is there upper limit of 15000 , which parameter decides this..

Yeah i saw the Haystack..But i am trying to work with 1 large document QA.

[2021-03-05 11:27] kruthikakr commented on #732
Hi ..you are referring to this image  deepset/farm-inference-api:base-models-0.4.1 , for model source ?

[2021-03-05 12:40] kruthikakr commented on #732
I am using the model from deepset/farm-inference-api:base-models-0.4.1
 nlp = Inferencer.load("base_models/bert-english-qa-large", task_type="question_answering")

# Run predictions
QA_input = [{"qas": ["Why is model conversion important?"],
             "context": "Model conversion lets people easily switch between frameworks."}]
result = nlp.inference_from_dicts(dicts=QA_input)

and getting the

[2021-03-05 13:00] kruthikakr opened #734 "TypeError: string indices must be integers"
Hi  not sure if it is a bug , but i am trying to follow the steps in the tutorial and found the issue
I am using  Transformer model model is being downloaded

from farm.infer import *

nlp = Inferencer.load("bert-large-uncased-whole-word-masking-finetuned-squad", task_type="question_answering")

# Run predictions
QA_input = [{"qas": ["Why is model conversion important?"],
             "context": "

[2021-03-05 13:16] julian-risch commented on #734
Hi @kruthikakr could you please use this format for QA_input?
`    QA_input = [
            {
                "questions": ["Why is model conversion important?"],
                "text":  "Model conversion lets people easily switch between frameworks."
            }]`

[2021-03-05 13:28] julian-risch commented on #732
Hi @kruthikakr unfortunately the model is a bit older and might not work with the most recent release of FARM out of the box. Let me check whether I can provide a workaround and fix that issue. However, I will need some more time to do that. In the meantime you could try with the previous FARM release: https://github.com/deepset-ai/FARM/releases/tag/v0.6.2

[2021-03-05 14:30] kruthikakr commented on #734
Yes it worked.

and the output of result is [{'task': 'qa', 'predictions': [{'question': 'How did the gross margin change?', 'id': '0-0', 'ground_truth': [], 'answers': [{'score': 13.446313858032227, 'probability': None, 'answer': 'largely stable quarter-to-quarter', 'offset_answer_start': 2103, 'offset_answer_end': 2136, 'context': 'egment. The gross margin remained largely stable quarter-to-quar

[2021-03-05 15:24] julian-risch commented on #734
Thanks for trying that. Happy to hear that it works now. I will make sure that the tutorial is updated.
Aggregation is only needed to aggregate predictions across different samples. The document here is relatively small. It seems that all the predictions are coming from the same sample. in that case, take the top answer with the highest score.
Regarding the aggregation of predictions: I recommend

[2021-03-05 15:57] #734 closed

[2021-03-05 18:07] kruthikakr commented on #734
please provide me with the information , In the squad question answering  demo , there is a limit of 15000 words . Which parameters decides the limit .
And where is the code line which outputs the top answer in case the context is small .. or when the aggregation should be used .

[2021-03-06 11:28] kruthikakr opened #736 "Running the inference with out docker"
Hi .. I am trying to run QA in large document , I am able to train the model using co lab link.   Now I want to do inference, but with out docker.. I am able to use inference
nlp = Inferencer.load("bert-large-uncased-whole-word-masking-finetuned-squad", task_type="question_answering")

But need the code to get the exact answer and aggregator for very big document.

Also in the  demo the words are

[2021-03-06 16:59] kruthikakr opened #737 "Inference with out docker"
Hi .. I am trying to run QA in large document , I am able to train the model using co lab link.   Now I want to do inference, but with out docker.. I am able to use inference
nlp = Inferencer.load("bert-large-uncased-whole-word-masking-finetuned-squad", task_type="question_answering")

But need the code to get the exact answer and aggregator for very big document.

Also in the  demo the words are

[2021-03-06 17:00] #737 closed

[2021-03-08 13:25] #730 closed

[2021-03-09 13:07] gabinguo opened #739 "About natural_questions.py in the /examples"
**Question**
How do we use the model that trained with natural questions?

Those are the files after I ran the code in natural_questions.py till save model/precessor
<img width="381" alt="Screenshot 2021-03-09 at 13 58 04" src="https://user-images.githubusercontent.com/27879119/110474020-78f02b00-80df-11eb-8bff-693e7aa81b0b.png">

I should now have a language model, a QA head and a classifier head

[2021-03-09 13:25] julian-risch commented on #739
Hi @gabinguo , I think I know what the problem is but I will need some more time to fix that. In the meantime you could try with the previous FARM release: https://github.com/deepset-ai/FARM/releases/tag/v0.6.2

[2021-03-09 15:04] gabinguo commented on #739
Ok, thanks for the quick reply : )
I will try the workaround you propose 👍

[2021-03-09 15:38] julian-risch commented on #732
@kruthikakr another option would be to set `strict=False` when you load the Inferencer like so:
`nlp = Inferencer.load("base_models/bert-english-qa-large", task_type="question_answering", strict=False)`

[2021-03-09 16:41] gabinguo commented on #739
I've tried with v0.6.2, and this gives back the error like:
<img width="1353" alt="Screenshot 2021-03-09 at 17 39 00" src="https://user-images.githubusercontent.com/27879119/110505509-810b9300-80fe-11eb-867a-464edf5d0177.png">

Is the code wrong for loading the model with multi-heads?

[2021-03-10 06:26] kruthikakr opened #740 "Running in the windows"
Trying to run the inference
from farm.infer import *
nlp = Inferencer.load(r"C:\Users\Desktop\FARM\bert-english-qa-tutorial", task_type="question_answering")
# Run predictions[{"questions": ["What is X?"], "text":  "Some context containing the answer"}]
QA_input = [{"questions": ["Why is model conversion important?"],"text": "Model conversion lets people easily switch between frameworks."}]
result

[2021-03-10 07:12] julian-risch commented on #740
HI @kruthikakr the problem that you describe seems to be specific to multiprocessing on Windows. Could you please share the exact and full script that you are trying to run? I assume that your problem could be solved by encapsulating your code in a method:
[code]

[2021-03-10 08:06] julian-risch commented on #739
As of now, the Inferencer, in particular, the tokenizer is not working for NQ as described here: https://github.com/deepset-ai/FARM/blob/ae4b515dab4db4d55fd34588326b5a67868831a0/examples/natural_questions.py#L126 Unfortunately, I don't see an easy solution to that problem.

[2021-03-16 11:27] Timoeller commented on #728
Hey @agrov any progress on the Adapter Modules?

[2021-03-16 11:30] Timoeller commented on #736
Hey @kruthikakr when you run the Inferencer in colab it does not have any length restrictions on the document. The 15000 character limitation is only for the demo.
Did you already try QA on long documents within colab?

[2021-03-16 11:32] Timoeller commented on #739
Hey @gabinguo for what reason do you want to use an NQ model? Do you want to try the yes/no capabilities, just the extractive (short answer) part, or something completely different?

Happy to interact and find a solution. Unfortunately, as @julian-risch pointed out, the current Inferencer does not work with NQ out of the box because we were simplifying the preprocessing for all other tasks a lot.

[2021-03-16 12:26] agrov commented on #728
Hi @Timoeller, sorry for the delayed response.

To answer your question on how Adapter modules can be integrated into the FARM architecture:
With the adapter-transformers library we can use their add adapter function to include the adapters in our model.

from transformers import AdapterType
# Add a new adapter
model.add_adapter("rotten_tomatoes", AdapterType.text_task)
# Add a matching classifica

[2021-03-17 11:12] gabinguo commented on #739
Thanks for reply, I wanted to test a network that consists of one lm with two heads(qa and classifier for answerability), that's why I thought NQ model will be a perfect fit.

No worries, it's a great framework. I will wait for the update : )

[2021-03-19 16:02] Simons2017 opened #742 "Multi-task learning"
**Question**
Could you give me some advice on how to train the BERT using MTL （Multi-class Text Classification + Reading Comprehension）?

[2021-03-22 08:12] julian-risch commented on #740
Hello @kruthikakr did you try the proposed fix? Did it solve your problem or did you find another solution?

[2021-03-22 16:52] Timoeller commented on #724
Hey @imdiptanu did you had a chance to create a MTL example? There is increasing interest in this, see #742
Would love to get your contribution into FARM!

[2021-03-22 16:54] Timoeller commented on #742
Hey @Simons2017 good point, I linked a similar issue. Maybe we can get @imdiptanu to push the example he used.

For your use case you will probalbly need some tailoring. With "Reading Comprehension" do you mean QA or what exactly?

[2021-03-22 17:16] imdiptanu commented on #742
Hi @Simons2017, I am on vacation so it may take a week. However, if you could reach out to me privately I can share a notebook to get you started if it's urgent.

[2021-03-23 08:59] Simons2017 commented on #742
QA

[2021-03-23 09:00] Simons2017 commented on #742
Thank you very much. How can I contact you?

[2021-03-24 08:28] #690 closed

[2021-03-24 08:40] thenewera-ru opened #743 "Wights and Biases logger support"
Integrate one more remote logging option:[wandb](https://wandb.ai/site).

[2021-03-24 08:45] thenewera-ru commented on #743
I can work on that and open PR if that logging option would benefit most of the users.

[2021-03-24 08:51] Timoeller commented on #743
Hey sure, that would be appreciated. Would it be possible to wrap W&B logging around the existing logging class [BaseMLLogger](https://github.com/deepset-ai/FARM/blob/master/farm/utils.py#L95)?

[2021-03-24 09:01] thenewera-ru commented on #743
Yep, I think it fits nicely into [this](https://github.com/deepset-ai/FARM/blob/master/farm/utils.py#L95) interface.
The only possible misunderstanding would potentially be between `experiment` and `run`. In [WANDB](https://wandb.ai/site) context they call any experiment `run`. Everything else is more or less the same, I hope :-)

[2021-03-25 14:48] imdiptanu commented on #742
I thought you could see my email on my profile- diptanusarkar[at]hotmail[dot]com.

[2021-04-03 22:28] tanmaylaud opened #747 "Add Big Bird to FARM"
This issue will be used to track the integration of Google's BigBird into FARM.

After initial code integration, the following will be explored:
- Train BigBird on SQUAD.
- Train BigBird on TriviaQA
- Evaluate the efficiency gain in training time for BigBird vs current models in haystack.

Huggingface has a nice implementation of tokenizers and model for BigBird. we can use that.

[2021-04-05 11:09] Timoeller commented on #747
Hey @tanmaylaud I like the suggestion. BigBird from Google improves on long context QA significantly. I believe this will be especially relevant for multihop QA, where the necessary information to answer a question can come from different text/positions in text. Attending over long context or multiple texts will be key to success.

Just as a sidenote: there is also a [BIGBIRD](https://twitter.com/

[2021-04-07 00:48] tanmaylaud commented on #747
Hi @Timoeller , yes I can work on this.
I have started with first adding fast tokenizer for the model in HF.
here is the [PR](https://github.com/huggingface/transformers/pull/11075)

[2021-04-07 10:12] Timoeller commented on #747
Nice!

We have also increased the Transformers Version to 4.5.0 in https://github.com/deepset-ai/FARM/pull/749 so you could use the Big Bird code

[2021-04-07 13:00] julian-risch commented on #740
Hi @kruthikakr are you still facing the described problem or can I close this issue?

[2021-04-07 13:02] julian-risch commented on #732
Hello @kruthikakr I will close this issue now. Feel free to re-open it if you still have a question regarding the described problem.

[2021-04-07 13:02] #732 closed

[2021-04-07 13:36] Timoeller commented on #736
Issue seems fixed, closing now. Feel free to reopen

[2021-04-07 13:36] #736 closed

[2021-04-07 21:33] #633 closed

[2021-04-08 09:34] #623 closed

[2021-04-09 12:22] kruthikakr commented on #740
I did not try this in windows , working fine in ubuntu

[2021-04-09 12:22] #740 closed

[2021-04-10 12:50] datalee opened #750 "how to convert a dpr model to onnx?"
**Question**
how to convert a dpr Retriever model to onnx?
thks

[2021-04-12 03:58] datalee commented on #750
in my test，convert a pytorch Retriever  model to onnx, and deploy it in cpu env, tps from 5 to 90+, time costs from 2s to 700ms(max).
If haystack could automatically load the onnx model directly, that would result in a significant performance improvement.

[2021-04-12 06:52] Timoeller commented on #750
Hey datalee, that would indeed be a cool feature. Especially because DPR can be rather fast and a small query encoder could actually be useful on a CPU only server.

The feature is not implemented yet, for this we would need the convert_to_onnx method defined in the AdaptiveModel implemented in the BiadaptiveModel.
Would you like to work on this and contribute?

[2021-04-12 08:07] datalee commented on #750
i use the transformers function
`from transformers.convert_graph_to_onnx import convert`

[2021-04-12 16:47] Timoeller commented on #750
sure, we also use that function in our AdaptiveModel with some adjustements.

Does the function work for DPR models? IF so, would you like to contribute the functionality to farm?

[2021-04-13 09:01] datalee commented on #750
yes i works, but i just test query_encoder model

[2021-04-14 07:35] Timoeller commented on #750
Nice one, so would you like to implement the convert_to_onnx functionality into our BiAdaptiveModel? As you said you might need to separate query and passage encoder conversion for it...

[2021-04-18 13:09] #641 closed

[2021-04-20 13:43] #661 closed

[2021-04-23 07:17] DieseKartoffel opened #751 "farm-inference-api crash when attempting to load own model"
**Describe the bug**
I finetuned a model using FARM and saved it as described in the examples. After placing it in the "saved_models" dir, `docker-compose up` throws an exception and the inference-api does not start. The web-ui will display a white screen. When the "saved_models" dir is empty, inference-api  and web-ui are working fine.

**Error message**
[code]

**Expected behavior**
Expected the

[2021-04-29 09:57] gabinguo commented on #739
Hi there, for the example natural_questions.py, would it work If I change the model/tokenizer to bert? Since you mentioned in the comment that fast RobertaTokenizer is not working for NQ.

[2021-04-29 11:11] Timoeller commented on #739
I'm unsure if this swapping tokenizers will work to be honest.

But please try an earlier version of FARM. Julian pointed you to a version where the changes actually happened...
Please try out FARM==0.5.0 and report back if that works out. Make sure to also downgrade transformers and your pytorch version.

[2021-04-29 12:12] gabinguo commented on #739
Thanks for the reply.

I tried with farm==0.5.0 transformers=3.3.1 torch=1.6. And it works fine. Thanks for the instructions : )

[2021-04-29 15:32] Timoeller commented on #739
Thanks for reporting back and sorry that the solution took so long...

[2021-04-29 18:02] Timoeller commented on #751
Hey sorry for the late reply. Really appreciate the effort you put into creating the issue.

inference-api_1  |     INFERENCERS[idx + 1] = Inferencer.load(str(model_dir))

It is strange that loading the model in your example notebook works but within the inference api as seen in the code snippet above does not. Could you post the configs that are saved in your custom model please, maybe there is a

[2021-04-30 04:06] bipinkc19 opened #752 "GPU usage very low in inferences"
**Question**
Farm when use_gpu=True is using very low gpu.
How do I up this?
\

[2021-05-04 00:23] ishabi opened #754 "Support for DeBERTa V2"
**Question**
Will DeGERTa V2 be supported by FARM?

**Additional context**
I was experimenting DeBERTa language model to train NER model, but it always fails. Will it be supported in future?

Thanks

[2021-05-04 11:25] Timoeller commented on #752
Hey, this depends a lot on the data you put into the system. Can you give some more details on this data.

Also inference often does not fully leverage the GPU RAM, since communication between CPU and GPU is the bottleneck there.

In the meantime you can set `batch_size=40` and `num_processes=1`, this should improve GPU usage for most cases.

[2021-05-04 11:45] Timoeller commented on #754
Hey @ishabi there is currently no support for DeBERTa in FARM.

Would you like to contribute this?
It should not be too complex since you can use the underlying transformers implementation, you just have to create a wrapper in our farm.modelling.language_model script and write some test.

Any help would be appreciated.

[2021-05-04 11:47] Timoeller commented on #747
Hey @tanmaylaud would you like to contribute Bigbird to FARM, so we can also merge it to haystack in a meaningful way soon?
Would be pretty cool!

[2021-05-04 11:48] Timoeller commented on #695
I still think it is a great idea, I will move this issue into our icebox because of inactivity.

[2021-05-04 11:48] Timoeller commented on #742
Hey gentlemen, any progress on the MTL front?

[2021-05-04 11:51] Timoeller commented on #750
Hey @datalee would you like to contritbute? Otherwise I think we can close the issue since you were able to convert the models to onnx, right?

[2021-05-04 11:54] matteo-grella commented on #695
@Timoeller I agree with you. However, I attempted to implement that in FARM for text classification and I got poor results :-|

[2021-05-04 12:04] Timoeller commented on #695
Hah interesting, there is no free lunch after all again. Which dataset did you use?

And thanks for reporting back, lets leave the issue in the icebox and warm it up if other people get excited about bias only finetuning for their datasets : )

[2021-05-04 13:12] DieseKartoffel commented on #751
Thanks for looking into it! And don't worry, this is not high priority for me either. I mainly just wanted to let you know about it.
I uploaded the config files [here](https://github.com/DieseKartoffel/my-fileshare-repo).

[2021-05-04 22:30] tanmaylaud commented on #747
Hi @Timoeller , yes I would like to.
As mentioned earlier, I am facing some issues with the Fast tokenizer in the upstream HF code.
Once that is resolved, we will be able to use the Fast tokenizer in Haystack.
Does that sound good?

[2021-05-04 23:36] fang19911030 opened #755 "Local result is not same as the demo posted in hugging face"
**Question**
I tried the model listed here: https://huggingface.co/deepset/roberta-base-squad2
I found the local result is not as good as the result shown in the demo of hugging face. I hope to know how can I improve my local performance.

**Additional context**
Text:  THIS PRIVATE PLACEMENT WARRANTS PURCHASE AGREEMENT, dated as of [__], 2021 (this “Agreement”), is entered into by and between Monu

[2021-05-04 23:40] #755 closed

[2021-05-05 09:13] ftesser commented on #739
Hello everyone, for what I understand NaturalQuestions does not work with farm>0.5.0, is that correct?

@Timoeller do you have any plan about re-fixing NaturalQuestions in the framework?

[2021-05-05 10:11] Timoeller commented on #747
Ah sorry, yes, we need to wait until the fast tokenizer support for Bigbird is inside transformers of course.

[2021-05-05 10:14] Timoeller commented on #754
Hey @ishabi it seems adding DeBERTa v1 and v2 will be more difficult to implement because we currently only support fast tokenizers.

A fast tokenizer for DeBERTa v1 was merged 5 days ago (https://github.com/huggingface/transformers/pull/11387). But there’s still no fast tokenizer for DeBERTa v2 (https://github.com/huggingface/transformers/issues/11529). I think we might also have to wait until th

[2021-05-05 13:02] Timoeller opened #757 "Similarity based Evaluation of QA Answer"
Research options to evaluate answers based on semantic similarity.

[2021-05-06 17:10] johann-petrak opened #758 ""RuntimeError: expected scalar type Float but found Double""
Installed the current latest FARM release using `pip install farm` into a fresh conda environment with Python 3.8
This pulled in torch 1.7.1

I am getting the following exception:
[code]

when calling trainer.train()

[2021-05-06 17:28] johann-petrak opened #759 "Getting a ton of WARNING messages: "Currently no support in Processor for returning problematic ids""
Using the latest FARM installed with `pip install farm`, I am getting many many WARNING messages on the log:

" WARNING - farm.data_handler.processor -   Currently no support in Processor for returning problematic ids"

What does this mean and is there anything I can do about it?

[2021-05-06 21:08] johann-petrak commented on #758
Silly me, this happened because I used the wrong datatype for the class weights

[2021-05-06 21:08] #758 closed

[2021-05-07 04:01] #750 closed

[2021-05-07 11:39] gabinguo commented on #739
Hello, @ftesser
For the first question, yes currently you can only use farm under version 0.5.0 to run natural_question.py in /examples.

And based on the conversion before I think they are working on that.

[2021-05-07 12:19] johann-petrak opened #760 "Add farm.__version__"
Instead of putting the version just into setup.py, it would be great to make the version in use available through `farm.__version__` as it is common practice with Python packages.

There are many ways to achieve this, one simple way is to have a file `farm/_version.py` which sets the variable `__version__` to the version string and then import that variable into `farm/__init__.py`

The setup.py sc

[2021-05-07 15:35] Timoeller commented on #759
Hey @johann-petrak cool to see you using FARM again :smile:

So this warning is not that there are problematic input samples per se but that we do not have functionality for it in place for some processors.

For the QA processor we can return problematic samples during preprocessing, e.g. for TextclassificationProcessor and its derivatives we cannot. See https://github.com/deepset-ai/FARM/blob/mas

[2021-05-07 17:08] johann-petrak commented on #759
Sorry, TBH so far what I do not understand is much more basic: what is actually meant by "problematic input sample" i.e. which error conditions make a sample problematic? And what error conditions could actually already occur when converting samples in the TextclassificationProcessor?
Apparently the only way how these ids can bubble up is through an exception in `self._sample_to_features(sample=sa

[2021-05-08 14:46] Timoeller commented on #760
We definitely want a farm.__version__!

I liked you approach of having a single point for changing the version and it also seems to be [common practice](https://stackoverflow.com/a/7071358). Would you like to create a PR for this?

[2021-05-10 09:38] gabinguo opened #762 "About target QA task fine-tuning using AdaptiveModel"
**Question**

Hello,
About the fine-tuning on the target QA task, do we need to re-instantiate the prediction head or not?
For example, I have the model Roberta-base fine-tune on SQuAD (Roberta-base-SQuAD), and I need to fine-tune the model on my target QA task, for the prediction_head, should I load the head with SQuAD or just re-instantiate a new one?

**Additional context**
[code]

or

[code]

[2021-05-10 15:50] Timoeller commented on #747
Lets wait for the next release to get the changes in, if you cannot wait you can of course create a PR on transformers master branch : )

[2021-05-10 18:26] Timoeller commented on #760
Thanks for the valuable addition.
Fixed by #761

btw when you write "fixes #761" in the PR message it fixes the issue [automatically](https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword).

[2021-05-10 18:26] #760 closed

[2021-05-10 18:33] gabinguo commented on #762
Thanks for the reply : )

Glad to know the effects for small datasets. Cuz I am trying to experiment with some small QA sets with ~2000 qa pairs.

Sure, I will try to make one experiment about this.

[2021-05-11 17:53] florianbaer opened #763 "Convert FARM gelectra Model to HuggingFace Model"
**Describe the bug**
I have trained a classification model of gelectra to classify text. Worked so far as expected. I want to integrate the model in a microservice. For this, i wanted to convert the **FARM-Model** to a **HuggingFace-Model**. To do so, i went through the docs and found the examples [here](https://github.com/deepset-ai/FARM/blob/master/examples/conversion_huggingface_models.py). But

[2021-05-12 04:48] #587 closed

[2021-05-12 04:48] #586 closed

[2021-05-12 04:48] #585 closed

[2021-05-12 04:48] #584 closed

[2021-05-12 04:48] #591 closed

[2021-05-12 08:24] Timoeller commented on #763
Hey @florianbaer thanks for using FARM and our Gelectra models.

I see you are using class weights, but all are 1. Those class weights are not supported in HF transformers. Could you try switching those of (by passing None in the datasilo) and try the conversion again?

We were able to successfully convert Gelectra Language Models and Question Answering models, so it should work for this achitectu

[2021-05-12 09:14] florianbaer commented on #763
Hi, thanks for your superfast answer! :rocket:
First of all, thank you for open sourcing this awesome tool!
As far as I understand, I have to retrain the model for this?

[2021-05-12 09:21] Timoeller commented on #763
I think retraining is the simplest solution.

Please retrain the model on sample data first before converting, I havent tested Gelectra + classification conversion yet and cannot confirm that it works. I can only confirm LM + QA conversion.

[2021-05-12 09:33] florianbaer commented on #763
I will look into it in the afternoon and then provide feedback. Thank you :smiley:

[2021-05-12 12:37] florianbaer commented on #763
Hi @Timoeller
The problem persists:
`
05/12/2021 14:28:48 - INFO - farm.modeling.prediction_head -   Better speed can be achieved with apex installed from https://www.github.com/nvidia/apex .
05/12/2021 14:28:48 - INFO - farm.modeling.language_model -
05/12/2021 14:28:48 - INFO - farm.modeling.language_model -   LOADING MODEL
05/12/2021 14:28:48 - INFO - farm.modeling.language_model -   ==========

[2021-05-12 12:43] Timoeller commented on #763
K thanks for checking, we will look into this in detail and come back to you. I am pretty sure we wont find a solution before next week.

[2021-05-13 08:30] drellxor opened #764 "requirements.txt -> Werkzeug"
**Question**
Hello!
FARM has strictly specified `Werkzeug==0.16.1` version in requirements. And it is not really comfortable for integrating your another project [haystack](https://github.com/deepset-ai/haystack) into existing flask application, because version 0.16.1 is quite outdated and dependency conflict occurs.

What do you think about removing Werkzeug version number from requirements? I ca

[2021-05-14 06:56] julian-risch commented on #764
Hi @drellxor The reason why we fixed the version of Werkzeug is that flask-restplus library was broken by an update of Werkzeug (noirbizarre/flask-restplus#777). As a quick-fix, we pinned the version of Werkzeug in FARM requirements. Here is the corresponding pull request #250
It would be great if you could check whether this problem has been fixed and whether a more recent version of Werkzeug wor

[2021-05-14 08:40] drellxor commented on #764
@julian-risch Thank you for you answer! As I know, flask-restplus is no longer maintained and I'm afraid there is no way it will be fixed there. But there's a great fork [flask-restx](https://github.com/python-restx/flask-restx) and it's official as I know. They fixed problem with Werkzeug there (issue: https://github.com/python-restx/flask-restx/issues/34, pull request: https://github.com/python-

[2021-05-14 08:57] julian-risch commented on #764
You are right. flask-restx is a better alternative. 👍 I would appreciate changing from flask-restplus to flask-restx and upgrading Werkzeug.

[2021-05-15 03:22] rdemorais commented on #408
Hi guys, I'm looking after the same. Is there any development on this?

[2021-05-17 13:06] tholor opened #766 "Upgrade to Pytorch 1.8.1"
Let's verify compatibility and then upgrade to the latest pytorch version

[2021-05-18 16:55] ftesser opened #768 "How FARM manage more than one answer in SquadProcessor"
**Question**
Hello, I was looking to SquadProcessor `max_answers` parameter:

https://github.com/deepset-ai/FARM/blob/bec0a9aeecd696d94e42c72bef6e8b6788a381e0/farm/data_handler/processor.py#L1826

I understand that the idea is used this to manage the possibility of multiple answers (e.g. Squad dev set), but I do not understand how is working.

I see that here an array of that dimension is prealloc

[2021-05-18 18:23] johann-petrak opened #769 "Problem creating DataSilo for multi task learning"
I am trying to get started with using FARM for multi task learning (for now, just two simple classification heads, but eventually I want to implement my own head layers for one of the two).

I am using the latest git master branch at bec0a9a for this.

Sadly I could not find any example or instructions for how to do this so I tried this code, which feels like the most logical approach - first defi

[2021-05-18 18:29] johann-petrak commented on #769
Sadly pandas only complains about what it did not get, does not say what it got, but when I check the values of variables
`columns_needed` and `rename_columns` I see:

[code]

So for some reason this passes None where probably "text"  would be needed?

Note that when I add the parameters for the coarse task directly to the TextClassificationProcessor constructor and only add the fine task afterwar

[2021-05-19 06:09] Timoeller commented on #768
Hey @ftesser thats quite a dig deep into our code :smile:

And you also found the answer. For training we only use one answer, since SQuAD and NQ only have one answer in training. The multiple answers are just for n-way annotated dev and test sets.

Hope that makes sense. Do you need loss signals from multiple answers during training?

[2021-05-19 06:47] Timoeller opened #770 "Adding proxies to Inferencer"
We want to pass proxies to our inferencer so that we can use them in haystack as well.

Related to https://github.com/deepset-ai/haystack/issues/997

[2021-05-19 06:50] Timoeller opened #771 "DPR saving and loading, also for non-bert architectures"
We need to tackle DPR saving and loading within FARM to make it compatible with architectures other than Bert and also the HF modelhub.
People should be able to train models, save them, load them in FARM or haystack and convert them to HF transformers to upload them to the model hub.

Related to https://github.com/deepset-ai/haystack/issues/1046

[2021-05-19 08:48] ftesser commented on #768
Thanks for the feedback @Timoeller,  yes this makes sense to me and regarding the training with multiple answers (I am doing some fine-tuning on a specific domain dataset with multiple answers) I think that rather than propagating loss signals from multiple answers, a simple solution could be to manage that at json level duplicating the questions and adding the new answers. What do you think?

How

[2021-05-19 08:59] Timoeller commented on #768
Glad I can help here.

Good Idea. Especially because working with multiple answers in one go would mean substantial changes to the modelling part.

I am a bit unsure about terminology here. max answers is only used in our Evaluator (where inference takes place). Our Inferencer for getting model predictions does not handle the labels, if there are any, and therefore does not use max answers at all.

[2021-05-19 09:06] Timoeller commented on #769
I know we have a good issue on MTL here: https://github.com/deepset-ai/FARM/issues/724
Unfortunately I dont have access to the linked colab notebook that should give a good example of MTL in FARM. Maybe you can ask the author to give access and maybe also write an MTL example in FARM? :smile:

If you cannot find the information there @tholor could you look into the tasks and MTL setup described he

[2021-05-19 09:15] ftesser commented on #768
Many thanks for super-faster reply @Timoeller!

If I will have time I would like to investigate a little bit into the Evaluator part, but if Evaluator does not look into `label_idxs`, probably  `max_answers` is not necessary at all...

Yes I will do it.

Thanks!

[2021-05-19 09:21] Timoeller commented on #768
Ah sorry, I think you misread me?

Only the Evaluator uses max_answers and all label_idxs. The FARM class in infer.py "Inferencer" does not.

The Evaluator is also inferencing of course, next to evaluating the outcome of the inference (this term inference is defined differently in some fields, for us inference is the process of making predictions based on input data).

[2021-05-19 09:37] ftesser commented on #768
Thanks for the clarifications.

[2021-05-19 09:47] johann-petrak commented on #769
I did not add to #724 because it seems to be about the actual learning, while my problem is already related to just loading the data for it.
I was hoping that the author(s) who designed the data loading strategy for multiple tasks could have a look at this.
Once the data can be loaded I will be happy to share the actual MTL example if I get it to run (which I really need to happen).

[2021-05-19 10:46] Timoeller commented on #769
I remember when I still had access to the linked colab in #724 there was also the data loading part covered... and the author wanted to create an example script for MTL.

Our "tasks" setup is not explicitly tested by us for MTL, we only used BertStyleLMProcessor for MTL preprocessing in one processor. @tholor might be able to help on how to use "tasks"

[2021-05-19 11:25] johann-petrak commented on #769
Is there an issue or document that describes the design for the whole MTL process, including the data management and the actual training/inference part?
It is a bit hard to start with just an example and the source code.

[2021-05-19 11:52] Timoeller commented on #769
In FARM, unfortunately there is no such document. We did not work much with MTL in FARM to be honest...

[2021-05-19 12:00] johann-petrak commented on #724
@imdiptanu would it be possible to make that colab notebook accessible somehow or share the notebook in some other way?

[2021-05-19 13:03] johann-petrak commented on #769
OK so when trying to add all possible parameters to the add_task invocation like this:
[code]

I am getting a different exception now:
[code]

[2021-05-19 13:14] julian-risch commented on #764
@drellxor would you like to contribute by making the change, checking if everything works fine and then creating a pull request?

[2021-05-19 13:20] johann-petrak commented on #769
OK, turns out this is not a bug.

[2021-05-19 13:20] #769 closed

[2021-05-19 14:07] drellxor commented on #764
@julian-risch Yeah, sure.
But we probably should wait a couple of days until flast-restx 0.4.0 release, because latest flask 2.0.0 release that happened about a week ago breaks current flask-restx release.

Other option may be just to pin flask version to `<= 2.0.0`. But in this case we may face similar issue a bit later.

Which option do you think will be better?

[2021-05-19 14:21] julian-risch commented on #764
Great to hear that! I think the first option is better. We can wait until flast-restx 0.4.0 release.

[2021-05-19 16:05] Timoeller commented on #769
Thanks for self serving here @johann-petrak :smile:
Which settings solved the issue then?

[2021-05-19 16:13] Timoeller commented on #759
Hey @johann-petrak would you be interested in contributing the quick improvement I proposed as method 1?

Method 1: Change the message to Info and/or reduce the number of times it is displayed.

[2021-05-19 16:19] Timoeller commented on #752
Issue seems resolved, closing now, feel free to reopen

[2021-05-19 16:19] #752 closed

[2021-05-19 16:23] Timoeller commented on #768
I think we can close the issue, right? Feel free to reopen!

[2021-05-19 16:23] #768 closed

[2021-05-19 16:28] johann-petrak commented on #408
I have run into the same issue trying to get a very simply two head MTL processing running where both heads are simply text classification heads.
An attempt to run inference gets an exception complaining about the key "preds"  (not "preds_p") not being found in kwargs.
Apparently the following keys ARE in kwargs: `['samples', 'tokenizer', 'return_class_probs', 'input_ids', 'padding_mask', 'segment

[2021-05-19 16:35] johann-petrak commented on #769
My first attempt was to specify the text column in the constructor and then add a task using
[code]
(this was suggested somewhere in some release notes, I think).

The second attempt, which worked, was to instead include ALL possible parameters for the add_task method:
[code]
I did not systematically try to find out which of the parameters I added actually was/were the crucial one(s), but I assume

[2021-05-19 18:09] Timoeller commented on #757
We made some experiments with pretty promising results:

# Model
There is already a pretrained `SentenceTransformer('T-Systems-onsite/cross-en-de-roberta-sentence-transformer')`
I suspect training a joint model with our TextPairClassification can give only minor improvements. If this turns out to be used a lot, we could still train one, since in this scenario we do not gain much from the indexing

[2021-05-19 18:44] johann-petrak commented on #408
OK, one step closer: part of the problem seems to be in the Inferences, line https://github.com/deepset-ai/FARM/blob/bec0a9aeecd696d94e42c72bef6e8b6788a381e0/farm/infer.py#L583

There , only the first element of the returned logits array is assigned to `logits` and then when passing to "formatted_preds" that element gets packed into a list again.
When I instead get the whole logits list for the ba

[2021-05-19 18:51] johann-petrak commented on #408
Could we maybe re-open this or have a new issue to discuss how to progress on this?

I may be able to get this to work for my specific heads, but since I do not understand the whole picture/design what I am doing here may break other configurations.

How does one properly run unit tests after making changes - is this documented somewhere? More generally are there any developer docs?

For example I

[2021-05-19 19:51] Timoeller commented on #759
Makes sense to put it there! Would you like to create a PR?

[2021-05-19 19:51] mrusic commented on #757
From what I see here, this is not just relevant for the evaluation of answers for QA but addresses an own search use-case in itself. This solves problems of Keyword search-cases where users want to find mentions in text (e.g. nineteenth-century cartographic techniques) but trying all different formulations is not practical (e.g. nineteenth-century maps, 19th century maps etc.)

[2021-05-19 19:52] Timoeller commented on #769
Nice thanks, hopefully other people find this info as well.

[2021-05-19 20:13] johann-petrak commented on #759
https://github.com/deepset-ai/FARM/pull/772

[2021-05-19 20:20] johann-petrak commented on #769
Once I get the MTL example to run through, I will add it to the examples dir which I hope should help.

[2021-05-19 20:25] Timoeller commented on #408
Yes we can reopen this issue. We would be super happy about contributions here but since it is not a high priority for us it will be difficult to implement something ourselves. At the same time the `AdaptiveModel.formatted_preds` is rather complex and we would need to make sure the implementation does not become to complex while being able to do MTL.
By the way, the multi head Inference implementa

[2021-05-20 11:11] johann-petrak opened #773 "String comparison with "is""
See https://github.com/deepset-ai/FARM/blob/0357634c1997fe39b6f6e78827d35e43538caab1/farm/modeling/adaptive_model.py#L583

Should replace "is" with "=="

I do not think this is likely to cause a problem, but it depends on the way how Python string interning works.

[2021-05-20 13:01] johann-petrak opened #775 "Recommended way to evaluate a loaded model on a file?"
I am training a model in one python file/process and I am saving the processor and the model to the same directory:
[code]

In a different program, I want to load that model and use it for inference and evaluation. For this I restore the model into an inferencer:
[code]
Now I would also like to use that Inferencer for evaluation on some data file.

I am doing:
[code]

Is this the recommended way f

[2021-05-20 14:18] Timoeller commented on #775
I think its not bad loading the model by using the Inferencer. You could also just use the AdaptiveModel.load function directly.

This warning happens with fast tokenizers using Rust Multithreading and FARM based python multiprocessing at the same time. If the code runs I would ignore this warning. Otherwise you could set `max_processes=1` in the data_silo constructor to disable FARM multiprocessi

[2021-05-20 15:20] johann-petrak opened #776 "List of metrics documented in Processor but not supported for evaluation."
The documentation for TextClassificationProcessor states that the parameter metric can take a list of metrics, see https://github.com/deepset-ai/FARM/blob/751b48f0310e11c0e4cbdb95f264e47a587d86e1/farm/data_handler/processor.py#L532

However this is not actually supported at evaluation time in `evaluation.metrics.compute_metrics` (see https://github.com/deepset-ai/FARM/blob/751b48f0310e11c0e4cbdb95

[2021-05-20 16:28] johann-petrak commented on #775
OK, so if in doubt, switch off FARM MP rather than Rust MP?
(I am a bit scared of deadlocks when using this in production eventually)

[2021-05-20 16:43] #759 closed

[2021-05-20 17:33] imdiptanu commented on #724
Hello @johann-petrak, I have created a new notebook for that, which should be accessible for everyone.
https://colab.research.google.com/drive/1AGUbcDG_WTaT5OBL1z7KUI0OFVadyYXK?usp=sharing

[2021-05-21 05:03] #583 closed

[2021-05-22 19:24] #776 closed

[2021-05-26 08:34] Timoeller opened #781 "Implement Similarity based Answer evaluation"
Following up on research done in #757

### Target Approach
Implementing a new registered metric using the sentencetransformers model.
Also implement a default metric for FARM with default model. Look for ways to pass comparison model to FARM.

### Implementation details
Input to our metric functions, preds and labels, are in number format.
Preds are of type QACandidate, but missing text answer inf

[2021-05-26 08:37] Timoeller commented on #757
Research shows promise - continuing in #781 with draft implementation

[2021-05-26 08:37] #757 closed

[2021-05-28 07:24] #677 closed

[2021-05-28 07:24] #588 closed

[2021-05-30 13:16] #682 closed

[2021-05-31 14:10] #766 closed

[2021-06-01 14:08] Timoeller commented on #775
Seems resolved, closing now. Feel free to reopen.

[2021-06-01 14:08] #775 closed

[2021-06-01 14:29] Timoeller opened #786 "Update Transformers to 4.6.1"

[2021-06-01 21:39] nothingTVatYT opened #788 "Very first example in Readme.rst won't run"
The very first example a new user may want to run is the code snippet in the README, but it does not mention the pathlib and there is a bracket missing.

Can we add the line:

    from pathlib import Path

and close the Path() call with a bracket?

I think it's quite an obstacle for curious new users like me when the first code snippet fails due to unclear assumptions and typos.

[2021-06-01 21:58] julian-risch commented on #788
@nothingTVatYT  Thank you. Good catch! I prepared a fix here: #789

[2021-06-02 06:48] #788 closed

[2021-06-02 16:47] #786 closed

[2021-06-03 13:29] johann-petrak opened #794 "Any experience of using FARM with AWS SageMaker?"
Especially deploying a FARM model on AWS SageMaker?

[2021-06-03 20:03] tholor commented on #794
Unfortunately, just for training (in our case language models from scratch, see [blog](https://aws.amazon.com/blogs/machine-learning/deepset-achieves-a-3-9x-speedup-and-12-8x-cost-reduction-for-training-nlp-models-by-working-with-aws-and-nvidia/), [example script for the container](https://github.com/deepset-ai/FARM/blob/master/examples/train_from_scratch_with_sagemaker.py) and [marketplace algori

[2021-06-04 13:01] johann-petrak commented on #794
Thank you for those pointers, I will check them out!
Yes, in my case mainly inference, but as I am totally new with AWS / SageMaker, everything helps.

[2021-06-05 13:49] #685 closed

[2021-06-07 11:17] johann-petrak opened #796 "Control over how text gets truncated?"
I guess this is really a huggingface transformers issue, but is there a way to control how text can get truncated for simple text classification (so only one text field that gets tokenized)?

Sometimes, the relevant part of longer text may be at the beginning and the end of that text, so ideally, the tokenizer would create the word pieces, then choose k1 from the beginning of the sequence and k2 f

[2021-06-07 15:39] johann-petrak commented on #408
Added a commit to the PR which should bring this a step closer. At least multiple text classification head inference works now.

[2021-06-09 14:11] johann-petrak opened #798 "Any tools or plans for training data resampling and reordering?"
If I understand things correctly, the datasilo preprocesses the training data once, converts into the required tensors and then
uses those tensors in exactly the same way each epoch.

Now for some experiments and training approaches one may want to deviate from that:
* resample: present some training examples less or especially more often where the sampling strategy may depend on the epoch
* reord

[2021-06-09 15:46] #408 closed

[2021-06-09 15:46] #742 closed

[2021-06-09 15:55] Timoeller commented on #798
I think there are a couple of interesting thoughts.

### reorder
The last time I checked the DataLoader I thought it would shuffle automatically. But now I realize the default value for shuffle is False.
This is incredible useful and I already opened a #799 for this. I think this is so important we should get this into the coming release @julian-risch

### resample
This is more a research related

[2021-06-09 16:35] johann-petrak commented on #798
Thanks for the feedback!
In general, this is all mostly about things I am planning to try for a classification head I am working on.
For the experiments needed for this I would like to use the FARM framework as well and if necessary, add a line of code or two, either just for my own joy or share it as a PR if considered useful.

For reordering, I was also thinking about reordering strategies, wher

[2021-06-10 07:57] DieseKartoffel opened #800 "BertStyleLMProcessor not working with german bert model"
**Describe the bug**
I try to finetune a german bert model with my own text corpus. When I attempt to load the data in, the process will crash at `assert 103 not in tokens #mask token`. I was able to fix the issue by using "bert-base-cased" as the base model. However, I need to finetune "bert-base-german-cased". I tried changing changing other parameters but found that the model name is the cause

[2021-06-11 01:23] DieseKartoffel commented on #800
It is because the [MASK] token is in line 6 of vocab.txt from bert-base-german-cased, and not 103 like for bert-base-cased.
Maybe I can look into creating a PR for this.

[2021-06-11 08:01] #771 closed

[2021-06-11 08:12] julian-risch commented on #771
Fixed in #765

[2021-06-11 08:44] #692 closed

[2021-06-14 12:24] shivanouri opened #801 "Top-n Accuracy for Text Classification Task"
**Question**
I would like to calculate the top-3 accuracy of a text classification task, but as it seems, it's just available for question answering task.
Generally, I'd like to have the probability of classes for the predictions.

**Additional context**
My dataset has 140 classes. I use TextClassificationProcessor, TextClassificationHead and AdaptiveModel.

I'd appreciate any hints on how to achi

[2021-06-14 14:24] johann-petrak commented on #801
I think when the Inferencer is created or loaded the parameter `return_class_probs=True` can be used to return all class probabilities, from those you should be able to find out the top 3?

[2021-06-14 17:49] Timoeller commented on #798
Hey Johann,

Agreed, smart is really not a good word here, what about easy and already implemented? :smile:

Honestly all those things are not top priority for us but we are happy about your quality contributions and it will for sure improve FARM.
How about we proceed with stratified batches first and work our way along your propositions? I believe we can use the https://pytorch.org/docs/stable/da

[2021-06-14 19:15] johann-petrak commented on #798
Thanks for the pointer. Yes, stratified batches would sure be a good starting point!
I will have a look as soon as I get back to this in a week or so.

[2021-06-15 09:57] shivanouri commented on #801
Thanks, problem resolved.

[2021-06-15 09:57] #801 closed

[2021-06-16 06:51] markusgl opened #802 "API https://public-mlflow.deepset.ai/ currently down?"
**Question**
Hi,

I am currently experimenting with the [Colab tutorial notebooks](https://github.com/deepset-ai/FARM#resources), but get a **503 Service Temporarily Unavailable** if a step (MLFlow, DataProcessor etc) tries to call https://public-mlflow.deepset.ai/.
Is this API currently down?

Thanks,
Markus

**Additional context**
[code]
[code]

[2021-06-16 07:02] Timoeller commented on #802
Yes, seems like, thanks for reporting. We will look into it.

[2021-06-16 08:34] oryx1729 commented on #802
Hi @markusgl, thank you for raising the issue. It should now be back up.

[2021-06-16 08:34] #802 closed

[2021-06-16 12:44] julian-risch commented on #800
Hi @DieseKartoffel yes, you are right, 101 is [SEP] token and 102 is [CLS] token. I quickly checked that [here](https://huggingface.co/bert-base-cased/raw/main/tokenizer.json).

[2021-06-16 14:31] julian-risch commented on #800
That would be great! Please let me know how it goes and if you would like to discuss any steps. You are correct that the different vocabularies and indices of special tokens 101, 102 and 103 are causing the problem.

[2021-06-17 15:52] julian-risch commented on #800
@DieseKartoffel Thank you for your contribution to FARM! 👍 Your changes are merged now.

[2021-06-17 15:52] #800 closed

[2021-06-17 19:47] johann-petrak commented on #794
OK, short update: to get inference to work with SageMaker the "standard" approach would be to get inference to work with
torchserve
Did anyone ever try to do that? TBH I do not really understand why torchserve does things the way it wants to do it and what the best way could be to fit FARM inference into this.

[2021-06-21 12:34] aloizel opened #806 "Error while using Farm 0.7.1, index is out of bounds"
Hi guys, I'm using farm 0.7.1 on a databricks cluster, on a cpu instance (I know that gpu will be better for this but we don't have one at the moment) and I'm having trouble but I don't know if the problem is from farm or torch

My problem looks like this issue from torch : https://github.com/pytorch/pytorch/issues/15508 but it should be corrected

I'm on torch 1.7.1 because farm doesn't allow me

[2021-06-21 22:28] DieseKartoffel opened #807 "TextPair Classification with multilabel Problem"
**Question**
Not sure if this is a bug or I am doing something wrong here. I am trying to train a model with multilabel classification and two text inputs (i.e. textpair).

I prepared an example dataset with the following format:
[code]

I found that using `TextPairClassificationProcessor` with `multilabel=True` seems to work fine to prepare the data for training, which I checked with the debugger

[2021-06-22 07:49] Timoeller commented on #806
Hey @aloizel what are you using FARM for inside databricks (notebook)? Sound amazing.

We have recently tested torch 1.8.1 in https://github.com/deepset-ai/FARM/pull/767 and also very recently released a new FARM version https://github.com/deepset-ai/FARM/releases/tag/v0.8.0

At a first glance it looks more like a torch issue, but lets figure this out together.
Could you try updating and report ba

[2021-06-22 08:27] julian-risch commented on #807
Hi @DieseKartoffel The data format looks good to me (and it is the same as in our multilabel classification example: https://github.com/deepset-ai/FARM/blob/master/examples/doc_classification_multilabel.py except for the additional text_b input). Are you providing `label_list = ["0","1","2"]` to the `TextClassificationProcessor`? I will try to reproduce the error message on my side.

[2021-06-22 09:39] DieseKartoffel commented on #807
Hey Julian thank you for looking into this. Yes I tried to work close to your examples for debugging :-)
If a label from the dataset is not part of the label list, farm will already output a useful error code and not start the training.
I also tried it with different labels and prepared corresponding datasets. For example I tried batch size 10 with `label_list=["a","b","c","d","e"]` and got `Value

[2021-06-22 15:53] julian-risch commented on #807
So far, I could not replicate the error. Could you maybe share some code and a small data example? What I did so far is the following:
* I took the https://github.com/deepset-ai/FARM/blob/master/examples/doc_classification_multilabel.py example
* Replaced TextClassificationProcessor with TextPairClassificationProcessor
* Changed the `basic_texts` variable to contain pairs of texts by copying `text

[2021-06-22 21:17] DieseKartoffel commented on #807
I was able to get it working by reproducing your approach step by step. I then compared the code to my project and found that I was using the wrong prediction head... Very easy solution which I should have spotted from the start... Thank you very much for your help!

[2021-06-22 21:17] #807 closed

[2021-06-23 09:32] aloizel commented on #806
Hi ! Thanks for the answer

I found the problem it wasn't due to farm it's ok I close the issue

And yes we are using databricks but we use a library to launch our code as a job not as a notebook, it allows us to scheduled our train and follow our data life cycle

[2021-06-23 09:32] #806 closed

[2021-06-23 15:44] julian-risch opened #808 "allow switching between confidence scores in reader"
Let's have only one score in answers but support switching between the two options: `probability` and `score`
To this end, the prediction head needs to sort based on a switch here:
https://github.com/deepset-ai/FARM/blob/cf6f96ffcedeb7b1341278dcdd6437e99efaa75b/farm/modeling/prediction_head.py#L1467
Right now, answers contain both `probability` and `score`:
[code]

Related issue in Haystack https:

[2021-06-24 01:17] #706 closed

[2021-06-24 14:07] vblagoje opened #810 "Allow torch 1.9 version in requirements.txt"
Hi, is there reason for torch 1.9 to be excluded from requirements.txt dependencies? These days I am working on LFQA demos on Colab which comes with torch 1.9 pre-installed. Every time I install haystack pip picks up torch<1.9,>1.5 dependency from farm and it installs 1.8.1 torch, while 1.9 is already preinstalled.

I've seen that you guys do torch compatibility testing for every new torch release

[2021-06-24 14:39] johann-petrak opened #811 "Implement holdout evaluation in addition to cross validation"
Basically the same as we have now for cross validation, implement `DataSiloForHoldout` with  class method
`make(cls, datasilo, sets=["train", "dev", "test"], n_splits=5, shuffle=True, train_split=0.7,
             stratified=True)`

The advantage of holdout estimatation is that the training and test sizes do not depend on the number of splits and it is possible in some situations to get generaliza

[2021-06-24 19:57] johann-petrak opened #812 "xval example code is incorrect"
The current example program `./examples/doc_classification_crossvalidation.py` is calculating the overal XVAL estimates incorrectly. For each metric, it should really calculate the mean and stdev over all folds instead of calculating the metric over all fold data.  In most cases, the difference is probably tiny, but the way this is calculated now is definitely wrong.

[2021-06-25 14:24] markusgl opened #813 "How to use calculate_class_weights with NERProcessor"
**Question**
Hi, I am currently fine-tuning a BERT-Model on a custom NER dataset. The classes are very imbalanced, so I tried to use the _calculate_class_weights_ method on my data silo. Unfortunately I ran into errors and I am not really sure which "task_type" to set.
My Script is based on [this example](https://github.com/deepset-ai/FARM/blob/master/examples/ner.py) with a few parameter adjustme

[2021-06-25 16:42] Timoeller commented on #810
Good point. We don't mind the update.

How about we test torch 1.9 compatibility first and then increase the range? We had non obvious trouble with torch updates before.
Anyways, getting the new range into Haystack will require a new FARM release first unfortunately...

[2021-06-25 17:03] vblagoje commented on #810
Yeah, sure no problem, that sounds great! Thanks @Timoeller

[2021-06-28 16:18] Timoeller commented on #781
Fixed by #803

[2021-06-28 16:18] #781 closed

[2021-06-28 16:20] Timoeller commented on #705
The linked PR 803 was unrelated to Model Confidence, so reopening issue again.

[2021-06-28 17:13] Timoeller commented on #747
BigBird is now in FARM with #790
Thanks @tanmaylaud

[2021-06-28 17:13] #747 closed

[2021-06-29 11:32] johann-petrak commented on #812
Metrics logged for the current implementation (single run, seed 42):

[code]

[2021-06-29 14:20] johann-petrak commented on #812
New implementation:

[code]

[2021-06-29 15:18] Timoeller opened #816 "Improve confidence score - take start and end values"
Currently we are only using the value of start answers.

Lets implement the mean between start and end probability.

[2021-06-29 19:41] johann-petrak commented on #811
Holdout estimation, with `doc_classification_holdout.py` example script, 5-fold, stratified, 0.8:

[code]

This is quite a bit better than when running the crossvalidation sample.

[2021-06-30 05:43] johann-petrak opened #819 "Do devset stratification"
If there is a large class imbalance, the devset class distribution may be randomly off quite a bit which in turn will negatively impact the loss and metric estimates which in turn can lead to poor early stopping decisions.

I think we should add the parameter `dev_stratification` for the text classification processor and do stratified dev set creation if this parameter is True (default is False fo

[2021-06-30 05:47] johann-petrak commented on #819
This means I would move the devset stratification approach I have implemented now for holdout estimation to `DataSilo._create_dev_from_train()`.

So if we do this, the PR for this should get pulled before PRs   818 and 817.

Please let me know if you are in favour of doing this.

[2021-07-01 09:56] julian-risch commented on #763
Hi @florianbaer the problem is the slightly different architecture of the ElectraClassificationHead. As you reported, there is a mismatch of the names of the layers that we store in FARM ("weight", "bias") and the names of the layers that are expected by the ElectraClassificationHead of transformers ("dense.weight", "dense.bias", "out_proj.weight", "out_proj.bias").
[code]
https://github.com/huggi

[2021-07-01 11:01] markusgl opened #821 "Different prediction after Huggingface conversion"
**Question**

Hi,

I fine tuned a german uncased BERT model ("dbmdz/bert-base-german-uncased") for NER tasks using Germeval2014+some custom examples and converted it to Huggingface using [this example.](https://github.com/deepset-ai/FARM/blob/master/examples/conversion_huggingface_models.py)
After conversion the prediction and tokenization is different than before when using the Farm Inferencer.

[2021-07-02 11:28] #716 closed

[2021-07-02 21:29] johann-petrak commented on #819
Since I have to get a number of things running in the next weeks  with or without FARM, I wonder if there is any way of how to plan larger additions with the FARM development team. I would still like to share the stuff I have to do and provide it to FARM, but if it is difficult and not possible without longer delays I would prefer to implement my own solution without FARM for the specific problems

[2021-07-03 10:57] DieseKartoffel opened #822 "NER Inference always returns empty list"
**Question**
Hello,

I trained an NER model on my own dataset (about 30k labeled sentences) and the evaluation looks very promising (Test set has about 93% accuracy on 18 different entity types). However, whenever I run inference, i always get an empty predictions list. I tried many examples from my train and test set and never got any prediction.

 This is not the case when I use the model that w

[2021-07-05 09:29] #810 closed

[2021-07-05 13:33] Timoeller commented on #819
Hey Johan, totally understandable that you want to get feedback on your work quickly. If you createa single PR, without the old history, I can merge this very quickly (<24 hours). Does that sound OK?

For the future we can discuss alternatives - I send you an email with some dates for a call.

[2021-07-05 15:29] johann-petrak commented on #819
Thanks - I will then now work on issues 811, 812, and this one (819) and provide one PR for these (without any annoying additional history).
Will close the current PRs for 811 and 812.

[2021-07-05 21:21] johann-petrak opened #823 "Devset split does not work with max_processes=1"
Tried this with FARM version 1.8.1:

When the data silo is created with max_processes=1, then a textclassification processor with dev_split=0.1 or 0.4 fails to create a dev split and shows the following exception:

[code]

The problem here seems to be that when reading the data, the data instances are grouped into chunks  and that the train/dev split can only be done in multiples of chunks and wit

[2021-07-06 07:38] Timoeller commented on #823
Thanks for bringing this up again. This behaviour is know and documented in #583 but since we did not receive any traction we let the issue go stale.

The problem is pytorchs split function did not operate on Concatdatasets - Concatdatasets are used when we chunk data for each process and combine the chunks again afterwards.
When we do not use multiprocessing we do not chunk, therefore do not have

[2021-07-06 09:57] johann-petrak commented on #823
Sorry I missed #538

I just created this because I wanted to know if people are aware and what their opinion is on this.

I have in the meantime found a solution that would fix this, because the same problem arises when one tries to do dev set stratification (or really any dev set split) properly.
So my implementation for #819 will also fix this and create better than "approximate" dev set splits

[2021-07-07 18:19] TharinduDR opened #826 "SentencePairRegression Multitask Learning"
**Question**
Thank you for the wonderful repository. I am trying to do multitask learning on two sentence pair regression tasks. I am using the latest FARM version - farm 0.8.0. I am getting a few issues.

My dataset looks like this.

|text                                                             |text_b

[2021-07-08 09:11] Timoeller commented on #811
fixed by #825

[2021-07-08 09:11] #811 closed

[2021-07-08 09:12] Timoeller commented on #812
fixed by #825

[2021-07-08 09:12] #812 closed

[2021-07-08 09:12] Timoeller commented on #819
fixed by #825

[2021-07-08 09:12] #819 closed

[2021-07-08 09:12] Timoeller commented on #823
fixed by #825

[2021-07-08 09:12] #823 closed

[2021-07-08 12:45] florianbaer commented on #763
Hi @julian-risch
I would love to help. Currently, i am in the military service - I could take a look at it in about a month (if it's not too late).  As workaround, I use the FARM-Infer Module for the predictions - it was only for a demonstration application for my bsc thesis - regarding my thesis I would love to say the following: THANKS for providing FARM as Open Source Software - it was **VERY H

[2021-07-08 13:00] julian-risch commented on #763
Great to hear that Florian! Let me know if any questions come up in a month. It's no problem if it takes some time. I would encourage you to create a work-in-progress pull request when you start working on this topic and reference this issue here. This way, we can give feedback early on.

[2021-07-09 07:36] FabriceEll commented on #822
I came across this issue as well a couple months ago when using FARM in my Windows work environment, ended up not using NER because of this which kinda sucks

[2021-07-09 15:53] johann-petrak commented on #798
I think the most flexible way to approach this would be if we could just specify a sampler to use instead of the distribute/random sampler used now by default in the data silo. The problem is that the sampler gets initialized in the silo with the dataset, but ideally we want to parametrize our own silo implementation.

So either we provide to the DataSilo
* a sampler class where all the configurat

[2021-07-12 09:00] thenewera-ru commented on #620
May I also join the discussion :-) We also use `FARM` framework in our pipelines and right now we're required to add additional UI `checkbox` whether or not using the `fancy-preprocessing` (like replacing smiles with contextual meaning or simply remove them, etc...).

So, if one-time UI code sharing as a zip-archive is possible, it would be so cool 😎 . As @demarant mentioned the UI added code by t

[2021-07-12 11:31] julian-risch commented on #822
Hi @DieseKartoffel and @FabriceEll I can have a look at this problem but it will take some time(~2 weeks). Maybe this test case helps if you look into it yourselves. The test case uses another model, which also works: https://github.com/deepset-ai/FARM/blob/81d1b31791a213be17709cf9d46f9c9981579e34/test/test_conversion.py#L156

[2021-07-12 11:39] julian-risch commented on #822
Could you please try loading the inferencer with `inferencer = Inferencer.load(save_dir, task_type="ner", num_processes=0)`? If the inferencer is the problem, maybe you can find out whether the storing of the model and loading of the inferencer does work correctly?

[2021-07-12 14:12] johann-petrak opened #827 "Classification: is it possible to have targets/classes which are "missing values"?"
Is there a way to handle instances where the target is a "missing value"? So in addition to proper labels, maybe if the target is something like the empty string or some configurable value (e.g. "NA"), the head would treat this as a missing value, and exclude it from the calculation of the loss function.

This would be very useful in multitask-learning where not all target values are available for

[2021-07-12 19:56] DieseKartoffel commented on #822
Hello Julian,
thank you for looking into this! Hopefully we can find the problem soon. I didn't know about the conversion test so I used the code from there. I also initialized the inferencer with task type and without multiprocessing (tried linux and windows) but never got any predictions.
However I found that the prediction head returns the correct probabilites for my inference example! At the c

[2021-07-13 07:47] julian-risch commented on #822
@DieseKartoffel Great insights! You identified the problem. IOB stands for Inside–Outside–Beginning and is a tagging format. FARM uses the IOB2 Format: https://en.wikipedia.org/wiki/Inside%E2%80%93outside%E2%80%93beginning_(tagging) B marks the first token (beginning) of an entity, I marks a token within an entity and O is a token outside of an entity. Example:

is O
going O
to O
Los B-LOC
Angeles

[2021-07-13 10:20] #770 closed

[2021-07-13 15:35] #816 closed

[2021-07-15 14:53] johann-petrak opened #829 "Remove unnecessary logging statement"
There is a left-over logging statement in the `data_silo` code, line 431, remove it.
https://github.com/deepset-ai/FARM/blob/3e7ca55533e3614015e0cff51a4b09fb990db770/farm/data_handler/data_silo.py#L431

[2021-07-15 16:24] #829 closed

[2021-07-18 02:26] Ark-kun opened #831 "Does the public MLFlow server support uploading artifacts and models?"
First of all, thank you a lot for providing public MLFlow server. MLFlow is surprisingly inconvenient to deploy, so this really helps trying out `farm`.

I'm trying to get a grip on model logging and it looks like I cannot log any artifacts.

[code]
[code]

Is this expected?

[2021-07-19 12:38] Timoeller commented on #831
Our public MLFlow instance is rather small, so logging artifacts or even whole models would made it crash.

What kind of problems arise when setting up your own MLFlow, maybe also the MLFlow community help there?

[2021-07-23 13:35] #731 closed

[2021-07-23 15:30] DHOFM opened #832 "Different Results between FARM and Huggingface pretrained"
Warning: This is related to German HateSpeech Detection, so there will be examples, that maybe would insult you.

There are different results using FARM and deepset/bert-base-german-cased-hatespeech-GermEval18Coarse from huggingface  We can try huggingface API or simple use the Transformers like this:

from transformers import pipeline

sentiment_analysis = pipeline("text-classification", model="d

[2021-07-27 14:16] Timoeller commented on #832
Hey @DHOFM thanks for the detailed description.

So you are saying you cannot replicate the same performance when training models? I thought you meant the inference of our `deepset/bert-base-german-cased-hatespeech-GermEval18Coarse` is different in FARM vs HF/Transformers?

Getting different models that predict different things **when training** (also with same seed) is not uncommon. There are man

[2021-07-29 09:47] rollator3000 commented on #152
Thanks for the great work @johann-petrak, it works fine in my case! I only had to adjust two things:

*(1)* Spelling-Error:
` f1micro = f1_score(y_true=labels, y_pred=preds, average="macro")`
should actually be
` f1micro = f1_score(y_true=labels, y_pred=preds, average="micro")`

*(2)* register_metrics _(in farm 0.8.0)_ is imported via:
`from farm.evaluation.metrics import simple_accuracy, register

[2021-07-29 09:56] TharinduDR commented on #826
Any help on this?

[2021-07-29 10:07] johann-petrak commented on #152
@rollator3000 if you look at the example files, the code there should be correct, e.g. https://github.com/deepset-ai/FARM/blob/56ed798d0f4b9fc6baa49b388e4ad49d3cd8f949/examples/doc_classification_with_earlystopping.py#L61 or https://github.com/deepset-ai/FARM/blob/56ed798d0f4b9fc6baa49b388e4ad49d3cd8f949/examples/doc_classification_crossvalidation.py#L77 and also the imports in those files.

Is yo

[2021-07-30 09:56] codingmercy1993 opened #834 "requirements.txt -> loosen up mlflow restriction"
**Question**
Hey guys!
FARM has strictly specified mlflow<=1.13.1 version in requirements.
This version is more than one year old.
We want to use FARM in a corporate context where we need to use a relatively new mlflow version (mlflow == 1.19.0).
Unfortunately this procudes conflicts that we can not resolve.
We already discuss about forking FARM to manage these conlicts.

What do you think about i

[2021-07-30 10:00] Timoeller commented on #834
Hey sure, this is a good idea.

Could you create a PR and test if the logging works for some of the examples in combination with our https://public-mlflow.deepset.ai/#/ server?

[2021-08-04 16:47] #728 closed

[2021-08-10 10:01] rollator3000 commented on #142
Hi :wave:, I'm doing a Multi-Label text-classification  & was wondering, if it is meaningful to initialize the prediction head like this:

`
prediction_head = MultiLabelTextClassificationHead(num_labels = len(label_list), class_weights = data_silo.calculate_class_weights(task_name="text_classification"))
`

Or is there rather something like a special 'task_name' for multi-label classification? I'v

[2021-08-12 13:00] #743 closed

[2021-08-17 00:14] rdemorais opened #835 "How to correctly add more training data to an existing model?"
**Question**
Guys, I have a NER model trained with 5 classes. Now I'd like to add one more class giving tagged data for that new class. Unfortunately, if use this approach, even if my language model is the previous trained NER, it just get information for the last class, loosing all the others.

So, how can I add more data to a NER model without the need to train everything again?

**Additional co

[2021-08-17 08:24] EikeKohl commented on #813
I have the same issue. After investigating the `calculate_class_weights()` implementation it seems like the method is not implemented for the NER task yet.
Are you guys working on it already?

[2021-08-17 17:10] EddyDavies opened #837 "current process gets forked, after parallelism has already been used"
**Describe the bug**
When using the DataSilo function following this [article](https://towardsdatascience.com/fine-tuning-bert-for-text-classification-with-farm-2880665065e2) the second cell under Data Processor produce this error code.
**Error message**

[code]

**Expected behavior**
No error message

**To Reproduce**
Run the Jupyter Notebook from the article

**System:**
 - OS: Mac 11.5
 - GPU/C

[2021-08-18 10:25] EddyDavies opened #838 "DataSilo fails to load data"
**Describe the bug**
As DataSilo is being run to load the training data it just errors out, not sure why, sorry I don't have more details. Following the notebook in this [article](https://towardsdatascience.com/fine-tuning-bert-for-text-classification-with-farm-2880665065e2).

**Error message**
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Addition

[2021-08-18 17:39] #808 closed

[2021-08-20 08:39] julian-risch commented on #822
closed by #828

[2021-08-20 08:39] #822 closed

[2021-08-27 12:15] PhaneendraGunda opened #839 "Fine-Tuned Transformers model conversion failed using Converter.convert_from_transformers()"
**Describe the bug**
FARM conversion module **Converter.convert_from_transformers**  is failed to load the fine-tuned Transformer model from local storage. Language Model from the FARM is looking for **language_model_config.json** which is not available in fine-tuned HuggingFace Transformer model.

[code]

**Error message**
08/27/2021 17:27:58 - INFO - farm.modeling.language_model -   LOADING MODE

[2021-08-30 13:09] julian-risch commented on #839
Hi @PhaneendraGunda you've already found the source of the error. FARM currently only supports loading from a local directory if the stored model is in FARM format. That would work for you if you load a model from the model hub and then finetune it with FARM. However, it currently does not work out-of-the-box if you finetune the model with transformers outside of FARM.
I think renaming the file pa

[2021-08-30 15:06] PhaneendraGunda commented on #839
Make sense. I would love to update the code to load fine-tuned Transformers model from the local path. Let me explore FARM library further as I am new to this. Anyway we can discuss further in Haystack Slack channel if you there. Thank you for your time.

[2021-08-30 17:02] julian-risch commented on #763
Hi @florianbaer I hope you are doing well. Any updates regarding this issue here on electra models? If you start working on this issue, feel free to create a work-in-progress pull request and link this issue.

[2021-08-31 05:34] florianbaer commented on #763
Hi @julian-risch
Sorry, totally forgot about it (shame on me). I will create a work on progress pull request when I will start it.

[2021-08-31 08:46] julian-risch commented on #838
Hi @EddyDavies the DataSilo has a parameter `max_processes`. I suggest that you set this parameter to 1 to disable multiprocessing and see whether that is a workaround https://github.com/deepset-ai/FARM/blob/004ed2c6dbd9d7a2af85d57ec89a689b9363e6c1/farm/data_handler/data_silo.py#L48
We had a similar issue a long time ago but it was for a different reason #97
Your error message says `Reason: 'Runti

[2021-09-01 10:47] vbankov commented on #794
hi @johann-petrak, it is definitely possible to use FARM for serving predictions on a SageMaker endpoint by wrapping it up with an API like Flask and containerizing all of the code responsible for inference.

The basic need is for the API to respond to requests against */invocations* and */ping* in order for it to be compatible with SageMaker's serving framework. Some documentation that could help

[2021-09-19 12:42] florianbaer commented on #763
@julian-risch I took a quick look into the code. I would be able to integrate the warning - but for fixing the conversion - i think i am not qualified enought. So should i just implement the warning and then make the pr?

[2021-09-20 06:53] julian-risch commented on #763
Hi @florianbaer thanks for having a look at the code. I think the warning would be a nice addition. However, we are in the process of migrating FARM into haystack. I am not sure whether it's a good point in time now to work on this issue (even if it is a small issue). @Timoeller what do you think? Could Florian work on the issue here in FARM and we move his changes to haystack later on or should h

[2021-09-20 10:11] Timoeller commented on #763
Hey, so the warning is about converting classification electra models. We wont merge the classification part of FARM to Haystack so we can add the warning here in FARM.

@florianbaer yes please add the awarning, it would be a good addition so others at least know why it fails. But keep in mind, since we migrate most parts of FARM to haystack, we cannot support you much in the contribution (sorry).

[2021-09-23 05:59] shairoz-deci opened #840 "reproducing results in huggingface"
**Question**
I've train roberta base on squad v2 using
[code]
python -u transformers/examples/pytorch/question-answering/run_qa.py --model_name_or_path FARM/saved_models/bert-english-qa-tutorial/ --train_file squad2/train-v2.0.json --validation_file squad2/dev-v2.0.json --do_eval --per_device_train_batch_size 4 --max_seq_length 384 --doc_stride 128 --output_dir /tmp/debug_squad/ --tokenizer_name F

[2021-09-23 06:38] #840 closed

[2021-09-23 06:39] shairoz-deci commented on #840
Found the conversion example, closing

[2021-09-23 09:49] #695 closed

[2021-09-23 09:49] #751 closed

[2021-09-23 10:49] #754 closed

[2021-09-24 09:51] #573 closed

[2021-09-24 18:51] #668 closed

[2021-09-24 18:51] #670 closed

[2021-09-25 07:57] imvetri opened #841 "How do I setup a question answering system ?"
**Question**
How do I build a question answering system?
How do I make the question answering system to correct its facts?
How do I make the question answering system to perform fact checks and ask a question to me?
How do I set a goal to the question answering system so that it asks more and more cross questions to correct the facts and reaches definition of done?

I'm new to this and I am trying

[2021-09-25 19:18] #675 closed

[2021-09-25 19:18] #739 closed

[2021-09-27 13:13] julianhoegerl commented on #439
Which line of Code do you need to load the processor?

[2021-09-28 09:14] Timoeller commented on #841
Hey @imvetri I will move this issue to our more active repo Haystack, which has a strong focus on question answering. We will help you there.

[2021-09-28 21:26] shahrukhx01 opened #842 "MTL Processor QA + Classification"
**Question**
Hi, I’ve went through the PR #778 and it’s corresponding code example in the ‘examples’. However, I’m still not sure whether the Farm processors support heterogeneous processor for MTL. For instance if I want to use squad processor and text classification processor for a MTL model, would it be possible in FARM? Thanks.

[2021-09-29 15:25] #762 closed

[2021-10-09 01:25] #764 closed

[2021-10-10 07:56] #678 closed

[2021-10-13 03:11] rdemorais commented on #813
+1 here

[2021-10-21 20:06] golubovic opened #843 "Querying API Docker examples"
**Question**
Is there example of structure of HTTP requests needed to query supported models?

**Additional context**
N/A

[2021-11-05 20:00] #709 closed

[2021-11-06 12:47] johann-petrak opened #844 "Should be possible to use the proper aggregated loss for early stopping"
Currently there is no easy way to use the aggregated loss as used for optimization also for early stopping.

It is possible to define a function for the ES metric which can aggregate the per-head losses from the devset evaluation,
but for this, the global step and batch number parameters cannot be provided because they do not get passed to the `check_stopping` method.  Also, that function would ge

[2021-11-11 16:21] cjb06776 opened #845 "AdaptiveModel.convert_to_onnx does not save float16 model conversion to output_path"
I think there is a small bug with `AdaptiveModel.convert_to_onnx` when enabling float16 conversion:

https://github.com/deepset-ai/FARM/blob/7305a17979b0a80dbe2dbebe5815450883f20627/farm/modeling/adaptive_model.py#L614-L624

The resulting model file ends up in the current working directory instead of `output_path/model.onnx`.

Should be something like:

[code]

[2021-11-11 16:45] Timoeller commented on #845
Good catch, do you want to create a PR for it?

[2021-11-11 16:48] Timoeller commented on #844
Hey @johann-petrak as usual we would be happy about your contributions but please be patient regarding getting our feedback, we are currently very busy with topics related to Haystack. If the solution is very encapsulated I could see it being reviewed and merged rather quickly though : )

[2021-11-11 17:42] johann-petrak commented on #844
I have a solution for this and quite a number of other things in some code I copy-pasted because I needed to use it quite quickly for myself.
I can definitely provide a PR for this after I have completed the work here for my own deadlines in the next couple of weeks.
The implementation would basically just use a slightly modified evaluator class, also inside the train method, and a predefined metr

[2021-11-11 18:46] #845 closed

[2021-11-12 15:41] cjb06776 opened #847 "ONNXAdaptiveModel causes NameError: name 'onnxruntime' is not defined"
When trying to load an ONNX model:
[code]
Looks like `ONNXAdaptiveModel.__init__` is perhaps just missing a local `import onnxruntime`, as is done in `ONNXAdaptiveModel.load`.

https://github.com/deepset-ai/FARM/blob/77530ab088bf634b1e0943fb95fd9b7bb04edb4d/farm/modeling/adaptive_model.py#L638-L643

I've manually worked around it by adding the import, after which everything else seems to work fine

[2021-11-12 16:47] Timoeller commented on #847
It seems we havent really worked much with ONNX models... :smile:
If you could create a PR fixing this that would be great!

[2021-11-12 18:20] #847 closed

[2021-11-13 08:59] kakanixiya opened #849 "Error reporting using other pre training models"
Hello!
I will make some mistakes after modifying the training model

For example, xlnet model: AttributeError: 'XLNetModel' object has no attribute 'output_hidden_states'

And tinybert model: ValueError: Unrecognized model in huawei-noah/TinyBERT_4L_zh. Should have a `model_type` key in its config.json, or contain one ...

I didn't find out how to solve it by consulting the data. Please know how t

[2021-11-13 20:24] #726 closed

[2021-11-16 01:40] kakanixiya commented on #849
The xlnet model is loading 'question'_ Answering ',' embeddings', 'ner' can be used, but in 'text_ The error "attributeerror: 'xlnetforsequenceclassification' object has no attribute 'classifier' will appear in the classification 'task

[2021-11-16 20:16] #705 closed

[2021-11-18 13:19] shrikantpandey13 opened #850 "how to predict on single data points for classification problem.?"
**Question**
how to predict on single data points for classification problem.

**Additional context**
 I am not able to see any context, how to predict on single data points for classification problem.

Please help here...

[2021-11-19 20:48] #821 closed

[2021-11-22 10:31] Stefan-Pasch opened #851 "Error Importing Inferencer"
Hi,

since today, I receive the following error when important Inferencer from farm.infer.:

**_OSError: libtorch_cuda_cpp.so: cannot open shared object file: No such file or directory_**

I am running FARM on Colab. The error also occurs when installing FARM in the way specified in the FARM-Colab Tutorials:

_!pip install farm
!pip install torch==1.5.0+cu101 -f https://download.pytorch.org/whl/to

[2021-11-22 11:36] Timoeller commented on #851
Hey Stefan, we also receive this error when our Haystack notebooks are used.
Please have a look at this issue and if Bogdans answer also resolves your FARM colab problems:
https://github.com/deepset-ai/haystack/issues/1786

[2021-11-22 11:55] Stefan-Pasch commented on #851
Hi Timo,
many thanks for your quick reply! In fact, the problem in my FARM colab was resolved when installing torch in the following way:

`!pip install torch==1.10.0+cu111 -f https://download.pytorch.org/whl/cu111/torch_stable.html
`

[2021-11-22 11:55] #851 closed

[2021-11-22 12:11] #850 closed

[2021-11-22 12:12] shrikantpandey13 commented on #850
I found the solution for single data points predictions.

Thanks a lot.

[2021-11-22 13:15] Timoeller commented on #851
Perfect.

Please be aware that other (possibly hidden) bugs could emerge when updating the torch version without thorough testing.
We have experienced problems with TAPAS in Haystack when using some torch==1.10.X versions.

[2021-11-22 13:16] Timoeller commented on #850
Great self help :)

Can you share what was the solution?

[2021-11-23 10:48] sumanthp opened #852 "Retreiver Fine Tuning : Are language models like roberta, gpt2 supported to use in retreiver?"
**Question**
Are fine tuned language models like roberta, gpt2 are supported to used in haystack retriever?

**Additional context**
I am trying to fine tune transformer language models - roberta using masked language modelling and gpt2 using casual language modelling. When I try to integrate these in haystack embedding retriever, errors are returned.
For roberta - mlm part of codebert is currently

[2021-11-23 10:57] Timoeller commented on #852
Could you please open the issue in haystack next time?

Bert based retrievers should be finetuned on supervised data (e.g. containing querys and matching document pairs). Finetuning them with MLM doesnt help so much. But if you still want to try, please finetune a normal BERT model (not roberta) and try it out.

For GPT-2 this is different, this model is currently not supported as retriever. How w

[2021-11-23 15:28] sumanthp commented on #852
Thanks Timoeller for the reply. Sorry, I have opened this issue in FARM repo by mistake.

[2021-11-23 15:34] Timoeller commented on #852
No harm done, so no problem :D If you want to go deeper into finetuning retrievers please feel free to open another issue in haystack. Maybe focus on finetuning bert based retrievers (not GPT-2) as a start...

[2021-11-27 12:53] ofrimasad opened #853 "Can't train a language model"
**Question**
Hey I am trying to train a language model called `onlplab/alephbert-base`(a Hebrew language model, closest to Roberta).
But when i call `trainer.train()` I get an error:

[code]
Any idea why is that happening?

My batch size is small (not close to filling the GPU mem).
I have tried `LanguageModel.load(lang_model, language_model_class='Roberta')` (since my model also does not use token

[2021-11-29 10:42] #798 closed

[2021-12-01 17:49] Timoeller commented on #853
Hey this error seems strange. I believe it is rather pytorch or huggingface transformers related than a problem within FARM.

Have you tried using only the CPU to let the code run?

[2021-12-01 17:52] Timoeller commented on #853
Actually this post from pytorch says your cuda might be running out of memory, so you should just try to lower the batch size or max_seq length.
See https://discuss.pytorch.org/t/cuda-error-cublas-status-not-initialized-when-calling-cublascreate-handle/125450/2

[2021-12-02 02:01] #827 closed

[2021-12-02 20:07] ofrimasad commented on #853
hi @Timoeller.
I have actually managed to narrow this down.
My model expects `batch['segment_ids']` to be all 0 (just like Roberta does).
When I use `deepset/roberta-base-squad2` model this is exactly what happens.
but when using my model i get `batch['segment_ids']` containing 1 as well.
I can't find in the documentation any way to set all segment_ids to 0. I suspect it is looking for the model t

[2021-12-08 07:57] #831 closed

[2021-12-15 20:05] #832 closed

[2021-12-18 00:31] #826 closed

[2021-12-19 07:08] #834 closed

[2022-01-06 01:13] #837 closed

[2022-01-06 01:13] #835 closed

[2022-01-20 00:44] #839 closed

[2022-01-22 03:29] #838 closed

[2022-01-22 03:29] #794 closed

[2022-02-11 06:25] #763 closed

[2022-02-18 16:59] #852 closed

[2022-02-19 11:57] #842 closed

[2022-03-06 03:41] #813 closed

[2022-03-08 20:48] kishb87 opened #854 "Max token size?"
**Question**
I am currently using the Huggingface deepset/roberta-base-squad2 model for Question-Answering. From what I understand, RoBERTa has a max token length of 512 yet I am able to provide larger documents as context.

Can you provide some insight into how this model is able to do this? Does the model chunk the context into multiple tokens or is this a variation of RoBERTa that allows for lo

[2022-03-09 20:32] Timoeller commented on #854
Hey sure, thanks for reaching out. We recently moved all our QA functionality to https://github.com/deepset-ai/haystack, so please ask future questions there.

About your question: yes, roberta has a 512 token lengths limit but QA methods chunk text into smaller pieces and aggregate the answers over these multiple chunks (or even across multiple documents).

Hope that helps?

[2022-03-09 22:08] kishb87 commented on #854
It does. Thanks for the help. Will definitely ask future questions in the other thread.

[2022-03-09 22:08] #854 closed

[2022-03-12 17:07] #843 closed

[2022-03-25 06:18] nollied opened #855 "summarization"
would be very cool to see abstractive and extractive summarization techniques implemented :D

[2022-03-25 08:39] Timoeller commented on #855
We already did, please have a look at our actively maintained project haystack: https://haystack.deepset.ai/components/summarizer

[2022-03-31 00:43] LeonardoSanBenitez opened #856 "Combine several models into one with several prediction heads"
**Question**
Is it possible to combine several models into one with several prediction heads?

**Additional context**
I have independly trained several adaptative models, all of them using the same language model
Each adaptative model have one text classification prediction head
I would like to merge/join/aggregate the several adaptative models into one, with multiple prediction heads

There is th

[2022-03-31 15:31] Timoeller commented on #856
Sorry, we do not actively maintain this project any longer, unfortunately, see https://github.com/deepset-ai/FARM/commit/2fc801d1d0c973cb36bc867907d4250d1084493b

[2022-04-03 16:59] #844 closed

[2022-04-04 12:30] cschloh commented on #299
Hi  @Timoeller ,
I am trying to verify whether I used the correct libraries/ imports to use your solution code:)

# Issue 1
from farm.data_handler.processor import SquadProcessor
from farm.data_handler.data_silo import DataSilo or from farm.data_handler import data_silo
from farm.modeling.adaptive_model import AdaptiveModel

#Issue 2
Error: module 'farm.data_handler.data_silo' has no attribute 'pr

[2022-04-13 07:08] #849 closed

[2022-04-24 04:28] #853 closed

[2022-04-28 10:37] gokul427 commented on #299
retriever = EmbeddingRetriever(
    document_store=document_store, embedding_model="all-MiniLM-L6-v2", use_gpu=False
)

downloaded sentence-transformers/all-MiniLM-L6-v2 locally, but it does not have processor_config file

  File "/Users/ghraj/myhaystack/lib/python3.8/site-packages/haystack/nodes/retriever/_embedding_encoder.py", line 48, in __init__
    self.embedding_model = Inferencer.load(
  F

[2022-04-29 15:58] pbsprashanth113 opened #858 "Need a guidance on Multi label Classification"
**Question**
Need a guidance on Multi label Classification

**Additional context**
We are working on Multi label text classification problem to classify to classes such as current states(Negative low, Negative high, Positive High, Positive low) and desired states(Positive High, Positive low ), currently we have labelled around 50 posts,

As I am beginner to this, could someone guide right approach

[2022-04-29 16:40] Timoeller commented on #299
hey, this seems to be an issue rather related to our active project [haystack](https://github.com/deepset-ai/haystack). Please ask there next time.

When looking at your code you could try loading your model differently like we show it in our [docs](https://haystack.deepset.ai/components/retriever#embedding-retrieval-recommended):
[code]

[2022-06-14 05:57] bala1802 commented on #299
Hi, may I please know how this issue is resolved?

[2022-06-14 10:24] Timoeller commented on #299
hey, please create a new issue in https://github.com/deepset-ai/haystack/issues and describe your problem in more detail there, please. This issue was about FarmReader models, I believe you want to know about sentencetransformer models?

[2022-07-21 09:32] #855 closed

[2022-07-21 12:28] sjrl commented on #858
Sorry, we do not actively maintain this project any longer.

We migrated the core modeling parts of FARM into [Haystack](https://github.com/deepset-ai/haystack/). All active development is happening there and this repo is not actively maintained anymore! Go over there to ask questions & create issues!

[2022-08-09 05:48] JiangYanting opened #859 "Extract embedding while using parameter "extraction_strategy="per_token"""
**Question**
 Hello! I used the script "embeddings_extraction.py", and I input the sentence as below:
  `basic_texts = [ {"text": "apple is delicious fruit"} ] `
  `model = Inferencer.load(lang_model, task_type="embeddings", gpu=use_gpu, batch_size=batch_size, **extraction_strategy="per_token"**, extraction_layer=-1, num_processes=0)`
  `result = model.inference_from_dicts(dicts=basic_texts)`

 I

[2022-09-09 00:48] #856 closed

[2022-11-02 14:08] johann-petrak opened #860 "Which pytorch (and other package) versions are actually required"
When `pip install farm` is run, only certain PyTorch versions are allowed (<1.10) and mlflow versions are restricted to <=1.13.1

Why is this? It makes it increasingly difficult to use the library with other software that expects more recent versions of those libraries.

Is it precautionary or are there actual known problems with more recent versions (which could possibly get solved, of course)?