[2019-07-29 10:37] tholor opened #16 "Initialize Inferencer from building blocks"
Currently the inferencer is always constructed by loading a saved model from disk:
https://github.com/deepset-ai/FARM/blob/a537b25c9bf604c49acc4a7414ab52c56aac4ab9/farm/infer.py#L30-L58

Let's change it to have a classmethod "load" for doing this and a constructor expecting an adaptive model + processor.

[2019-07-29 10:43] tholor opened #17 "Add XLNet"
Let's add XLNet as a second language model to the farm. Should be a good first alternative to BERT in many cases.

[2019-07-30 08:59] Seb0 commented on #17
What do you think about ULMFiT as an alternative for smaller datasets?

[2019-07-30 09:05] Seb0 opened #19 "Add changelog"
I advocate for adding a CHANGELOG.md or CHANGES.md document as a toplevel resource in the repo to be able to follow changes / fixes / new commits. Having to look at the commits is a lot of work for users of your framework, especially when you have rapid iteration and are getting a lot of stuff done.

If you don't want to write down changes by hand, you could generate them from squashed commits. Us

[2019-07-30 09:43] Timoeller commented on #17
We would be more than delighted if you implement ULMFit for FARM and will support you wherever we can. We believe only a variety of different Representation Models will create a healthy farm : ) or even improve performance when ensembled.

Currently we are implementing the other more recent Language Models and are unsure about ULMFit since the performance seems to be minor compared to BERT and XLN

[2019-07-30 14:48] tholor opened #21 "Wrong vocab ids for custom vocab"
The user can enrich the vocabulary of an already pretrained language model by supplying a custom vocab. However, if this custom vocab contains tokens that are already present in the original vocab, the indices got messed up in an edge case because the duplicate check is on the "unstripped" token rather than the "stripped" one. This caused some trouble later down my pipeline. I will add a fix soon.

[2019-07-30 15:08] Timoeller commented on #19
We really like this idea and already discussed it over lunch.
We will try to find a good balance between nuisance of very structured commit msgs and useful information being in the changelog. We might also use structured commit msgs to generate better release notes.
Thanks for the hint @Seb0 , we will ping you once it is in place.

[2019-07-30 17:00] #16 closed

[2019-07-31 06:50] polars05 opened #25 "Example for extracting embeddings from text does not work out-of-the-box"
I am trying to run <examples/embeddings_extraction.py> as it is but the following line throws an error "TypeError: expected str, bytes or os.PathLike object, not AdaptiveModel":

https://github.com/deepset-ai/FARM/blob/b5a4f412ab718c7ea317f1d281ec5b77abe0cdbf/examples/embeddings_extraction.py#L46

I would just like to ask: what is the issue here? Thanks!

[2019-07-31 08:08] Timoeller commented on #25
Could it be that you installed FARM through `pip install farm` and are running embeddings_extraction.py via command line?
We made some changes to the Inferencer yesterday, so please reinstall the latest changes by deinstalling through `pip uninstall farm` and then install FARM again through git as explained here: https://github.com/deepset-ai/FARM#installation

Thanks for the hint btw, we also upd

[2019-07-31 08:32] #21 closed

[2019-07-31 09:10] polars05 commented on #25
Thx for the info, @Timoeller! Do you guys intend to make update FARM's pypi package soon?

[2019-07-31 09:14] Timoeller commented on #25
Yes we will, but not as often as we push changes to github (happens on a daily basis) and we want to have well documented releases (which would be too much overhead for each commit).

So I understand installing from github resolved the issue?

[2019-07-31 13:54] busyxin opened #26 "Add Multiprocessing for Datahandling"
This could save us a lot of time when processing large datasets.

[2019-07-31 14:36] Timoeller opened #27 "Colab Notebook referenced in readme does not work"
When trying to open: https://colab.research.google.com/drive/130_7dgVC3VdLBPhiEkGULHmqSlflhmVMfor

it says "Sorry, unable to open the file at this time."

[2019-07-31 14:56] polars05 commented on #25
Yes, this issue is resolved; thanks for your help! Have closed the issue :)

[2019-07-31 14:56] #25 closed

[2019-07-31 14:59] busyxin opened #28 "Add prediction head for regression"
A regression head in the modeling would be a great addition.

[2019-07-31 15:18] brandenchan commented on #27
Should be fixed on the colab branch now

[2019-08-01 08:09] Timoeller commented on #26
I will take care of this the coming days. We need it for SQuAD processing and for large LM finetuning datasets, too.

[2019-08-01 08:56] #27 closed

[2019-08-01 11:00] tholor opened #30 "Accuracy metric in LM finetuning always zero"
The accuracy metric reported by the Evaluator for masked LM task during LM finetuning is wrong. This is due to the fact that we have there a nested list of predictions with different lengths (different number of masked tokens per sample). This leads to wrongly converted numpy arrays and a wrong metric. I am working on a fix.

[2019-08-02 10:04] Seb0 opened #35 "Proposition: improve dependency management with pipenv"
Coming in with another proposition for your repo (feel free to dismiss if not important to you or not required :) ):
Fix dependency management using pipenv. Why? This article explains it very well and I could only re-articulate the info from it:

https://realpython.com/pipenv-guide/#dependency-management-with-requirementstxt

And here is the pipenv official doc:
https://docs.pipenv.org/en/latest/b

[2019-08-02 10:19] Timoeller commented on #35
Thanks again for another good idea @Seb0
We will talk about this internally. Our framework is targeted towards making NLP as easy as possible to run and deploy on your infastructure. So pipenv could be a good way to overcome the python dependency mess, especially for production environments.
Some questions pop up though:
Are there any downsides to using pipenv? Are there alternatives? What about o

[2019-08-02 10:37] Seb0 commented on #35
Potential Downsides: pipenv's philosophy is, that it wants to establish a deterministic reproducible application. So if you wanted python 2 and python 3 environments -- for example to run as 2 separate environments (e.g. for tests) -- you're out of luck with pipenv.
Also, diving deeper into this, I realized that there seems to be a divide between applications and libraries in terms of how to handl

[2019-08-02 14:24] tholor commented on #30
Fixed by https://github.com/deepset-ai/FARM/pull/31

[2019-08-02 14:24] #30 closed

[2019-08-03 14:38] tripl3a opened #38 "Error when running by config with a list of batch sizes"
The config was like this:

[code]

Which lead to the following, somehow odd, error:

[code]

[2019-08-04 09:17] tripl3a opened #39 "output_dir parameter in run by config is being ignored"
If you set the parameter like this:
[code]
You will get an error if the directory already exists and the run will stop.

If the director does not exist the run will be successfully executed but the directory will be empty afterwards and the log will contain such entries:
[code]

[2019-08-04 13:18] tripl3a commented on #39
Also `dev_size`is being ignored. Trying the three following configurations always defaulted to `dev_size=0.1`.

[code]

[2019-08-05 09:19] KevinStarWars opened #40 "NER+CRF missing as PredictionHead"
Adding **Conditional Random Fields** as PredictionHead for Named Entity Recognition seems promising. Usually CRFs outperform every other type of token classifier.

[2019-08-05 13:41] tanaysoni commented on #38
Hi @tripl3a, thank you for reporting the issue. It was a type error fixed by #41.

[2019-08-05 13:41] #38 closed

[2019-08-05 17:15] tanaysoni commented on #19
Hi @Seb0. Thank you for raising the issue. We evaluated a couple of approaches for automating generation of release notes/changelogs and decided for https://github.com/github-tools/github-release-notes.

We'll have it setup before the next release!

[2019-08-06 10:24] tanaysoni commented on #39
Hi @tripl3a. Thank you for reporting the issue. It is resolved by #43.

[2019-08-06 10:24] #39 closed

[2019-08-06 14:38] tholor opened #46 "Wrong number of total steps for linear warmup schedule"
The number of total steps is currently wrongly calculated due to wrong rounding here: https://github.com/deepset-ai/FARM/blob/90ecbeba0785aced15c27ba5710068844ace8c09/farm/experiment.py#L256

It's resulting in one step less than required per epoch. If running for multiple epochs, this will result in LR = 0 for the last few steps. The related warning message occurs:
 `Training beyond specified 't_t

[2019-08-06 17:06] bnic24 opened #47 "LM finetuning example missing data"
Trying to run `examples/lm_finetuning.py` results in `FileNotFoundError: [Errno 2] No such file or directory: '../data/finetune_sample/train.txt'`. The other examples seem to be able to automatically download the dataset if it's not present.

[2019-08-06 17:27] bnic24 opened #48 "IndexError during data processing"
While putting together a notebook to demonstrate another issue I encountered the following error:

[code]
The error should be reproducible by running the following colab notebook: https://colab.research.google.com/drive/1BWW207df5kHoYrXQOkEwDw5zVv_SnwP-

Perhaps it's just some sort of data cleaning issue, but maybe it's worth looking into if only to  make data processing more robust.

[2019-08-06 18:07] tholor commented on #47
Yep, there's already a PR in the making: https://github.com/deepset-ai/FARM/pull/44
It's currently under review but will be merged soon :)

[2019-08-06 18:17] tholor commented on #47
Just merged it! You should have some dataset containing NIPS papers now for running the example. Just be aware that data preprocessing is currently sequential and therefore rather slow on large datasets. We are already working on speeding things up via multiprocessing in #45. Should be ready within the next days ...

[2019-08-06 18:17] #47 closed

[2019-08-06 18:28] Timoeller commented on #40
Thanks for opening this issue @KevinStarWars
The prediction head for NER needs improvement and adding a CRF on top is a good choice.

Right now we have no concrete plans of implementing one ourselves.
So it would be amazing, if you would code one and create an PR. If you need any help please approach us.

We already had an intern working on NER + CRF with good, but not astonishing results. You can

[2019-08-06 18:49] tholor commented on #48
Hey bnic24,

I had a quick look and I think the reason is that your train.txt contains only a single "doc" with 1000 sentences. You will need multiple docs separated by empty lines.

I suppose this is due to this cell in the Colab Notebook:
[code]
It worked for me after changing the splits to 10k and 15k:
[code]
However, I totally agree that this can be confusing for the user and we should add a w

[2019-08-07 05:15] tripl3a opened #49 "`dev_size` param in run-by-config is being ignored"
I tried setting the `dev_size`parameter in the following ways (in different runs).

[code]

It always defaulted to `dev_size=0.1`. This value is being set in the constructor of my processor, just as in the GermEval examples.

Is this supposed behaviour?

[2019-08-07 12:49] busyxin commented on #28
Working on it in PR #50 .

[2019-08-07 13:53] busyxin opened #51 "Change classification_report param in evaluation to generic report"
Update eval.py to manage reports that are not a classification

[2019-08-07 15:11] #19 closed

[2019-08-08 10:03] tanaysoni commented on #49
Hi @tripl3a. It isn't the supposed behaviour, but an error. It's now fixed by #53.

[2019-08-08 10:03] #49 closed

[2019-08-08 15:52] tholor commented on #46
Fixed by #54

[2019-08-08 15:52] #46 closed

[2019-08-12 08:53] Timoeller commented on #26
We currently have a PR for this: #45 it is still WIP and will be hopefully resolved this week.

[2019-08-13 07:24] tholor opened #57 "Multi-GPU only enabled in experiment mode"
Currently we only allow the usage of multi gpu in the experiment mode (running from configs). Would make sense to make this more generic and allow it also in the "building blocks" mode.

We would need to move the parallelization from here:
https://github.com/deepset-ai/FARM/blob/64b256512b9a0531526b79abec7a39ec454928db/farm/experiment.py#L154-L160
to either `Trainer.train()` or `AdaptiveModel.__in

[2019-08-13 10:44] bnic24 commented on #48
Hey, tholor,

Thanks for looking into this! I see the problem. I don't have time right now, but I might later this week, or early next week. If someone hasn't dealt with it by then, I'll have a go.

[2019-08-14 13:58] tripl3a opened #59 "Add cross-validation for small datasets"
I'm currently working with a pretty small dataset (only 1.8k observations). Therefore, it seems to be appropriate to cross-validate my results. Wouldn't it make sense to add such functionality to FARM? How could this be best implement within the framework?
Cheers, a³

[2019-08-14 15:52] Timoeller opened #60 "German Bert Tokenization produces [UNK] for non alpha-numeric symbols like: "?" "!" "." "@""
English Bert tokenization does not seem to produce [UNK] tokens.

When comparing the vocab.txt files for German and English, I find that the German one does not have standalone "!" or "@" symbols - just "##!" or "##@". Whereas the English vocab contains these symbols.

[2019-08-15 08:39] #57 closed

[2019-08-16 10:25] tholor commented on #35
Thanks for your evaluation and the articles!

As I understand this, pipenv is a great project but probably not the best choice for FARM. Since we also didn't face any problems yet due to dependency versioning, this doesn't have highest priority in our backlog. We will therefore (for now) keep the standard approach via setup.py and pin versions when issues pop up.

[2019-08-16 10:25] #35 closed

[2019-08-16 15:49] Timoeller commented on #59
Hey @tripl3a, this is a great idea and we think it should be a functionality inside of farm. Especially for small datasets you want some more stable evaluation criteria. It wont be super straightforward to implement though : )

A fast way would be to do it outside of FARM:
Pytorch doesn't have native CV code yet: https://github.com/pytorch/text/issues/486
There is a Pytorch wrapper that does: http

[2019-08-16 16:02] tholor commented on #26
Done in #45

[2019-08-16 16:02] #26 closed

[2019-08-19 13:55] AhmedIdr opened #66 "Unwanted type conversion in Class TextClassificationProcessor"
Im not sure if this a bug or not, but im getting an error when using the doc_classification example for custom dataset labeled True and False. I managed to solve it by just adding label before true and false, but just wanted to report it anyway.

[2019-08-19 14:59] Timoeller commented on #66
Thanks @AhmedIdr for using Farm.
Could you provide more information on what kind of custom dataset you are doing doc_classification? And also what kind of error is thrown. Because I suspect this to be a hidden bug.

Potential sources for errors are:
1. Your custom dataset has a different format, especially a different separator than the default "\t" tab one?
2. Farm doesn't handle booleans correct

[2019-08-19 15:26] AhmedIdr commented on #66
Hey @Timoeller, Thank you for your answer. I am using the GermEval 2017 Dataset (https://sites.google.com/view/germeval2017-absa/home), the doc_classification example worked when using the sentiment label but doesn't work with the relevance (True, False), I checked the type of the labels and they are numpy.bool_ , so your second guess seems to be right.
This is the only part I changed in the examp

[2019-08-19 15:39] Timoeller commented on #66
Nice! Found a bug : )
Your label_list has strings, but the pandas function automatically converts the label column into appropriate formats. This is clearly unwanted.

If you want, you could fix that by always casting the input to a string and create a PR. It's happening inside this function: https://github.com/deepset-ai/FARM/blob/master/farm/data_handler/utils.py#L31

If you dont have time I wil

[2019-08-19 15:50] AhmedIdr commented on #66
Thank you for your Feedback, I might take a look at it later and fix it.

[2019-08-19 21:01] #66 closed

[2019-08-21 08:45] bnic24 opened #68 "Evaluation running slowly"
I've noticed that eval runs more slowly than training, which doesn't seem intuitive to me. Shouldn't eval run faster as there's no back propagation?

For example, while training a standard LM:

Training: `25941/25941 [3:31:49<00:00,  2.95it/s]` = 2.4 it/s
Eval:  `3811/3811 [41:24<00:00,  1.53it/s]` = 1.53 it/s

[2019-08-21 08:54] Timoeller commented on #68
Evaluation is doing a lot of computations on the CPU. I do not see straightforward ways of doing all kinds of evaluations on GPUs.

If evaluation takes too long we decrease how often it is called by a parameter value "eval_every". Maybe adjust this to your dataset size, since eval is called every "eval_every" steps.

**Possible solution**: FARM Eval is not yet optimized for speed. Especially the a

[2019-08-21 09:17] bnic24 commented on #68
I've adjusted the "evaluate_every" param but I'd still like to eval at least after every epoch and even only doing that takes up about 20% of the total training time!

Ah, that would explain it. I naively assumed that evaluation was already running on the GPUs.

Instead of having massive preds_all and label_all arrays, would it be possible just to store the preds and labels for the current batch a

[2019-08-21 09:30] Timoeller commented on #68
I think that is the main problem: "And I'm not sure how it would work for reports."

The evaluation is currently written to work on CPU, be it the report or compute_metrics(). We would need to rewrite both to work in pytorch, call these functions on batches and aggregate over batches.

Fast evaluation on lots of data seems especially relevant for LM finetuning, so you could start by implementing t

[2019-08-22 03:41] tholor commented on #28
Done in #50

[2019-08-22 03:41] #28 closed

[2019-08-24 11:44] tripl3a commented on #59
Thanks again @Timoeller for the feedback and for taking the time to have a call with me yesterday! As discussed, I don't have the capacity to implement such deep changes in FARM at the moment. Instead, I'll take a look at `skorch` and keep you posted.

[2019-08-26 15:37] tholor commented on #48
Fixed by #69

[2019-08-26 15:37] #48 closed

[2019-08-28 06:14] JulianGerhard21 opened #70 "'NERProcessor' has no attribute 'tokenizer'"
Python: 3.6.8
OS: Windows 10
FARM: 0.2.0

Hi guys,

if I want to run FARM to do some NER finetuning, I tried both approaches:

`experiments = load_experiments("conll_de_config.json")`

and the stick-your-blocks-together one. Both of them ended with the following error:

[code]
I installed twice - from repo and with pip.

After investigating this shortly (I need to leave), I think it has something

[2019-08-28 06:58] tholor commented on #70
I just did a quick check and couldn't reproduce this issue on my linux machine. Both modes seem to work for NER.

I suspect your error is due to how Windows handles multiprocessing (see https://stackoverflow.com/questions/42148344/python-multiprocessing-linux-windows-difference). Since the tokenizer is a class attribute of Processor and not an instance attribute.

We will investigate this further

[2019-08-28 13:26] tholor opened #71 "Test for document regression broken: TypeError in featurize_samples()"
The test for the recently added RegressionProcessor is broken.
@busyxin Can you please have a look at what caused this?

[code]

[2019-08-29 11:54] busyxin commented on #71
The bug should be solved by #74
Somehow the tests were passing when farm was still at 0.1.2, I should have tested again after rebasing.

[2019-08-30 06:56] tholor commented on #71
Merged & Fixed by #74

[2019-08-30 06:56] #71 closed

[2019-08-30 15:18] tanaysoni commented on #70
Hi @JulianGerhard21. This issue has been resolved by #76.

[2019-08-30 15:18] #70 closed

[2019-09-01 07:14] AhmedIdr opened #77 "Evaluating a saved model on another Test dataset"
Hey guys,

i was just wondering if there is a way to evaluate a saved model (maybe I missed it in the docs). I managed to do that using the Inferencer but it is quite slow and it doesn't seem like the right way to it. Thank you in advance.

[2019-09-02 09:06] Timoeller commented on #77
Hey @AhmedIdr, that is of course a bummer. Lets try to fix the issue on your side or we make the inferencer more fast. But first I need some more information to answer your question.
With saved model you mean
1. a model that was trained on a downstream task that you want to evaluate on a similar or the same downstream task or
2. a raw language model that was either pretrained from scratch or adjus

[2019-09-02 12:11] AhmedIdr commented on #77
Hey @Timoeller,
With saved model i meant a model that was trained on a my downstream task and i want to evaluate on the same task but with another test dataset.
I basically just the doc_classification example and used the inferencer just like in the example but on a whole test dataset and then i extracted the predicted labels from the results and used sklearn to get f1-score. And yes im using a GP

[2019-09-02 13:00] Timoeller commented on #77
Ok, very true, using the Inferencer is not really suited for this use-case.

The quick fix is to retrain your doc_classification model and just pass a different test_dataset String to the TextClassificationProcessor. (Though you cannot reuse your previously trained model.)

If you want to reuse your previously trained model you would need to stick together the parts yourself. It should be rather e

[2019-09-02 16:23] AhmedIdr commented on #77
Okay, i ll try to take a look at this later. If I managed to solve the problem like you described, I will post my code.

[2019-09-03 19:08] stefan-it opened #78 "CoNLL-2003: index out of range"
Hi :)

I wanted to train a NER model on the CoNLL-2003 dataset (I only changed the path to the dataset in the configuration file).:

[code]

Then the following error message appears:

[code]

Could you help me with that? I used the latest *FARM* version from `master` branch. Thanks :heart:

[2019-09-04 07:57] Timoeller commented on #78
Hey,
that does look like the data is not in the right format. You are loading our version of conll 2003 or the version linked on the flair page, I think they link [this](https://www.clips.uantwerpen.be/conll2003/ner/) page? It might be that this dataset is different to what we use. Could you try running the experiment with the default path? The default path should be empty, so it downloads the dat

[2019-09-04 08:56] stefan-it commented on #78
Thanks for your help! I tried using the default path and training is now working :+1: Indeed, the data format is different (compared to the format that we use in flair 😅) So I'll close that issue here 🤗

[2019-09-04 08:57] #78 closed

[2019-09-12 08:14] FlorianRauls opened #85 "Suggestion: Add Option to use Processor.dataset_from_dicts() in datasilo.load_data()"
When initializing a new DataSilo it automatically calls self._load_data() which in turn calls self.processor.dataset_from_file().

The option to pass data via dictionaries would be much appreciated since Processor.dataset_from_dicts() is already implemented and manually working around is causing much inconvenience when doing preprocessing (i.e. getting Errors since train.tsv was not found).

[2019-09-12 08:26] FlorianRauls opened #86 "Issue: self._calculate_class_weights(self.data["train"]) not removed when using pip install"
After installing farm via pip line 73 (  self._calculate_class_weights(self.data["train"])  ) from data_silo.py is not removed via comment.

This throws:

 IndexError: tuple index out of range

 and is fixed in the most recent version (according to repository data).

[2019-09-12 08:56] #86 closed, assigned to Timoeller

[2019-09-13 16:18] tanaysoni commented on #85
Hi @FlorianRauls, thank you the suggestion! We are currently refactoring `DataSilo` and `Processor` in #88, so we can consider adding this option. It'd be helpful if you could provide more details on your use case.

[2019-09-16 14:03] FelineWeise opened #90 "Threading Error upon building Data Silo"
Upon loading the DataSilo, which would theoretically call the functions in previously created Processor object to generate the datasets, I keep running into a threading error without being given any useful information regarding the interplay between the threading.py module and FARM (see complete stacktrace below).

**Error message**:
09/16/2019 15:15:59 - INFO - farm.data_handler.data_silo -
Loadi

[2019-09-16 14:44] tanaysoni commented on #90
Hi @FelineWeise, thank you for reporting the issue.

Could you check if the supplied example `examples/doc_classification.py` runs without an error?

[2019-09-16 16:00] FelineWeise commented on #90
**Hey @tanaysoni, many thanks for your response.

Indeed, removing eventlet.patcher.monkey_patch() solves the threading issue. However, another error occurs upon calling the DataSilo object:**

09/16/2019 17:56:29 - INFO - pytorch_transformers.tokenization_utils -   loading file https://int-deepset-models-bert.s3.eu-central-1.amazonaws.com/pytorch/bert-base-german-cased-vocab.txt from cache at /ho

[2019-09-16 16:37] tanaysoni commented on #90
The first issue has been fixed by #67.

For the second, it seems you're running a recent version of the example against an earlier FARM release.

Reinstalling FARM using the latest master branch with `pip install -e .` should resolve both issues.

[2019-09-17 07:22] #90 closed

[2019-09-17 17:07] echan00 opened #91 "Adding additional custom features?"
Is it possible to add additional custom features in addition to using pre-trained language models for the down-stream tasks?

For example:
[code]

[2019-09-17 21:42] Timoeller commented on #91
Hey @echan00, thanks for using FARM.
Can you give some more information about the additional custom features please?
Is it having two (translated?) languages, separated by <div>?
Or is it text + some token level labels (the O and B-TERM)?

Can you also supply some more insights into the use case and maybe a link to a relevant paper?
Cheers

[2019-09-17 22:35] echan00 commented on #91
Hi @Timoeller
The request I have is to be able to include additional relevant data for sequence labeling. For example,
[code]
In the example above, knowing that **Apple Computers** is bold is useful information to predict the NER.

For my particular use case, I want to be able to predict word-alignment given the source text and target translation. I want to be able to point to a keyword in the sou

[2019-09-18 13:27] FelineWeise opened #92 "Label_ids "None" upon initiating training of Adaptive Model"
When calling train method on the adaptive model, an error is thrown upon collecting the losses from the prediction head (logits_to_loss_per_head, adaptive_model) when logits and labels in prediction head are combined (logits_to_loss, prediction_head) to create a per_sample_loss because the variable "label_ids" is None and the "view()" function cannot be called upon it. The variable "label_ids" bec

[2019-09-18 13:41] Timoeller commented on #92
Hey Feline, It sounds to me as if there might be some labels missing or malformed in the input.
Farm prints 3 samples per train dev test set to see weather the conversion is done right. Could you post one full sample output here so we can check.

[2019-09-18 13:56] Timoeller commented on #91
Thanks for the explanations. Yes this seems to be a super cool use case - but no, it is not implemented in FARM yet. But the modularity of language model and prediction head will make it rather simple to implement.

I guess the changes would be twofold:
1. To convert the word level information into the subword token level information that language models use as input. Similar processing as [here](

[2019-09-18 14:20] FelineWeise commented on #92
**3 examples train set**
09/18/2019 15:59:47 - INFO - farm.data_handler.processor -   *** Show 3 random examples ***
09/18/2019 15:59:47 - INFO - farm.data_handler.processor -
      .--.        _____                       _
    .'_\/_'.     / ____|                     | |
    '. /\ .'    | (___   __ _ _ __ ___  _ __ | | ___
      "||"       \___ \ / _` | '_ ` _ \| '_ \| |/ _ \
       || /\     ___

[2019-09-18 14:59] Timoeller commented on #92
Well, there are no labels passed onto FARM : )
Maybe you can run one of our examples on text_classification with standard datasets to give you an example of how it should look like. You can also set debug points and inspect what is going on, you might want to start looking at what changes line by line in the file_to_dicts() method of our processor in processor.py.

A sidenote: Your texts seem to b

[2019-09-18 21:49] guggio opened #93 "TypeError: classification_report() got an unexpected keyword argument 'target_names'"
Hi guys,

I really love your pre-trained models and that they are so easy to implement with FARM. I was classifying German text according to the tutorial and was able to adopt it to use it on my own dataset. However, for the BIO-classification of my texts, I keep on getting the same error message during training, despite closely following your tutorial code.

Thanks in advance,
Sebastian

**Error

[2019-09-18 23:01] echan00 commented on #91
Thanks Timoeller. Do you think just concatenating the extra information as-is will be good enough?  Do I need to worry about the dimensionality of the extra information in regards to the huge BERT embedding model?

[2019-09-19 06:50] FelineWeise commented on #92
Thanks for your suggestions!
I assumed labels would be passed by specifying a source field and the label_list in the text classification processor, which is exactly what is being done in your examples. I could fix it by passing source_field, label_name and task_type again explicitly to "add_task()".

Max_length is set to 50 only for testing purposes only. I have trained a convolutional neural net

[2019-09-19 07:55] guggio commented on #93
I guess the problem lies in the eval.py file. Since I am doing "per_token" classification, it takes the seqeval.metrics.classification_report which does not take target_names as input.

[code]

[2019-09-19 08:21] Timoeller commented on #92
Ah ok, nice!

How about you use the settings that we supplied in our example and update your farm version to the current master.

Based on your code you posted earlier these TextClassificationProcessor parameters should work:

[code]

**Please verify that the data in data_train.tsv is actually tab separated and your text does not contain tabs. Can you read the tsv files with pandas without error?

[2019-09-19 08:35] Timoeller commented on #93
Hey @guggio thanks for reporting the issue and also for finding the problematic code.

We already fixed this bug and are merging quite some changes into master this minute. Please update your farm installation with a git pull if you installed through "pip install --editable ." Please keep me updated if that resolved your issue. Thanks!

[2019-09-19 08:41] Timoeller commented on #91
That is a very stimulating question. So if you concatenate the information to the Bert output embeddings, the prediction head should take care of selecting and weighting the relevant parts. Since the prediction is on a token level you would need to concat this extra information on a token level, too.

I think a more elegant, but also much more difficult, way would be to have "type information" alr

[2019-09-19 12:07] FelineWeise commented on #92
I cleaned the texts to such an extent that multiple whitespaces and tabs are removed before writing into .tsv files and made sure that there aren't any empty cells. I will certainly follow up on your advice to remove such 'website-text' specific words. Thank you.

After updating farm to the current master, I'm running into a new error both when using the exact same code and settings you supply in

[2019-09-19 12:17] guggio commented on #93
Hi @Timoeller thanks a lot for the fix! I can run my BIO-classification model now. However, there are two additional issues I faced:
First, my NERProcessor settings from above do not work anymore, since setting a dev_split != 0.0 throws the following error message:
[code]
Second, in the classification report, the O-Label is not shown and the number of support units for the I-label should be around

[2019-09-19 12:32] Timoeller commented on #93
We changed the way the dev set is splitted away from train set, there might be some issues there that didn't come up during our test pipeline. I will look into that next.

There also seems to be a small mistake in the classification report. I am currently working on that, too.

[2019-09-19 12:57] Timoeller commented on #93
Ok, we fixed the bug with the classification report.

The issue you reported on a dev_split != 0.0 seems to be coming from a error in _file_to_dicts() in processor.py file. The is a function called read_ner_file() that has quite some limitations on what it can read. Please have a look [here](https://github.com/deepset-ai/FARM/blob/master/test/samples/ner/train-sample.txt) to see examples of how th

[2019-09-19 13:06] Timoeller commented on #92
Wow, your error messages are always super cryptic : )

It looks like an environment issue to me. Can you please create a fresh install in a virtual environment. Then run one of our examples without adjustments to verify the installation. And then adjust FARM to your use case with the code I just posted earlier.

[2019-09-19 16:12] guggio commented on #93
Thanks a lot for the bugfix and your help :) I had to write two textfiles based on my dataframe (probably not the most efficient solution).

I was able to run the model on my data and it seems like I am achieving very promising results.

Thanks again for your great work!

[2019-09-19 16:12] #93 closed

[2019-09-19 16:28] Timoeller commented on #93
Nice! If you have good results to share we are more than happy to celebrate with you : )

[2019-09-19 19:58] guggio opened #94 "KeyError: 'text_classification'"
Hi guys,

Unfortunately, it is me again. This time, I am reporting an issue during text classification which did not appear yesterday despite running the same code. Everything works fine until training the model.

[code]

**Error message**
[code]

Due to this error message, i added a task to the processor which resulted in an error when I wanted to create the datasilo.

[code]
[code]

Thus, I assu

[2019-09-19 20:15] Timoeller commented on #94
Hey Sebastian. No problem at all.

Could you try changing the labels parameter to label_list in the TextClassificationProcessor. If this doesn't fix the problem I will have to look more deeply into the code first thing tomorrow morning.
Keep on :)

[2019-09-19 20:34] guggio commented on #94
Hi @Timoeller , thanks a lot for the quick help! Your suggestions (changing to label_list) worked perfectly and I was able to run my model. I am running the init of the processor and the .add_task in the same Colab cell (like in your Colab NER tutorial).

I ran my model and unfortunately observed new issues with the classification reports. While the f1_macro works well, the classification report o

[2019-09-20 08:00] Timoeller commented on #94
Coding late?
Good that I could help.

About the new classification report issue: actually [this commit](https://github.com/deepset-ai/FARM/commit/f6734cb88cb29a872cbe6dcc2ba7cbf81855cd50) from yesterday should have fixed that particular problem. Could you pull FARM again please?

[2019-09-20 08:05] guggio commented on #94
I was about to go to bed, then I saw your answer and had to give it a try ;)

I just restarted my Colab, ran my model again and now the classification report looks fine. Thanks again for your help and great work! I am happy to share my results once I am finished :)

[2019-09-20 08:05] #94 closed

[2019-09-20 08:15] FelineWeise commented on #92
I have uninstalled and installed farm in the virtual environment and I'm now running it from your master with commit ID "f6734cb88cb29a872cbe6dcc2ba7cbf81855cd50".
I'm still getting the exact same cryptic error message as previously when running the example "doc_classification.py"  without having made any adjustments to your code.

`# fmt: off
import logging

from farm.data_handler.data_silo impor

[2019-09-20 12:03] Timoeller commented on #92
Wow, ok. Then it is definitely an environment issue, maybe something specific to your linux mint distribution or pycharm related.
Did you try executing the "doc_classification.py" from the shell. Please also post the exact error message. If this problem continues we have to dig deep into the internals and try making it work, because Farm should of course run on all systems.
Thanks for your patienc

[2019-09-20 13:53] FelineWeise commented on #92
Yes I have tried that as well and unfortunately the error persists. It keeps throwing this error message (a print out of a sample is included in case you can work out something based on that):

`09/20/2019 15:49:04 - INFO - farm.data_handler.processor -

      .--.        _____                       _
    .'_\/_'.     / ____|                     | |
    '. /\ .'    | (___   __ _ _ __ ___  _ __ | |

[2019-09-20 14:35] Timoeller commented on #92
A good thing I can read from your printouts: The dataprocessing seems to work now : )

As for the multiprocessing torch_shm_manager error. I have been able to reproduce your error with the newest PyTorch version 1.2.0. It is resolved when using PyTorch version 1.1.0.

Could you verify which version you are on and downgrade to 1.1.0?
You can do so by `pip install torch==1.1.0` in your dedicated env

[2019-09-20 14:43] Timoeller opened #97 "Multiprocessing Error with PyTorch Version 1.2.0"
**Describe the bug**
When upgarding to the newest PyTorch version the multiprocessing breaks.

**Error message**
Traceback (most recent call last):
  File "/home/timo/Programming/gitlab/FARM/examples/doc_classification.py", line 55, in <module>
    batch_size=batch_size)
  File "/home/timo/Programming/gitlab/FARM/farm/data_handler/data_silo.py", line 50, in __init__
    self._load_data()
  File "/

[2019-09-20 14:51] Timoeller commented on #92
I have created a dedicated issue #97. Our data engineer already fixed it with the newest PR #96
Hope that should make the code run.

[2019-09-20 15:03] #97 closed

[2019-09-20 15:24] FelineWeise commented on #92
Fantastic, this solved it!
Both your example as well as my own code are running now. Thanks a lot for your great support!

Wishing you a well-deserved happy weekend:)!

[2019-09-23 15:32] amoelle opened #99 "Could not convert labels to ids via label_list"
Hi there,

when i try to build a DataSilo with TextClassificationProcessor i get the following error:
"Could not convert labels to ids via label_list"

The label_list i give to the processor is fine however. I investigated a bit and the error seems to appear when 'label_raw = sample.clear_text[label_name]' is executed in the input_feautes.py
It looks like the clear_text dictionary does not have a

[2019-09-23 15:33] #99 closed

[2019-09-23 15:42] Timoeller commented on #99
Resolved itself? : )

Anyways, your problem is a critical point. We are currently improving the error messages when dealing with custom input data. The code hidden in the parent Processor class can be sometimes confusing for people new to FARM. You can visually inspect your data processing when we log samples to the console. Or you go in debug mode and see how the data flows, especially along the

[2019-09-23 16:03] amoelle commented on #99
Hi, sorry accidentally pressed enter before i was done typing :D I have updated my comment from earlier.

Thanks for your support so far, will look into it tomorrow again!

[2019-09-23 17:16] Timoeller commented on #99
Hey @amoelle
Thanks for updating the issue. Could you try renaming the "Tonalität des Artikels/Themas" column to anything but "text_classification_label". This is our internal string value, that gets assigned to label_name. If that solves the issue, we will need to add a check for that very case.

Otherwise could you verify with `self.df['Tonalität des Artikels/Themas'].unique()` that really all v

[2019-09-23 23:52] echan00 commented on #91
@Timoeller I'm new to this so making changes to your library may end up requiring you to answer quite a few questions. I hope you don't mind.

Is this necessary if I expect to use BERT tokenizer? Or am I missing something?

How do you suggest I concatenate the extra information?

Other questions:
1) Since my data has two inputs, I presume I will need to create a new processor?
2) Where is the data

[2019-09-24 07:38] Timoeller commented on #92
Nice, thanks a lot for the positive feedback.

I will close this issue now.

[2019-09-24 07:38] #92 closed

[2019-09-24 08:56] Timoeller commented on #91
Exactly, Bert will split some words into subwords (eg 'exponents' into 'ex' and '##ponents'). These subwords need to be aligned with the custom features you add. Its should be rather simple, you can reuse the code for creating NER labels.

To the other questions:
You should create a prediction head with dim [768 + custom feature dimension, number_labels] and concat to each token embedding the addi

[2019-09-24 09:12] amoelle commented on #99
Renaming the label column seems to work, thank you! :)

[2019-09-24 09:43] amoelle opened #100 "Expected input batch_size to match target batch_size"
Hello,

when running the Trainer for a multi-class classification (4 classes, batch_size=8) there seems to be a missmatch:

`Expected input batch_size (8) to match target batch_size (32)`

The error appears in this  context:

    farm/modeling/prediction_head.py(262)logits_to_loss()
    -> return self.loss_fct(logits, label_ids.view(-1))
    (Pdb)  logits
    tensor([[ 0.0025,  0.1011,  0.0897,  0

[2019-09-24 12:50] amoelle commented on #100
Hi @Timoeller, thank you very much for the support!
I have changed the 'multilabel' parameter of the TextClassificationProcessor from True to False now and the issue seems to be resolved (miss-interpreted the parameter, sorry for the inconvenience! 🙈)

[2019-09-24 12:50] #100 closed

[2019-09-24 14:02] Timoeller opened #101 "Save data checkpoints for input data processing"
**Is your feature request related to a problem or particular use case?**
Creating training data takes a long time and also consumes a lot of memory, especially for Language Model adaptation.

**Describe the solution you'd like**
Since FARM processes data chunkwise transformed chunks can be saved to disk.
Ideally these chunks are also removed from memory to save RAM space.

[2019-09-25 08:46] Alex-Zien opened #102 "Get probability distribution over all classes in Inference mode"
When we use the inferencer to get predictions it might be useful to return probability values for all labels, not just the maximum. My use case would be for NER, but I see it being useful for other classification tasks as well.

[2019-09-25 10:31] Timoeller commented on #102
Hey @Alex-Zien Thanks for creating this issue.
We realized it is a very important feature and super easy to implement, so we pushed it into master. Have a look at #103
Please update your FARM. You can now return class probs with setting the return_class_probs parameter to True in the Inferencer.
Hope that helps.

[2019-09-26 11:38] echan00 commented on #91
Thanks for your help @Timoeller

I have made all the changes in my fork: https://github.com/echan00/FARM
I've also included my sample data and [script](https://github.com/echan00/FARM/blob/master/examples/ner-run.py) in the examples folder.

I'm running into an error training:
[code]

My guess is I am not concatenating the extra data correctly:
[code]

Would absolutely appreciate it if you could p

[2019-09-26 13:41] echan00 commented on #91
Okay, I updated my concat_additional function as follows:

[code]

Due to `RuntimeError: size mismatch, m1: [3072 x 768], m2: [769 x 4]`, I changed `custom_feature_dim = 0`
[code]

I am now running into another error, and not sure what it is about:
[code]

[2019-09-26 16:52] Timoeller commented on #91
Mhh, going forward() but not in the exact right direction : )

So list1 and list2 should have shape [batch_size, max_seq_len, 768] and [batch_size, max_seq_len, 1] respectively.
You need to concatenate the last dimension by torch.cat((list1,list2),dim=2). There should not be a need to reshape things. If there is, something is wrong earlier in the pipeline.

I really do not understand how custom_fe

[2019-09-26 17:58] echan00 commented on #91
Okay I'll be looking into this some more :) thanks for all the pointers

Do you mean concatenate dimension 768 of list1 (the last slice) and list2 (the one and only slice since dimension is 1)? Or something else?

[2019-09-26 22:47] Timoeller commented on #91
Ah, sorry, I think we are having a terminology issue here.
I mean list1 has 3 dimensions: [batch_size, max_seq_len, embedding_size] and each dimension has a certain size, e.g. batch_size = 32, max_seq_len =128 and embedding_size = 768.

So yes you concat the 768  coming from bert embeddings with the 1 coming from your custom feature. If the custom feature has 10 different classes (bold, italics, c

[2019-09-27 00:43] echan00 commented on #91
Something doesn't sound right.

I just ran the provided [ner.py](https://github.com/deepset-ai/FARM/blob/master/examples/ner.py) from the examples folder, and sequence_output (list1) is torch.Size([5, 128, 768]) and 3 dimensions. I imagine this is [number of features, max_seq_len, embedding_size] and not [batch_size, max_seq_len, embedding_size]

In my version, sequence_output (list1) is torch.Siz

[2019-09-27 11:49] Alex-Zien opened #104 "excessive uncalled-for warnings when using the inferencer"
While evaluating a trained model on some held-out data, we get literally hundreds or thousands of warnings of this type:

      "09/26/2019 17:33:12 - WARNING - farm.data_handler.input_features -   [Task: text_classification] Could not convert labels to ids via label_list!\n",
      "If your are running in *inference* mode: Don't worry!\n",
      "If you are running in *training* mode: Verify you

[2019-09-27 13:04] Timoeller commented on #104
Totally agreed!
I already had a short go at reducing this warning message but realized it needs some more complex changes. We will find a solution for that and keep you updated.
Hope this doesn't block you? I guess the relevant info will also be saved in the results coming back from the inferencer : )

[2019-09-27 14:44] echan00 commented on #91
Just wrapped up one epoch of training, results don't look good:

[code]

Below is one example of the input features. Everything looks correct.
Note: I didn't use 'add_cls_sep(tokens, cls_token, sep_token)' and didn't use the 'non_initial_token' where "a token that is inserted into the label sequence in positions where there is a non-word-initial token. This is since the default NER performs predic

[2019-09-27 15:23] brandenchan commented on #104
This should help! #105

[2019-09-27 15:23] #104 closed

[2019-09-27 15:58] Timoeller commented on #91
This is already quite a success. The network is getting the data and training something.

Could be that this single number is too high compared to the values inside of the embedding. Try setting all custom_data to 0. If that trains a good system scale these values to something small. The next step would be to one hot encode.

Ah and could you update your fork please. Then I can have a detailed loo

[2019-09-27 16:37] #102 closed

[2019-09-27 16:42] Timoeller commented on #68
Hey @bnic24 We have also conducted some experiments with LM adaptation now and realized we do not need so large dev sets for evaluating the models performance. So making the evaluator more efficient isn't high priority any more.
I will close this issue and update you if we should updat the code for evaluating.

[2019-09-27 16:42] #68 closed

[2019-09-27 23:29] echan00 commented on #91
Okay, I just updated my fork. Here is the data that you should unzip besides [ner-run.py](https://github.com/echan00/FARM/blob/master/examples/ner-run.py):
https://www.dropbox.com/s/fwy8exujogf9uq1/Archive1.zip?dl=0

Okay, I'll try setting custom_data to 0, I'll also separately try setting custom_data to be same as the output (ner_labels_ids).

Isn't custom_data already one-hot-encoded? 0s and 1s

[2019-09-28 12:44] echan00 commented on #91
Same results when custom_data are all 0s, accuracy is in the single digits.

It seems like custom_data is either a) not affecting the model during training or b) the model is not quite picking up what it is being trained to do

[2019-10-01 07:40] Timoeller commented on #91
That is true, if the additional data is only binary the current implementation is one hot encoded and correct.

This is good and bad news. The good news is that we can still figure out if custom data helps the classification. The bad news is, that there is probably a larger bug. Either in how you convert the data and pass it to the model or how you evaluate the predictions. Can you check if both a

[2019-10-01 11:25] echan00 commented on #91
I presume the input features don't change anymore before being passed into the model for training? I've inspected them and they look good to me. I could post a sample and explain them to you to verify they are appropriate?

[2019-10-02 04:28] echan00 commented on #91
Below is one sample of the data:

This is the tokenized text (plus offsets and start_of_word), the additional features (custom_data), and the prediction (ner_label). The data length is 192.

[code]

These are the model input features for training (the data is length 194 after adding [CLS] and [SEP], and then padded to length 512):

[code]

Everything looks good to me.

[2019-10-02 08:27] Timoeller commented on #77
@tanaysoni will take over from here. We found a clean solution for the Inferencer to work on datasets.

[2019-10-02 08:32] AhmedIdr commented on #77
Sorry I haven't had the time to take care of this. I just used my workaround using the Inferencer. This is how I used it.
`
        for i in test[0]:
           info = {}
           info['text'] = i
           mydict.append(info)

        model = Inferencer.load(save_dir,batch_size=len(mydict))
        result = model.run_inference(dicts=mydict)
        y_pred = []
        for i in result[0].get('p

[2019-10-02 09:10] Timoeller commented on #91
Ok I will wait to dig deeper.
My first hypothesis is a problematic label conversion. Try changing the "0" and "1" ner labels into a proper string - maybe these values get converted to Ints somewhere along the processing pipeline.

Another thing: you do not have to set max_se_len to 512 if the data is always shorter. This is actually super bad because it wastes a lot of compute.

But NER inside a m

[2019-10-02 09:53] echan00 commented on #91
I tried training again after improving the data processing but the results are still completely inaccurate.
I also tried replacing the custom_data with the predictions (basically providing the model the answers in the input, but results are similarly inaccurate.

I will try it as you suggest. Instead of "0" and "1", I will use "N" and "Y". I am also making "[CLS]" and "[SEP]" distinct predictions

[2019-10-02 10:17] echan00 commented on #91
Model results are still off. @Timoeller, if you could take a look that would be great. I've updated my [fork](https://github.com/echan00/FARM) as well.

Below are the evaluation results from model training:

[code]

It seems like [SEP] is being predicted appropriately. I imagine this means there is no bug with evaluation and the issue is custom_data information is not registering?

[2019-10-09 09:16] brandenchan opened #110 "Multiprocessing causes data preprocessing to crash"
When preprocessing data for language model finetuning, this error is thrown

<img width="1204" alt="Screenshot 2019-10-08 at 10 11 29" src="https://user-images.githubusercontent.com/33759007/66468278-2b086b00-ea86-11e9-9cbf-62898c12b7e8.png">

[2019-10-09 09:17] brandenchan commented on #110
Fixed by setting the DataSilo's multiprocessing_chunk_size argument to a larger value (in this case, multiprocessing_chunk_size=2000)

[2019-10-09 09:17] #110 closed

[2019-10-09 16:28] Timoeller opened #112 "Text Classification on GermEval2018 fine does not work"
**Describe the bug**
When running the examples/text_classification.py on the GermEval2018 fine grained dataset (4 classes instead of two) the model does not learn anything.

**Error message**
No error, but macro f1 score on test set is: 0.049 instead of 0.488. Also only one class is predicted.
When dev set is evaluated during training the predictions jump from all one class to all another class.

[2019-10-11 15:31] tholor opened #113 "Empty datasets due to random_split_ConcatDataset"
**Describe the bug**
DataSilo is Crashing during the attempt of splitting a dev set from a "small" train set.
It seems that random_split_ConcatDataset() doesn't work if there's only a single chunk (= 1 dataset). idx_dataset is 0 in that case and thus creates an empty ConcatDataset for train

**Error message**
Error that was thrown (if available)
[code]
**Expected behavior**
A portion of the train

[2019-10-14 08:58] Timoeller commented on #91
Sorry @echan00 I havent had time to look into this.
Do you know the baseline performance on this? Maybe the task or labels are incorrect?
E.g. have you tried pure NER classification inside FARM without any custom data? Or used any other framework for NER like flair or huggingfaces transformers?

[2019-10-14 10:05] echan00 commented on #91
Thanks for checking in. At this point I've doubled checked the data enough times where the chances of data inaccuracies is very low. The best performance I've gotten so far is worse than random. I'm not sure what else I can do at this point.

[2019-10-14 14:01] cregouby opened #115 "Please add `proxies=proxies` capability to any functions call to `requests`"
**Is your feature request related to a problem or particular use case?**
As a corporate user, I need to pass through proxies for any https request. Currently, framework initialization commands are missing the `proxies=proxies` parameter pass-trough to the `requests` library, making initalization very painful with manual download and badly reproducible.

**Describe the solution you'd like**
Please

[2019-10-14 17:10] Timoeller commented on #115
Can it be that this functionality is already in place? Can you double check @tholor please.

Did you, @cregouby  try to use the BertTokenizer like this? Does it produce any errors?

[2019-10-14 17:11] Timoeller commented on #113
Resolved by #114
Closing this now

[2019-10-14 17:11] #113 closed

[2019-10-15 09:15] cregouby commented on #115
Yes, from the tutorial notebook, right now executing
[code]
gives
[code]

[2019-10-15 09:36] Timoeller commented on #115
How about you adjust the code in our tutorial notebook to:
[code]
and set the proxies yourself?

[2019-10-16 09:47] tholor commented on #115
Supporting proxies is definitely an important feature since many corporates face this issue. We will have a look how to integrate it most smoothly into FARM. I see different options from a) passing the proxy arg all the way down to the requests library to b) reading a global environment variable. @tanaysoni can you please follow up on this?

[2019-10-16 11:00] isamokhin opened #117 "Inference now does not utilise GPU, is much slower and more verbose"
After the recent commits, `inference_from_dicts` took place of `run_inference` and uses multiprocessing. However, at least for my task it made matters worse.

I have a test dataset of 200 text documents. They are preprocessed and split into fragments, from which lists of dicts {"text": "some text"} are formed for subsequent text classification with FARM. There are 5576 fragments in total. Previous

[2019-10-16 12:58] Timoeller commented on #117
This is clearly sub optimal (though we find our ASCII art very pleasing : )

@tanaysoni can you please have a look into this.
As for now, do you know what exact code changes could cause these problems @isamokhin?

[2019-10-16 13:28] isamokhin commented on #117
That's the point, I cannot understand what exactly caused this :( But it must be  #107. All changes I see is that now multiprocessing is used, and `_run_inference` is now a smaller function used in `inference_from_dicts`, though with the same content.

[2019-10-17 13:01] trifle opened #119 "Deadlock in DataSilo._get_dataset when using docker"
**UPDATE/SOLUTION: PSA FOR POSTERITY**
If you have a deadlock running FARM in a docker container, make sure you are running the container with `--ipc=host` to increase shared memory.
**SOLUTION END**

**Describe the bug**
There seems to be a multiprocessing-related deadlock in DataSilo._get_dataset, which transforms tsv lines into dicts into datasets, chunkwise. Reading a moderately-sized training

[2019-10-17 14:24] trifle commented on #119
Update: I've further ruled out errors in the textual data by stripping quote chars and force-converting the docs to ascii - neither helps.

[2019-10-17 14:34] Timoeller commented on #119
Hey @trifle thanks for reporting that issue, we recently made changes the way the data processor works and thought we improved it. Seems we did not improve it for all cases.

So lets find out what is going on:
Can you set a breakpoint where it calls the `grouper(dicts, multiprocessing_chunk_size)` and evaluate the call manually? Does it split the dicts into useful chunks?
Can you also tell the "mu

[2019-10-17 14:44] trifle commented on #119
Here are the chunking parameters:

[code]

`> (8, 2156.0, 17244, 432)`

[2019-10-17 14:46] trifle commented on #119
I tried both the default (0.1 dev ratio) and supplying my own dev sample via a file. Neither helped.

[2019-10-17 14:54] Timoeller commented on #119
Ok, cool so the splitting is not the issue then.

Did I understand correctly. You manually transformed `dataset1, tensor_names = self.processor.dataset_from_dicts(dicts=dicts[:int(len(dicts)/2)])` but without parallelization. Why did you split it into two chunks then? It should also work when calling it on the whole dict - so basically in single process mode.

Anyways, I will have our data enginee

[2019-10-17 15:01] trifle commented on #119
Yes, I serially processed the first and then the second half of the data, and then combined it into a ConcatDataset.

If you don't do that (if your ConcatDataset has only one entry), then you'll get an IndexError later on. FARM tries to access a tensor to convert it to a np array and finds a tuple instead. I forgot the exact details, but it seemed like a nesting issue where ConcatDataset was expec

[2019-10-17 15:29] trifle commented on #119
Okay, here you go! This reproduces the issue once you set the number of dicts to a large value (it hang with 20k).

[code]

[2019-10-17 15:31] trifle commented on #119
By the way, the docstring for the grouper is wrong (outdated), but that's irrelevant here :)

A fix would be:
    """

    [[(0, 'A'), (1, 'B'), (2, 'C')], [(3, 'D'), (4, 'E'), (5, 'F')], [(6, 'G')]]
    """

[2019-10-17 16:17] Timoeller commented on #119
Thanks for isolating the bug!
We will look into it!

If you want, create a PR, I will merge it into master asap and you are officially a contributor : )

[2019-10-17 16:26] Timoeller commented on #119
Ok, I tested your code locally without docker and it works without deadlock.
So can you change the title of the issue to
"Deadlock in DataSilo._get_dataset when using docker". I guess this will complicate things. @tanaysoni do you have any idea what could have happened?

Another remark (that shouldnt change much): use `import torch.multiprocessing as mp` instead of multiprocessing

[2019-10-17 17:22] tanaysoni commented on #119
Hi @trifle, thank you for all the inputs on the issue! I am trying to reproduce — can you share the Python version and the requirements file for the environment(particularly `torch` version)?

Also, is the issue exclusive to Docker? If yes, can try running Docker with `ipc=host` as documented in https://github.com/pytorch/pytorch#docker-image.

[2019-10-17 17:28] tanaysoni commented on #117
Hi @isamokhin. I am trying to reproduce the performance difference. It'd be great if you can provide the `batch_size`, `multiprocessing_chunk_size`, and `max_seq_len`.

Additionally, did you implement a custom `Processor` or used the default `TextClassificationProcessor`?

[2019-10-17 18:22] trifle commented on #119
Thanks for following up so quickly!
I didn't know about docker's shared memory limitations, that's a very good pointer @tanaysoni. Should be quick to test out. Memory pressure seems like a plausible cause for this complete stall without Exceptions.

The torch versions tested were 1.3.0 and 1.2.0, both of which exhibited the issue, by the way.

[2019-10-17 18:38] trifle commented on #119
Yes, this was it! The reproducer runs through without any issue after launching the docker container with --ipc=host.

Thanks a lot, @tanaysoni for the quick help.

Since this issue was basically nothing but a time sink for you (sorry!), I want it to end on some constructive note :)

It seems that the best way of detecting this issue would be to query for the size of /dev/shm/.
The difference is o

[2019-10-17 18:51] #119 closed

[2019-10-17 20:58] neufang opened #120 "run_all_experiments.py QA throws keyError"
When I run run_all_experiments.py, the last question answering stops with keyError

[code]

**System:**
 - OS: Ubuntu 17.10
 - GPU/CPU:  Tesla V100-SXM2-16GB
 - FARM version: 0.2.0

[2019-10-18 07:25] Timoeller commented on #119
hehe : )
so, interacting with somebody who knows how to code and use Farm is never a time sink but always some knowledge learned. Hope you can use Farm in your future projects.

[2019-10-18 07:42] isamokhin commented on #117
Hi! I'm using default TextClassificationProcessor, with `max_seq_len=128`, `batch_size=32` and default `multiprocessing_chunk_size` (I didn't set this parameter at all).

[2019-10-18 08:21] isamokhin commented on #117
I cannot share my own data, but the difference in performance can be seen on the FARM toy example. I trained a German model from `doc_classification.py` example and used inference in a separate file:

[code]

I tried this code with FARM installed from the newest master branch and the job was done in 23.3 seconds and in each iteration a long sample of the data was printed. FARM from older branch (I

[2019-10-18 10:23] tholor commented on #120
Hi @neufang,

thanks for reporting! I had a look and the error was due to an outdated naming in the experiment config  ("label_list" instead of "labels")
This lead to initializing a processor without any tasks. Therefore, the connection with the prediction head failed, when it was looking fo the task with name "question_answering".

I have added now also a info message to inform for such cases, wh

[2019-10-18 10:23] #120 closed

[2019-10-18 10:29] tanaysoni commented on #117
Thank you the code snippet, @isamokhin.

In this case, `inference_from_dicts()` is called inside a loop. This leads to the the latest multiprocessing code doing more work per loop iteration as it spawns new processes and manages multiprocessing `Pool` for each call to `inference_from_dicts()`.

I tried the same code with a larger single list of dicts, i.e., `texts = random.choices(basic_texts, k=2

[2019-10-18 10:50] isamokhin commented on #117
Thanks, @tanaysoni!

I used a loop in my code snippet, because in my task I have separate text documents, each of which is preprocessed into smaller fragments, which are then classified (by sentiment). So, when I put fragments into `inference_from_dicts`, I do it separately for each text document.

I guess I can rework my code to analyze a batch of documents and to find a way of discerning which s

[2019-10-18 11:07] isamokhin commented on #117
And there is a problem of verbosity - even when I test my snippet with 10 texts, it prints 15 "samples", each with tokens, token_ids, ASCII art etc. With 20 texts, it's already 30 samples.

[2019-10-18 11:33] Timoeller commented on #91
Did you try NER on the same data in another framework and it produced the same bad results?

Unfortuantely I do not have the time to look deeply into your code + data and prefer supporting you with bugs/problems inside FARM. If there is nothing more to try we should close this issue for now and hope for better days and data : )
Sorry for the inconvenience, it was fun exploring this opportunity tog

[2019-10-21 10:02] neufang opened #124 "Segmentation fault when running inference for QA models"
**Describe the bug**
When running examples/question_answering.py. Training finished.
line 107 `result = model.inference_from_dicts(dicts=QA_input)` throws Segmentation fault.

**Error message**
`
10/19/2019 20:57:29 - INFO - pytorch_transformers.modeling_utils -   loading weights file ../saved_models/bert-english-qa-tutorial/language_model.bin
10/19/2019 20:57:30 - INFO - farm.modeling.adaptive_mo

[2019-10-21 11:38] tholor commented on #124
Do you have the same issue with the most recent FARM version (master branch)?
The related test  looks good and doesn't throw this error (https://github.com/deepset-ai/FARM/blob/master/test/test_question_answering.py).

Can you also post the processor_config.json from your stored model? I guess it's in '../saved_models/bert-english-qa-tutorial . It might help to understand possible problems related

[2019-10-22 11:36] neufang commented on #124
Hi, the latest version 0.2.2 works fine without Segmentation fault.

[2019-10-22 11:36] #124 closed

[2019-10-22 11:48] Timoeller commented on #124
Hey @neufang
Since we are currently improving the QA part in FARM (also the inference) I wanted to attached to this conversation.

Right now, **the current version wont be correct when working with long documents**. There will be correct model predictions but projecting them back to strings will break.
Please wait for the next release, if you plan to use the Inferencer on long documents.

[2019-10-24 13:25] BramVanroy opened #126 "Apex.amp support"
**Describe the solution you'd like**
It would be great if [Apex.amp](https://github.com/NVIDIA/apex) is supported.

**Additional context**
If interested, I can work on this. I don't think it should be too much of a problem. I'd replace fp16 to amp instead of simply `half`ing everything.

[2019-10-24 14:39] tholor commented on #126
Hey @BramVanroy,

Great idea! Apex.amp seems much more user friendly & powerful. I was always a bit annoyed of all specialties introduced into the code by apex fp16  - and the drop in performance ;)

We would highly appreciate, if you could work on this and raised a PR. It should be mainly changes in the [Trainer](https://github.com/deepset-ai/FARM/blob/master/farm/train.py#L53) and in [initialize

[2019-10-25 08:53] tholor commented on #17
Solved wtih #125

[2019-10-25 08:53] #17 closed

[2019-10-25 09:57] tholor commented on #85
Hi @FlorianRauls,
after finishing refactoring, I had now some time to look into your request.
It would be actually quite easy to add your desired functionality.

Please have a look at the pull request #127 and let me know, if that's what you need.

[2019-10-25 12:44] isamokhin commented on #117
Hi @tanaysoni! You are right, inference is much less verbose now. I will also appreciate when you add the ability to use inference without multiprocessing, making it faster in a stream of documents. I guess I will close the issue now. Thanks a lot for your help and for the great work you all are doing with FARM!

[2019-10-25 12:44] #117 closed

[2019-10-25 14:45] tanaysoni commented on #117
Hi @isamokhin, thank you for the feedback! An option to disable the use of multiprocessing in the Inferencer is now merged to the master.

[2019-10-31 10:37] tholor commented on #115
Thanks for the update @cregouby and the PR.
I see 3 parts of the FARM code that rely on proxies:
1) `Tokenizer.load()` => should be okay, since we are just passing the proxy arg to the transformers
2) `LanguageModel.load()` => should be okay, after your PR #132
3) [_download_extract_downstream_data()](https://github.com/deepset-ai/FARM/blob/3f10b8282ffa3e4101da5e5595a4eb63413ec813/farm/data_handle

[2019-11-01 18:34] Timoeller commented on #112
The issue resolved itself. Cannot reproduce bad performance.

My hypothesis was that it is related to class weighting of very imbalanced classes in combination with small batch size. Does not seem to be the case.

[2019-11-01 18:34] #112 closed

[2019-11-04 11:16] cregouby commented on #115
you are right, _download_extract_downstream_data() need some rework.

[2019-11-05 09:30] FlorianRauls commented on #85
Hi @tholor,
this is would resolve the issue quite nicely!

Thanks for looking into it!

[2019-11-06 12:02] tholor commented on #115
Fixed by #136

[2019-11-06 12:02] #115 closed

[2019-11-07 17:00] tholor commented on #85
Fixed by #127

[2019-11-07 17:00] #85 closed

[2019-11-11 17:03] Garstig opened #139 "Predicting without persisting / using different labels for different prediction heads (multitask)"
Hi everyone!

I just started to work with FARM and have two questions about it.

1. How do I use a model without storing it first? In all your examples you first train a model, save it to disk and then load it via an inferencer. But what do I do, if I want to just use my text classification model right after training it? Right now the inferencer does not support multiple prediction heads, so there

[2019-11-12 09:56] tholor commented on #139
Hi @Garstig,

Happy to answer your questions:

Instead of calling `Inferencer.load(..)` you can just use the regular constructor:

[code]

We have the concept of "tasks" for this purpose. By default, one processor only generates the labels for one task (using `label_list` and `label_column_name`). As this is the most common use case, we decided to "hide" the complexity of tasks within the processo

[2019-11-12 10:48] Garstig commented on #139
Hi @tholor!

Thanks for your response! I think it perfectly answers my questions.

I now realized what an inferencer is in context of deep learning. Before I totally misunderstood the use case of the class because I didn't know the name.

If I will actually use multiple prediction heads I will make a PR.

Thanks again and have a nice day!

[2019-11-12 10:48] #139 closed

[2019-11-12 11:46] Alex-Zien opened #140 "Possibility to place PredictionHead on inner layer / multiple layers of BaseModel"
To improve predictive accuracy it may be beneficial to not (only) use the top layer of the LM, but instead some inner layer, or even a combination of two or more layers.

In https://arxiv.org/abs/1903.05987, using inner layers has been shown to be beneficial in combination with parameter freezing, but it might also have potential with fine-tuning.

[2019-11-12 11:59] Alex-Zien opened #141 "Controlling fine-tuning in more detail?"
(How) Can I control the schedule of fine-tuning the language model's parameters?

More specifically, I'd like to first just train the PredictionHead on top of a frozen LM, then after a while allow for a slowly increasing learning rate for the LM (while continuing a adjust the PredictionHead with a fixed lr).

Or I'd like to perform layer-wise fine-tuning: Start training with the LM completely froz

[2019-11-12 12:13] FlorianRauls opened #142 "Calculating and using Class Weights"
When loading Data into the DataSilo there is the (out commented) possibility to calculate the class weights for each class.
If I see correctly the TextClassificationHead can actually handle these class weights when predicting.

Since these features are already there it would be useful to have the option for class weights usage.

A typical use case would be a classification task with imbalanced dat

[2019-11-12 12:17] FlorianRauls opened #143 "Loading Inferencer from Directory"
Is there a way to load the Inferencer from a directory containing a saved Adaptive Model and Processor? When browsing the examples inside your documentation I can find some options for it but when testing it out (and looking a the source code) it seems impossible since the Inferencer class does require a not-None model object when initializing.

[2019-11-12 12:48] tholor commented on #143
Yes, absolutely! Just use `Inferencer.load()`.

See also the example scripts:

https://github.com/deepset-ai/FARM/blob/fb6370ad5d99efa0b9126d72ce87c872234fff45/examples/doc_classification.py#L94-L106

[2019-11-12 12:54] tholor commented on #142
Class weights are definitely useful and supported by FARM.

We only went away from calculating them automatically within the DataSilo (due to drawbacks in a multitask setting).

Instead you can call `data_silo.calculate_class_weights(task_name="text_classification")` to get your weights and pass them then into your prediction head.

See also the example in examples/doc_classification:

https://git

[2019-11-14 09:51] FlorianRauls commented on #142
Thank you for your quick and helpful reply.

[2019-11-14 09:51] #142 closed

[2019-11-14 09:53] FlorianRauls commented on #143
Thank you very much!

[2019-11-14 09:53] #143 closed

[2019-11-14 10:30] Alex-Zien opened #144 "Additional inputs to prediction head"
For my text classification task, I have additional information (in addition to the texts themselves) that is likely predictive. For instance, the purpose for which a text was written (a few discrete classes), or the affiliation of the author.

Ideally, this is information is not input into the LM (eg by prepending fake words to the text). Instead, it should be fed directly into the Prediction Head

[2019-11-14 10:51] Timoeller commented on #144
Hey Alex,

yes, adding additional info coming from structured sources is indeed a good direction to enhance performance (possibly :)

#91 is an issue where somebody tried to do so, with a link to his code (a fork of FARM). Maybe this is a good starting point. There are currently no direct plans to incorporate this ourselves, so feel free to add a PR about this.

[2019-11-14 11:49] Alex-Zien commented on #144
Hi Eric,

Thanks for letting me know. We'll check what we can do.

Cheers

Alex

Am 14.11.19 um 11:52 schrieb Timo Moeller:

Hey Alex,

yes, adding additional info coming from structured sources is indeed a good direction to enhance performance (possibly :)

#91<https://github.com/deepset-ai/FARM/issues/91> is an issue where somebody tried to do so, with a link to his code (a fork of FARM). Maybe

[2019-11-14 12:12] Alex-Zien opened #145 "Running FARM with FLAIR and BioFLAIR"
How can I run FARM with FLAIR and BioFLAIR?

"Performance on bioNER benchmarks continues to improve due to advances like BERT, GPT, and XLNet. FLAIR (1) is an alternative embedding model which is less computationally intensive than the others mentioned." [from the BioFLAIR publication]

https://www.aclweb.org/anthology/N19-4010/
https://github.com/shreyashub/BioFLAIR

[2019-11-14 12:49] johann-petrak opened #146 "doc_classification_cola example uses wrong method for inference"
In line 107 of `doc_classification_cola.py ` the method `run_inference` for Inferencer is used but this should really be `inference_from_dicts`

This is present in master as of commit  41644de7a0b8331b6d1ba1aeca9c77431509b4dc

[2019-11-14 14:13] tholor commented on #146
Great! Thanks for reporting and fixing @johann-petrak!

[2019-11-14 14:13] #146 closed

[2019-11-14 14:27] johann-petrak opened #148 "example doc_classification_multilable throws exception "TypeError: cannot perform reduce with flexible type""
Just run the example file `doc_classification_multilable.py` unchanged and after a while during training (at about 10% of epoch 1) when evaluating the following exception is thrown:

[code]

FARM (almost latest) master commit 41644de7a0b8331b6d1ba1aeca9c77431509b4dc
transformers version: 2.1.1
numpy version: 1.17.2

Here is the complete stack trace:
[code]

[2019-11-14 16:22] tholor commented on #148
Hi @johann-petrak,

I was able to reproduce the issue. It seems to be a new issue with the classification_report that is called during evaluation after the first 500 steps. Might be related to the changes introduced by 432ffb136a7c260b883e55c6c134a7e49ddaf53c or f6734cb88cb29a872cbe6dcc2ba7cbf81855cd50. I will investigate this.

[2019-11-14 18:23] #148 closed

[2019-11-15 16:51] tholor commented on #145
Hi @Alex-Zien,

you could implement it as a child class of a FARM language model (https://github.com/deepset-ai/FARM/blob/master/farm/modeling/language_model.py#L36)

The class offers quite some flexibility. You would only need to implement:
- init()
- load() / save()
- forward()

The forward() is probably the biggest part of work where you would need to pass a batch of data to the model and retur

[2019-11-18 18:09] johann-petrak opened #152 "Make it easier to use own metrics, log more metrics"
Currently the metric (for TextClassificationProcessor) needs to get specified as a string and picked from one of the pre-defined ones. That metric will then also get logged during training.

It would be very useful if it was possible to specify my own metric definition instead by allowing a function to get passed which takes preds/labels and returns the name and value of the metric.

Also it would

[2019-11-19 08:42] tholor commented on #152
Hi @johann-petrak,

Valid point. Having an option to provide a custom function would give some more flexibility to the user. If you find some time to work on this, we would be happy to see a PR here and could support you on the way there.

[2019-11-19 10:34] tholor commented on #141
Hi @Alex-Zien,

I agree that this could be helpful and we definitely have it on our roadmap for FARM. However, we have some other features that we will work on first (e.g. caching datasets, improving speed, more LMs ...). So if this is something you really need urgently, I would encourage you to implement this by yourself and to raise a PR. We are happy to support you along the way!

As a starting

[2019-11-19 11:01] tholor commented on #140
If you want to use a LM as a pure feature extractor / embedder, FARM already supports different extraction strategies ("cls_token", "reduce_mean" ...) and different layers in the Inferencer.

There are options in the Inferencer
https://github.com/deepset-ai/FARM/blob/30aa9209c5b8840e5c31378d8dd2bcad1365c752/farm/infer.py#L250

which are then used in `LanguageModel.formatted_preds()`
https://github

[2019-11-19 15:11] greg121 opened #153 "How to use bert-base-german-cased model to do NER?"
**Question**
https://demos.deepset.ai/ner
is there a source code to this specific problem? how I can achieve this and use the german bert model to recognize entities. very impressed with the performance on my examples.

[2019-11-19 15:27] tholor commented on #153
Hi @greg121,

Yes absolutely, I would suggest you to have a look into this example script where you can see the "Building blocks":
https://github.com/deepset-ai/FARM/blob/master/examples/ner.py

Running this scripts trains a german bert model for NER on CONLL 2003 data.

The one for the demo was trained with slightly different parameters - you can find the exact values here: https://github.com/dee

[2019-11-19 21:24] thomasnikolaushaider opened #154 "German LM tuning data loading broken"
**Describe the bug**
Hi guys, I want to tune a german BERT model for poetry, to improve classification results.
The default script examples/lm_finetuning.py works fine out of the box with the nips data.
When I use the "bert-base-german-cased" model and supply my data in nips format (document per line), I get a "single block of text" error:

**********************************
Loading data into the

[2019-11-20 09:11] greg121 commented on #153
Thank you for your quick comment. Since I'm not a NLP Person and also only did a few simple mashine learning tasks before.

My understanding was I download your pretrained german model, use it on my data since I was already very happy with the results as stated in my initial post. From what I understand now FARM is used to transfer the model to my specific domain texts. Please correct me if I'm wr

[2019-11-20 10:25] brandenchan commented on #154
Thanks for pointing out the requirements issue. It's now been fixed.

So there are a few things to check. With the data format, the model expects one line per sentence and an empty line separating documents.

e.g.
"sentence1
sentence2
sentence3

sentence4
sentence5
..."

You might also want to adjust the max_docs argument when you're initializing the Processor object. In the examples scripts it's

[2019-11-20 11:45] johann-petrak commented on #59
@tripl3a  have you been successful to use skorch and would you be able to share code / insights?

[2019-11-20 13:29] thomasnikolaushaider commented on #154
Hi,

Thanks for getting back at me.

But this is the format that I supply. It's just that sometimes I might have two sentences per line.

So my format is

"
line1

line2

line3

line4

..."

This is what gets me the IndexError: Cannot choose from an empty sequence.

Removing the max_docs argument did nothing.

Best,
Tom

[2019-11-20 14:25] brandenchan commented on #154
Hi Tom, I was able to replicate your error when I gave the model a file in the same format. The BERT model cannot process this kind of input because of the Next Sentence Prediction task which asks whether a pair of sentences occur in the same document and one after the other. Since your documents are only one sentence long, it's impossible to generate these pairs.

So I can think of 2 solutions of

[2019-11-20 14:43] brandenchan commented on #154
I should also mention that you can switch off Next Sentence Prediction in the Processor class with the next_sent_pred argument. This might work with your current data format

[2019-11-20 15:23] thomasnikolaushaider commented on #154
Alright, many thanks.

I will try asap.

[2019-11-20 15:31] #153 closed

[2019-11-20 17:34] tholor opened #157 "Slow Tokenizer if custom vocab was added"
**Describe the bug**
Tokenizer becomes very slow with large custom vocab.

**Additional context**
This was introduced after switching to the Tokenizers from the transformers repo

There are related issues reported in the transformers repo:
- https://github.com/huggingface/transformers/issues/1830
- https://github.com/huggingface/transformers/issues/1621
- https://github.com/huggingface/transformer

[2019-11-21 08:04] tholor commented on #154
When you try again, you also might wanna get this latest fix https://github.com/deepset-ai/FARM/pull/158 here, which I merged into master this morning. There was a bug causing duplicate samples in the dataset.

[2019-11-21 09:42] tripl3a commented on #59
@johann-petrak No, I haven't tried it yet.

[2019-11-21 12:00] johann-petrak commented on #59
From a quick look I had it does not look trivial to adapt/wrap the FARM dataset, model, optimizer etc so that it can be used like skorch needs it.

[2019-11-21 12:16] johann-petrak opened #160 "Early stopping instead of a fixed number of epochs"
It should be possible to use early stopping for training, based on minimum loss or some other min/max dev-set metric.
This could allow an option to save all min models until training was stopped, so that we can use those for ensembling, if needed.

[2019-11-21 18:12] johann-petrak commented on #160
I will try to come up with a PR for an initial version of this.

[2019-11-22 01:26] thomasnikolaushaider commented on #154
Works great now. Keep up the good work.

[2019-11-22 01:26] #154 closed

[2019-11-22 07:59] tholor commented on #160
That would be great! I can see the value of this feature, but we are currently flooded with work :)
Happy to support you along the way though!

[2019-11-23 16:21] benjamin9000 opened #162 "Issue with loading GermEval Dataset in Tutorial"
**Question**
Hi,
while using the tutorial I get an error message when execeuting
data_silo = DataSilo(
    processor=processor,
    batch_size=BATCH_SIZE)
**KeyError: "None of [Index(['text', 'coarse_label'], dtype='object')] are in the [columns]"**
I downloaded the data from https://github.com/uds-lsv/GermEval-2018-Data. The corresponding data are .txt files although the DataSilo requires .tsv-fi

[2019-11-23 16:29] tholor commented on #162
Hi @benjamin9000 ,

Which tutorial are you exactly doing? Tutorial 1 via the jupyter notebook?

The dataset should be downloaded automatically by FARM. Just make sure that there is no existing folder data/germeval18 on your system.

[2019-11-23 17:17] benjamin9000 commented on #162
Thanks for the quick response!
Yes, I'm doing Tutorial 1via  jupyter notebook.

When adjusting the working directory such that it is the root of FARM ("...\FARM") and then execeuting the DataSilo()-command I get the error
**File b'data/germeval18\\train.tsv' does not exist: b'data/germeval18\\train.tsv'**
As I didn't find the file train.tsv or the folder "data/" in the repository I tried to downlo

[2019-11-25 08:10] tholor commented on #162
I tried to reproduce the issue on a linux machine, but everything seems to work smoothly there.

Can you please give some details about your environment: Are you using windows? Does your machine have straight internet access without a proxy? Please also check and post the printout of the notebook cell where the DataSilo gets initialized. It should look something like this and contains some info if

[2019-11-27 11:11] johann-petrak commented on #160
OK, I am hitting an odd problem: for early stopping, I need to save the current best model whenever it turns out to be best so far, then, instead of doing the evaluation on the test set with the current, last model in memory, I need to instead restore to overall best model first and use that.

I try this the following way:
For saving:
[code]

for restoring:
[code]

The main problem this causes is

[2019-11-28 08:45] tholor commented on #160
Ok, it seems that your `PredictionHead` is not properly linked to the `Processor` after loading.
Can you please try to add
`model.connect_heads_with_processor(self.data_silo.processor.tasks, require_labels=True)`
between model loading and starting your eval?

**Background:**
FARM supports multitask learning (e.g. using 3 different TextClassificationHeads). In that case the processor also needs to

[2019-11-28 08:57] tholor commented on #160
Regarding your second issue with MLflow logging:
This really seems a minor thing. A simple solution could be adding a boolean flag "logging" to `AdaptiveModel()` and `AdaptiveModel.load()` to avoid logging the params in your case.

[2019-11-28 10:30] johann-petrak commented on #160
Thanks, that was exactly what I needed to make it work!

[2019-11-29 17:26] benjamin9000 commented on #162
Yes, I'm using windows and my machine has a straight internet access without a proxy.

The different backslashes are strange. However, the main problem was that there was no folder "data". When downloading the dataset manually and extracting in a data folder at the correct place, the tutorial works fine. So, thanks for the link to the dataset.

[2019-12-02 08:57] tholor commented on #145
Closing this for now. Let us know if you want to investigate it further with a PR

[2019-12-02 08:57] #145 closed

[2019-12-02 08:57] tholor commented on #144
Closing this for now.

[2019-12-02 08:57] #144 closed

[2019-12-02 15:02] johann-petrak commented on #59
I will try to come up with some example code for this but without using skorch, just using some of the sklearn functions.

[2019-12-02 16:48] johann-petrak opened #166 "Class weights calculated from all datasets."
I stumbled over this by chance:
it appears that the DataSilo method calculate_class_weights uses all data sets to calculate the weights. This violates the principle that no information about the unseen data should be used for training, and that includes class probabilities.

For training, only the training set class frequencies should be used.

So my suggestion would be to use the training set onl

[2019-12-03 09:58] brandenchan commented on #166
Thanks for picking up on this. Totally agree that dev and test should remain unseen by default. This has been fixed in the latest commit (21a439d2fcdd9695398abf51e6b16a0e7999c46f)

[2019-12-03 09:58] #166 closed

[2019-12-03 12:12] johann-petrak commented on #59
OK I have an example xval for doc classification, but it depends on the changes made in pull request 165, so I will wait for that one to get merged or further worked on.

[2019-12-09 14:33] #160 closed

[2019-12-09 14:40] tholor commented on #152
Thanks to the work of @johann-petrak in #165 , we have now a workflow for supporting custom metrics.

1) Define your own function that takes "preds" and "labels" as input and returns a dictionary of one or multiple metrics
2) Register the function with a name via register_metric()
3) Pass the name to the processor

Example:
https://github.com/deepset-ai/FARM/blob/3b0c5215442c3afbd76bbd7879a323c426

[2019-12-09 14:40] #152 closed

[2019-12-14 13:35] tholor commented on #59
Merged in #167.  Thanks @johann-petrak!

[2019-12-14 13:35] #59 closed

[2019-12-16 10:12] tholor commented on #51
Fixed by #173

[2019-12-16 10:12] #51 closed

[2019-12-19 10:34] ckobus opened #178 "QA training: segmentation fault with BERT large"
Hi all,

I have a question with respect to QA training with BERT large on squad 2.0.
I tried to reproduce the QA training you mention in the blog post https://medium.com/deepset-ai/modern-question-answering-systems-explained-4d0913744097, using the BERT large, with batch_size=32 and max_seq_len=384. But I have a crash at the very beginning of the training (Segmentation fault).
When reducing the ba

[2019-12-19 11:11] Timoeller commented on #178
Hey Catherine,

the experiments, parameters and performances that were reported in Figure 9 + 10 are related to the Bert base version, not the Bert large version. This one is of courses larger and needs more memory.
Though you already found the solution by lowering the batch size.

If this large model should not converge you could try using gradient_accumulation over multiple batch updates. You ca

[2019-12-19 13:35] ckobus commented on #178
Thanks for the quick answer and the tip about gradient_accumulation; I will try to use it...

But it seems the QA model you provide with the Haystack tutorial comes from a Bert large, no?

In the notebook https://github.com/deepset-ai/haystack/blob/master/tutorials/Tutorial1_Basic_QA_Pipeline.ipynb, there is a link to the model url="https://s3.eu-central-1.amazonaws.com/deepset.ai-farm-models/0.3.

[2019-12-19 14:03] Timoeller commented on #178
No worries, always happy to help.

Exactly, this model is a large one and has quite some performance improvements over the base version... at the cost of training and inference speed. The performance is on the dev set, the SQuAD test set is actually not public, you need to upload your model. This uploaded model is evaluated on own SQuAD servers on the private test set.

If we used a batch size of

[2019-12-19 14:30] ckobus commented on #178
The training is almost finished but actually, it seems having issues to converge.
the best result I got so far on the dev is after 8000 iterations:

12/19/2019 13:06:49 - INFO - farm.eval -   loss: 0.8275824179122975
12/19/2019 13:06:49 - INFO - farm.eval -   task_name: question_answering
12/19/2019 13:06:49 - INFO - farm.eval -   EM: 0.7626547629074371
12/19/2019 13:06:49 - INFO - farm.eval -   f

[2019-12-19 14:49] ckobus commented on #178
Another question, which value would you recommend for the parameter grad_acc_steps?

[2019-12-19 15:08] Timoeller commented on #178
Yes, models produced with whole word masking should perform consistently better across tasks (though only slightly).
Since you already have the link to a Bert large WWM fine-tuned on squad with batch size 20, I would recommend to try something new :)
What about setting gradient accumulation to 2 with batch size 20, resulting in an effective batch size of 40. Maybe you can beat the performance ment

[2019-12-19 15:40] tanaysoni commented on #101
This is implemented by #177.

[2019-12-19 15:40] #101 closed

[2019-12-19 17:09] tholor commented on #60
It's clearly an unwanted model behaviour due to the rather clean corpus used for vocab creation.  We (and also others) learned from it :)
However, this is nothing related to FARM directly - so I am closing this issue now.

Recommendation for others working with GermanBERT and data with many @ / !  (standalone or at the start of a word):

Simply add those tokens to your tokenizer via
```tokenizer.a

[2019-12-20 16:29] #126 closed

[2020-01-06 00:04] AndriyMulyar opened #182 "What multi-task strategies are implemented?"
**Question**
Suppose I have three tasks A,B,C each with a corresponding head and loss. What multi-task training strategies are implemented?

[2020-01-06 10:17] tholor commented on #182
Hey @AndriyMulyar,

We currently have hard parameter sharing and the simultaneous learning of multiple (auxiliary) tasks (similar to what Sebastian Ruder describes in https://arxiv.org/pdf/1706.05098.pdf). This means in your example the tasks A, B, C would share the parameters of the language model (e.g. BERT) and only the weights from the head are "task-specific". The individual loss of each head

[2020-01-06 10:33] tholor commented on #157
There are new fast tokenizers for BERT implemented in rust: https://github.com/huggingface/transformers/pull/2211

We should have a look if they are compatible and solve the issue with custom vocab here.

[2020-01-06 18:39] AndriyMulyar commented on #182
Hi, thanks for the response! The obvious approach to me seems to be training each head in a round robin scheme. Are you familiar with any analysis on various strategies for multi-task training? For instance, it is not obvious (to me) how one would perform updates with loss averaging when tasks with different loss functions are present (say cross entropy for a token classification head and MSE for

[2020-01-07 14:16] tholor commented on #182
Sure, loss averaging becomes tricky once you have losses with a different scale. You could end up with one dominating task and not learning at all on the others. You could use manual weights or try to automatically infer them (like suggested in this [paper](https://arxiv.org/pdf/1705.07115.pdf) and used [here](https://engineering.taboola.com/deep-multi-task-learning-3-lessons-learned/)).

I have m

[2020-01-07 19:22] AndriyMulyar commented on #182
I have a custom torch RR dataloader I would be happy to share/integrate. I am working on a related MTL project currently and will see if I can integrate some of these kind of analysis into it. Looking forward to following up.

[2020-01-08 11:27] tholor commented on #182
This would be great!
Happy to discuss / support on the options to integrate it.

[2020-01-09 14:47] maknotavailable opened #185 "DistilBERT Support"
**Question**
Are you currently working on adding support for DistilBERT?

**Additional context**
I am specifically interested in the publicly available DE version of the model (distilbert-base-german-cased). If not, I will work on the integration.

[2020-01-09 15:42] tholor commented on #185
Hey @maknotavailable,

it's in our backlog, but we haven't started working on it yet. So it would be awesome if you could work on the integration. It should be relatively comparable to adding any of the other models.

You would basically need to:
1. Add a DistilBERT Language model [here](https://github.com/deepset-ai/FARM/blob/master/farm/modeling/language_model.py#L236)
2. Add a DistilBERT Tokeni

[2020-01-09 23:31] maknotavailable commented on #185
See #187.

[2020-01-09 23:31] #185 closed

[2020-01-12 11:19] JiangYanting opened #189 "How to process the data format for multi-label classification?"
**Question**
How to process the data format for multi-label classification?

**Additional context**
Hello! I’m trying to run the  "**doc_classification_multilabel.py**" in FARM/examples/    using the **toxic comments dataset** in Kaggle. The original data format is as shown below:

id | comment_text | toxic | severe_toxic | obscene | threat | insult | identity_hate
-- | -- | -- | -- | -- | -- | --

[2020-01-13 13:24] tholor commented on #189
Hey @JiangYanting ,

The data should have the following format:

text | label
-- | --
Explanation Why the edits made under my username Hardcore Metallica Fan were reverted? They weren't vandalisms, just closure on some GAs after I voted at New York Dolls FAC. And please don't remove the template from the talk page since I'm retired now.89.205.38.27 | |
COCKSUCKER BEFORE YOU PISS AROUND ON MY WORK

[2020-01-13 17:13] julien-c commented on #157
Yes, please check it out and let us know here.

Repo is at https://github.com/huggingface/tokenizers

[2020-01-14 17:10] JiangYanting commented on #189
@tholor thank you very much! I'd have a try~

[2020-01-15 13:19] Hahny opened #191 "Error in lm_finetuning.py on own dataset"
Hello and thanks for this wonderful package :)

When i try to customize a bert model (following examples/lm_finetuning.py) with my own dataset i get an error during loading the data into the Data Silo.

[code]

Error looks like this:
[code]
The error seems to appear when i increase the data size (eg. 40000 tweets in blocks of 4)
The datafile looks like this (one tweet per row, "\n" between documen

[2020-01-15 13:56] tanaysoni commented on #191
Hi @Hahny, thank you for raising the issue!

I suspect the error is due to PyTorch keeping open a large number of file descriptors.

Could you share more details of the run-time environment, especially number of CPU cores and the output of `ulimit -Hn`?

If indeed the file descriptor limit is the issue, you can change try with changing the CUDA tensors sharing strategy to `file_system`. You can fi

[2020-01-16 08:34] Hahny commented on #191
Thanks for the fast response. I resolved the issue by increasing ax_multiprocessing_chunksize to the default parameter. Anyway, this error seems not related to FARM. But thanks for your help i think your proposed solution will work too.

[2020-01-16 08:34] #191 closed

[2020-01-16 11:29] Hahny opened #193 "Error during dev set evaluation in lm_finetuning.py when adding a custom vocab via tokenizer.add_tokens"
Hello and thanks again for your work and help!

When i add custom tokens during an LM finetuning an `index out of range` error is thrown during the evaluation of the dev set. The error does not appear if you run the training without an dev set (setting dev_filename=False in the  BertStyleLMProcessor).

If no dev and test set is specified, the model can later be used for a downstream task with the

[2020-01-17 14:03] brandenchan commented on #193
Hey thanks for a well documented issue. I was able to replicate it. I believe the issue has to do with the initialization of the BertStyleLMProcessor (processor.py). The vocab list there is not updated with the added tokens. I have opened  #197 to deal with this. Let me know if this solves it.

[2020-01-19 19:08] Hahny commented on #193
Thanks, i had written my own checking points according to my needs, Therefore, i did not test your update.

[2020-01-19 19:08] #193 closed

[2020-01-20 10:11] aiwalter opened #199 "unexpected keyword argument 'device'"
**Describe the bug**
Error occurs when runnin e.g. the "test_doc_classification_distilbert.py"

**Error message**
[code]

**Additional context**
Error comes only when installing via pip. Installation via GitHub was working fine, so it seems the error was already fixed, however not commited to PyPI?

**To Reproduce**
Execute the "test_doc_classification_distilbert.py" file with `language_model = Ro

[2020-01-20 11:53] tholor commented on #199
Hey @aiwalter,

You are totally right. This is due to a version mismatch between the example and the latest FARM version on pypi (2.3.0).

We changed the signature of `initialize_optimizer()` in #133, but didn't do a release since then.
We will probably do one later this week, when we are done with a few other big features (conversion to transformers, caching + checkpointing during training ...)

[2020-01-20 14:12] aiwalter commented on #199
Hi @tholor ,
thx for fast feedback. I just wanted to document this error, as others might also face it :)
Please close this issue as soon as you have released the new version at PyPI.

[2020-01-21 03:49] JiangYanting opened #201 "Could I extract embeddings from the model which has been fine tuned ?"
**Question**
Could I extract embeddings from the model which has been fine tuned ?

**Additional context**
 Hello, I have fine tuned the original "pytorch_model.bin" using the script "doc_classification_multilabel.py". And it produced a new language model "language_model.bin" and many other files. So I'm wondering whether I can extract embeddings of sentences from this newly-formed language model

[2020-01-21 03:50] #189 closed

[2020-01-21 10:02] ckobus opened #202 "Albert fine-tuning on SQUAD 2.0"
Hi,

I am trying to fine-tune an Albert large v2 model on SQUAD 2.0 dataset; but so far, I do not succeed to make it converge (the loss doesn't decrease).
I saw others have the same issues (cf https://github.com/huggingface/transformers/issues/2104).
I tried with Albert large v1 and the training went OK even though at the end, I did not get the same results as Bert large.
Did anyone succeed using

[2020-01-21 18:36] tholor commented on #201
Hi @JiangYanting ,

Sure, please check out the example in [examples/embedding_extraction.py](https://github.com/deepset-ai/FARM/blob/master/examples/embeddings_extraction.py). I just updated it to reflect the latest changes in the `Inferencer`.

You can now load a) fine-tuned models from a directory and b) any model in `transformer` format from their [model hub ](https://huggingface.co/models).

H

[2020-01-21 18:49] tholor commented on #202
Hi @ckobus ,

You are not the only one encountering these issues. With v2 models there seems to be still a few bugs (see also https://github.com/huggingface/transformers/issues/2337). With v1, results are better but still not very stable (judging from a few of our own runs and discussions with other researchers like @BramVanroy). I hope to find some time soon to do more experiments on this. For no

[2020-01-21 19:33] BramVanroy commented on #202
I can indeed confirm that Albert has rarely been stable in my experiments. Fiddling with the LR (using LAMB, LR 3e-5) helps slightly but still. I would also recommend RoBERTa.

[2020-01-22 08:31] tholor commented on #157
Hey @julien-c,

I finally found some time to test. Seems really promising! Great work!

:heavy_check_mark: Same tokenization behaviour as BertTokenizer (see [test](https://github.com/deepset-ai/FARM/blob/8066ee6c718cd0818df2735c10ec67f61c9987b4/test/test_tokenization.py#L92))
:heavy_check_mark: Speed: ~ 7.8 x faster! (Tested via tokenizing SQuAD train set with 42 Mio chars)
:white_check_mark: Spee

[2020-01-22 08:59] ckobus commented on #202
Thank you @tholor and @BramVanroy for the answers and the advise!!

[2020-01-22 09:02] #178 closed

[2020-01-22 14:57] julien-c commented on #157
Hi @tholor, mind opening an issue on `tokenizers` too, cross-referencing this one? cc @n1t0

[2020-01-22 16:37] agoeroeg opened #207 "Own model visible in Docker API but not in UI"
**Question**
I have a text_classification model saved under saved models and visible in the docker api (localhost:5000), but not visible in the UI/document_classification (http://localhost:3000/doc_class). Could somebody help me and explain why? Thanks!

**Additional context**
curl -X GET "http://localhost:5000/models" -H "accept: application/json" finds my text_classification model with id: 1

[2020-01-22 17:04] tholor commented on #207
In order to replicate this:
- What exact FARM version are you using (e.g. PyPI release or current master)?
- What versions of the docker images are you using?
Thanks :)

[2020-01-23 00:19] ahotrod opened #208 "Example question_answering.py - tqdm "ValueError: 1 is not in list""
Running the current `question_answering.py` example, during preprocessing dataset:
[code]
Execution stops with **"ValueError: 1 is not in list"**

I have searched the web for references to this problem with no success.
Anyone experienced this with tqdm and/or have a solution?
Thanks!

**System:**
 - OS: Linux Mint 19.3 based on Ubuntu 18.04. 3 LTS and Linux Kernel 5.0
 - GPU/CPU: 2 x NVIDIA 1080Ti

[2020-01-23 08:17] agoeroeg commented on #207
FARM current master
farm_inference-ui_1 deepset/farm-inference-ui:0.3
farm_inference-api_1 deepset/farm-inference-api:base-models-0.3.1

Windows 10 Pro,  Docker version 19.03.5, build 633a0ea,

[2020-01-23 10:02] tanaysoni commented on #207
Hi @agoeroeg. The UI Docker Image was pointing to an incorrect URL for the inference API. It has now been fixed. Could you try running again after deleting the local copy of `deepset/farm-inference-ui:0.3`Docker Image and pulling the updated version?

[2020-01-23 10:45] agoeroeg commented on #207
It works, thanks!

[2020-01-23 10:59] #207 closed

[2020-01-23 11:09] brandenchan commented on #208
So I have not been able to reproduce the error. But looking at the console output you provided, I suspect it has something to do with multiprocessing. Could you try this again using single processing? To do this you will need to use the latest version of master. Then set DataSilo(...max_processes=1)

[2020-01-23 15:40] tholor opened #210 "AMP mode "O0" not working on multi GPUs due to DataParallel"
**Describe the bug**
Training with automatix mixed precision is crashing in the very first forward pass of the model.
Parameters are not all on the same device. This seems to be related to recent changes on modifying the model dimensions after converting the model for amp (e.g. #195) .

**Error message**
[code]

**To Reproduce**
Run examples/doc_classification.py with use_amp= "O0"

**System:**
 -

[2020-01-23 17:06] tholor commented on #210
Ok, narrowed it down. It actually only seems to be a problem with the combination of amp level "O0" and multi GPU. "O1" works like a charm. This seems to be a known issue in apex (https://github.com/NVIDIA/apex/issues/503). As mode "O0" is regular fp32 (for which we don't really need to use apex) this bug is not really essential to us. However, we should keep an eye on if it gets fixed upstream wi

[2020-01-23 17:06] #210 closed

[2020-01-23 19:19] ahotrod commented on #208
@brandenchan thanks for your prompt response.

Updated FARM:  `pip install --editable .` after `git pull` on master

Modified question_answering.py code:
`data_silo = DataSilo(processor=processor, max_processes=1, batch_size=batch_size, distributed=False)`

After nearly 1/2 hour with only one CPU thread at 100% utilization, execution terminated and received the same error message, "**ValueError: 1

[2020-01-23 19:57] ahotrod commented on #208
Re-visited one of my best-performance Transformers fine-tuning scripts, `xlnet_lrg_sqd2_512_bs48.sh`
to verify performance and all is well:

[code]
tqdm under Transformers is performing as expected.  I'll keep looking.

[2020-01-25 02:31] ahotrod commented on #208
Ran another trial with Pytorch==1.3.0 and Tensorflow==2.0.0, gave same error.

[2020-01-25 11:26] tholor commented on #208
Hmm.. since we cannot reproduce this issue on our side, let's try to narrow it down together.
I could think of a few directions:
a) Dataset: Maybe the dataset is corrupt? Are you using the squad data that gets automatically downloaded in the example script?  Can you try to delete the folder "../data/squad20" and let it be downloaded again by the script.

b) FARM version: did you uninstall FARM bef

[2020-01-26 04:56] zolekode opened #214 "DistilBert for En, De and Fr"
**Question**
I see Farm supports german DistilBERT. Is it the case for English and French too ? If yes, how do I use the load those models ?

[2020-01-26 09:11] tholor commented on #214
Sure, you can easily convert models between FARM <-> huggingface's transformers.  You can load any of the models from [here](https://huggingface.co/models) by just using the model name in a `load()` method:
[code]
In our example scripts, this is as simple as changing this variable to the model name you want:
https://github.com/deepset-ai/FARM/blob/d606df13f7d3d0536de9e5e5de843b2d9422f223/examples/

[2020-01-26 14:58] zolekode commented on #214
Thanks works. Would multilingual distilBERT work for French ?

[2020-01-26 15:22] tholor commented on #214
Definitely, worth a try! If that doesn't give satisfying results you could also consider training a french distilBERT yourself (see [here](https://github.com/huggingface/transformers/tree/master/examples/distillation))

[2020-01-26 15:48] zolekode commented on #214
Awesome. Thanks

[2020-01-26 15:49] #214 closed

[2020-01-27 05:58] ahotrod commented on #208
Created completely new environment from the latest repos:
Python: 3.7.6
PyTorch:  1.4.0
Tensorflow: 2.1.0
Transformers: 2.3.0
Farm:  0.4.0, installed via `pip install --editable .` from new git clone of master

**New download, both dev-v2.0.json & train-v2.0.json are dated 03Jul2019**

**Completely new environment, same error "ValueError: 1 is not in list".**

**doc_classification.py works**

**Ye

[2020-01-27 09:51] brandenchan commented on #208
Ok great, thanks. I still haven't been able to replicate the bug but the terminal output gives me another trace as to where it might be. Since you have an editable FARM installed, could you please replace line 358 in data_handler/input_features.py with this code block and then post the terminal output once again?
[code]
I feel we're getting closer!

[2020-01-27 10:17] brandenchan commented on #208
Just now, we managed to replicate the issue. It is related to huggingface/transformers#2432. Working on a fix now

[2020-01-27 11:50] brandenchan commented on #208
#216 has now been merged into master. @ahotrod could you try it and verify that it fixes the problem?

[2020-01-27 14:54] JiangYanting opened #217 "MLFlowLogger: "Connection aborted." - RemoteDisconnected Error"
**Describe the bug**
I try to do multi-label classification with "doc_classification_multilabel.py". It worked at first. However when it came to `"Train epoch 1/1:  65%|██████▍   | 17251/26668 [10:19:41<4:04:28,  1.56s/it]"`, it stopped and report:

[code]

  I have checked that the Internet connection was ok. So I was confused why this error occured ?

**Error message**
Error that was thrown (if

[2020-01-27 16:42] tholor commented on #217
Hey @JiangYanting,

Are you using our public mlflow server for logging (i.e. `ml_logger = MLFlowLogger(tracking_uri="https://public-mlflow.deepset.ai/")
` in doc_classification_multilabel.py)?

I would assume that your connection to that server was not available when the model tried to logg the train_loss at step 17251.

I see two solutions:
- short term: you can log locally by setting `ml_logger

[2020-01-27 21:28] ahotrod commented on #208
@brandenchan @tholor thanks!

Yes indeed it works with the new environment as I described in my last post above.  It's a data parallel solution utilizing my hybrid-liquid-cooled GPU 0 and open-framed-cooled GPU1: [qa_nvidia_smi.txt](https://github.com/deepset-ai/FARM/files/4119343/qa_nvidia_smi.txt)

By the fourth Sample, "_What intractability means in practice is open to debate_" there was a stop

[2020-01-28 07:32] tholor commented on #208
Glad that we could nail it down & fix it together, @ahotrod !

QA is also the main task we work on these days and we made already some learnings with large scale deployments in the industry, that will find their way into FARM and our new [haystack](https://github.com/deepset-ai/haystack/) project.
Would be really nice to exchange on experiences and features that would simplify your dev cycle. You

[2020-01-28 17:41] johann-petrak opened #219 "Better support for classification cross-validation"
There are at least two things that should get improved in the example program for doing cross-validation (`examples/doc_classification_crossvalidation.py`)

1) free GPU memory after each fold

I have noticed that GPU memory tends to accumulate with the current code and it helps to run `model.cpu()` followed by `torch.cuda.empty_cache()` (of course only if the model is really on the GPU). I do not

[2020-01-28 17:55] johann-petrak commented on #182
How would one go about weighting and combining the per-head losses in a user-specific way?

BTW, I think the issues mentioned here also apply to some degree to multilabel classification where we have the issue of combining per-label losses, different label frequencies etc?

[2020-01-28 18:22] ahotrod commented on #208
@tholor - same here

FARM, haystack, and your services may be valuable to our project.
Is _hello [at] deepset.ai_ the appropriate email address to send you a project outline & description?

Yes, very familiar with gradient accumulation.  Rely on it extensively in Transformers, e.g. the shell script mentioned earlier `xlnet_lrg_sqd2_512_bs48.sh` for fine-tuning XLNET with my hardware-challenged set

[2020-01-28 18:57] tholor commented on #208
Nice! We mostly use BERT & Roberta these days, but I guess we should benchmark again with XLNET for some scenarios. ALBERT is still our big hope, but it seems a bit tricky to get really stable, reproducible results with it.

yep

[2020-01-29 09:42] tholor commented on #182
@johann-petrak I just drafted an implementation in #220. Would be great to get your feedback on the PR!

Yes, I would say it's related in that sense that in both situations we "aggregate losses" which impacts our loss scale afterwards. However, if you want to adjust multilabel classification loss, I would probably implement it directly in the prediction head: https://github.com/deepset-ai/FARM/blo

[2020-01-29 10:04] tholor commented on #219
Good points, @johann-petrak!

1. Maybe we face one of the two cases mentioned here :thinking: https://pytorch.org/docs/stable/notes/faq.html#my-model-reports-cuda-runtime-error-2-out-of-memory?

2. Absolutely! Would you be willing to implement this?

[2020-01-29 10:15] tholor opened #222 "Loading cached DataSilo even if max_seq_len has changed"
**Describe the bug**
We introduced caching of the DataSilo to speed up preprocessing. However, the checksum of the cache is currently only based on the filename of the training data. This is not enough, since users might change preprocessing params in their script (e.g. max_seq_len) and end up with loading an "outdated" cache

**Expected behavior**
Don't load the old cache if preprocessing params

[2020-01-29 12:38] johann-petrak commented on #219
I will have a look at implementing the class weights calculation for xval fold silos.

Regarding the memory issues, I am not sure. If we are holding on to some variable somewhere, then what helps in my case should not make a difference. Will have to investigate further.

[2020-01-29 16:49] johann-petrak opened #226 "Is there a pretrained German Albert / Distilbert model using the deepset.ai word pieces?"
The deepset.ai German pretrained BERT model with the German word pieces works well but has the common problem of all of the original transformer models in that it uses a lot of memory and is not too fast for long sequence lengths.

There are other model architectures now in the transformer library which promise to alleviate those problems at least to some extent like ALBERT or DistilBERT. Are ther

[2020-01-30 04:11] JiangYanting commented on #217
@tholor By setting `ml_logger = MLFlowLogger(tracking_uri="")` , it works. Thank you very much ! ^_^

[2020-01-30 08:23] tholor commented on #226
_TL;DR: Not yet, but hopefully ALBERT soon. Not sure about distilBERT yet. Gradient accumulation and AMP could help._

We are currently training multiple German ALBERT models (more data + o vocab), but face problems with loss convergence and downstream performance (so far not better than BERT).
We have a few more things that we wanna try here and hopefully get some better results then.

We also ha

[2020-01-30 09:40] #222 closed

[2020-01-30 10:26] johann-petrak commented on #226
Thank you for this helpful answer!

When I say "same word-pieces" I meant, using the same, German-specific method which seems (I am not sure about the details) respect German compounds and morphology more than the method used for the original multilingual BERT models. I compare the deepset.ai pretrained model with the origingal Germal model (both cased) and got better results with the deepset mode

[2020-01-30 11:22] stefan-it commented on #226
I think the training command for SentencePiece can be found in this issue:

https://github.com/huggingface/transformers/pull/688#issuecomment-514560713

So I would say it respects German compounds/morphology better, because of the (almost) mono-lingual German training corpus.

However, there's room for more performance boost when it comes to BPE and for German there's a nice paper about linguistic

[2020-01-30 14:01] tholor commented on #226
Nice paper, thanks for sharing @stefan-it! Might be worth testing in a new BERT/roBERTa training run :)

@johann-petrak, I would suggest you give the Stefan's German DistilBERT a try. You can easily load it in FARM by referring to its public name in huggingface's model hub:

[code]

Which "original German model" are you referring to?

We are thinking of writing up some learnings & results in a lig

[2020-01-30 14:15] #217 closed

[2020-01-31 11:21] zolekode opened #227 "Update Examples"
The examples are really useful but are no longer up-to-date.
https://github.com/deepset-ai/FARM/blob/master/examples/doc_regression.py

* For example, the model is passed to the trainer.train(model) and not in the constructor anymore
* It seems distilBERT uses standard BERT tokenizer so using lang_model for distilBERT to load both the tokenizer and the model itself won't work. But solving this was

[2020-01-31 11:29] zolekode commented on #227
My Bad concerning the training file name. I now see we can pass it as an argument.

[2020-01-31 12:25] zolekode opened #228 "Model name 'distilbert-base-german-cased' was not found in model name list"
Training starts of really well but then i get the following error. Please could you help ?

**Error message**

`Traceback (most recent call last):
  File "path_to_src/vitenv/lib/python3.7/site-packages/transformers/configuration_utils.py", line 133, in from_pretrained
    resolved_config_file = cached_path(config_file, cache_dir=cache_dir, force_download=force_download, proxies=proxies)
  File "pa

[2020-01-31 13:17] johann-petrak commented on #226
Thanks, I gave this a try, very easy to use. In my case distilbert used onlt 63% of the time to train and xval-evaluate 9 datasets, however 4 of the 9 datasets got so much worse that it hurts while none got better. Might be an unlucky random seed of course, I only did one run each so far.

[2020-01-31 14:00] tholor commented on #227
Hey @zolekode ,

Thanks for reporting! It's sometimes tricky to keep all examples up-to-date.

 Yep, totally right.

Using the `lang_model` for loading the tokenizer should actually work. Is it possible that you use an older version of transformers? Since their last release is quite a while ago, I would recommend installing from their latest master branch and not from pypi. If the problem still pe

[2020-01-31 14:05] tholor commented on #228
Seems like a version thing to me. There were a couple of fixes within the transformers repo to load models remotely. Could you test installing the latest versions?
[code]

[2020-01-31 14:33] zolekode commented on #228
Yes, you are right, most errors are coming from the versions. I now installed Transformers and then FARM directly from github. The current issue is resolved :) thanks.

[2020-01-31 14:33] #228 closed

[2020-01-31 14:35] zolekode commented on #227
Yes it is a version problem. Installing transformers and FARM directly from github solved the issue. Yes, i would gladly farm :)) 👍

[2020-01-31 14:35] #227 closed

[2020-02-01 10:57] zolekode opened #229 "Using a target size ... that is different to the input size"
Please what does this mean ?

Train epoch 1/20 (Cur. train loss: 218.7825):  61%|██████▏   | 62/101 [01:40<02:25,  3.72s/it]/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/torch/nn/modules/loss.py:431: UserWarning: **Using a target size (torch.Size([32, 1])) that is different to the input size (torch.Size([32]))**. This will likely lead to incorrect results due to broadcasting. P

[2020-02-02 13:44] tholor commented on #229
I suppose the shape of your predictions are not matching the shape of your labels.Can you please provide some additional context: What task are you working on? How do you initialize prediction head and processor? How can we reproduce this?
Thanks :)

[2020-02-02 21:42] zolekode commented on #229
I am working on a regression task (The labels range from 0 to 16). Here is how i initialize the prediction head:
```prediction_head = RegressionHead([768, 1])```
Basically, the code is very similar to that of the doc_regression.py found under examples. Nothing significant has changed (data, max_sequence_length, lr and model='distilBERT)

[2020-02-03 08:00] tholor commented on #229
Ok, found it: the logits were squeezed and therefore didn't match the current implementation of labels.
Fixed it in #230. Can you please verify that your warning message is gone with this fix?

[2020-02-03 08:58] #229 closed

[2020-02-03 12:25] zolekode opened #231 "How to add Custom Layers"
How can i specify custom layers ?
For example, instead of [768, 1] for regression, I would like to have [768, X]=>[X, 1] for example

[2020-02-03 14:17] brandenchan commented on #231
Hey, is it that you want to specify a deeper feed-forward layer as the prediction head?

If so you can initialize an n-layered prediction head by setting the layer_dims argument. It should be a list specifying the input and output dimensions of each layer. So for a 2 layer feed forward network for regression you might have something like RegressionHead(layer_dims=[768, X, 1]).

I am curious to see

[2020-02-03 14:22] zolekode commented on #231
Ah thanks. Yes, I just tried it and it didn't improve the performance.

[2020-02-03 14:22] #231 closed

[2020-02-03 14:29] zolekode opened #232 "Model not found at inference time"
Hey, I get this error after training for regressor:

[code]

The code is very similar to the doc_regression.py found in the farm/examples.

Here is how i save my model after training:
`save_dir = Path("models") where models is a directory in my project.`
and here is the rest of the code:
[code]

[2020-02-03 14:46] zolekode opened #233 "Input is not valid. Should be String"
I want to build a model for text classification following the tutorial found under FARM/tutorial/1_farm_building_blocks but I came across this error:

```ValueError: Input is not valid. Should be a string, a list/tuple of strings or a list/tuple of integers.```

I am not quite sure if it is FARM related or if i just messed up my csv export somehow. Here is a sample of my dataset (in particular, th

[2020-02-03 14:49] brandenchan commented on #232
So do you see the saved model in save_dir that you specified? This folder should contain files like language_model.bin and language_model_config.json. You should be pointing the Inferencer to this folder.

`model = Inferencer.load(Path("path/to/saved/model"))`

[2020-02-03 14:49] zolekode commented on #233
I have to note that the csv works fine with standard editors like numbers, excel and apis like pandas or vaex. That's why i don't know if the error is directly related to farm

[2020-02-03 14:58] zolekode commented on #232
Yes, actually when i look into the folder, `!ls models` i get:
[code]

[2020-02-03 15:13] zolekode commented on #232
Ok, it seems, the problem is else where. because the model is now loaded successfully. So my paths must have been messed up.
But the program still crashes on this line:

`result = model.inference_from_dicts(dicts=basic_texts)`

Unfortunately, since i am on sage maker, the notebook just freezes so i get no error message

[2020-02-03 15:29] zolekode commented on #232
I tried the model.inference_from_file(file_path) to see if it works then but here is the error i get:
`KeyError: '[None] not in index'`. Is there any special format for files at inference time? I didn't understand the comments in the source code.

[2020-02-03 16:37] zolekode commented on #232
I ran the model on my PC and everything works fine there. So this is probably a SageMaker issue.

[2020-02-03 16:37] #232 closed

[2020-02-03 16:40] zolekode opened #234 "FARM in Sage Maker"
Possibly Provide a tutorial to install, configure and run Farm on SageMaker.

[2020-02-03 16:50] Timoeller commented on #234
Thanks for the feedback. @tanaysoni is currently working on this, we will let you know once it is pushed.

[2020-02-03 17:02] tanaysoni commented on #234
Hi @zolekode, we now have a [tutorial](https://github.com/deepset-ai/FARM/blob/master/tutorials/sagemaker/3_train_with_sagemaker.ipynb) for getting started with down-stream task training using the SageMaker Python SDK. The tutorial is an early version, so any feedback would help improve it!

[2020-02-03 17:17] Timoeller commented on #234
Oh, that was quick :)
And yes, any feedback would be highly appreciated. We can also set up a short call if you run into deeper problems. Just let us know.

[2020-02-03 17:22] zolekode commented on #234
Ok thanks. That was really quick :D :D

[2020-02-03 17:53] #234 closed

[2020-02-04 10:01] Timoeller commented on #233
Hey @zolekode to me it seems your CSV file doesn't have a correct header indicating the names for labels and text columns. Maybe try adding those.

[2020-02-04 11:36] zolekode commented on #233
Hi @Timoeller, the label column name is "Label" as provided to the TextClassificationProcessor and the text column is "text".

[2020-02-04 11:49] zolekode commented on #233
```test["text"] = test["text"].str.encode('utf-8')```  😄 👍
Just solved it. There may have been some issues with encoding, although the file was already exported with utf-8 encoding before, the text column was cast to str and all "nan"-s were dropped.
Maybe in the future you could add something like "preferred" encoding to the interface and then maybe use that line to cast the text column ?
Tx :)

[2020-02-04 11:49] #233 closed

[2020-02-04 13:10] stefan-it opened #235 "German CoNLL-2003 data"
Hi,

it seems that the `DOWNSTREAM_TASK_MAP` uses the wrong data for the German CoNLL-2003.

I had a look at the data that is specified e.g. for the `conll03detrain` task and I think they also include the data from the GermEval shared task.

I compared the original CoNLL-2003 dataset (created from Reuters CD) and the correct data is located in this [conll2003 folder](https://github.com/MaviccPRP/g

[2020-02-04 14:03] Timoeller commented on #235
Thanks for the heads up.
We will double check and let you know asap.

Do you maybe know another site that hosts the correctly transformed data? We would prefer to not host the copyrighted conll03 data ourselves.
As last resort we will do the necessary transformations on FARM side.

[2020-02-05 14:56] brandenchan commented on #235
Hey thanks for pointing this out. You are actually right - the conll dataset has at least some if not all of germeval14 in it. We are looking more deeply in to it now and will get back to you.

[2020-02-06 13:01] stefan-it commented on #235
@brandenchan at the moment I couldn't find the CoNLL data for German that is both in utf-8 and iob2. So I think we need to implement some function for encoding and fixing the tagging format.

Here's a snippet for IOB1 to IOB2 (haven't test it yet), that we could use: [Gist](https://gist.github.com/allanj/b9bd448dc9b70d71eb7c2b6dd33fe4ef) :)

[2020-02-06 17:38] brandenchan commented on #235
I was just about to ask you for that code - thanks! Will keep you updated on our progress

[2020-02-06 18:12] ahmednasserswe opened #238 "error when having 1 worker to preprocess the dataset"
I get the following error when I run a question answering with Farm. Happens after the data preprocessing starts. I am running on colab which gives only 1 worker for this process. When I run on AWS with multiple workers available, I don't receive the error message
[code]

[2020-02-06 18:20] tholor commented on #238
Seems related to https://github.com/deepset-ai/FARM/issues/208 . Are you training a roberta model? Do you have the latest FARM version installed?

[2020-02-06 18:21] #208 closed

[2020-02-06 18:30] ahmednasserswe commented on #238
latest version - using `xlm-roberta-base`

[2020-02-06 18:37] tholor commented on #238
@brandenchan can you please try to replicate and see if this is related to your work in #216 ?

[2020-02-07 14:28] brandenchan commented on #235
Hey, I actually found a bug in the code. From what I can tell now, the links to CoNLL and Germeval datasets point to the right datasets. The first sentence in the CoNLL dataset starts "Schartau sagte dem..." and the first sentence in the Germeval dataset is "Ereignis und Erzählung oder..."

I could not find any overlapping sentences between the datasets. Can you provide any examples of this?

Also

[2020-02-08 17:43] #199 closed

[2020-02-10 14:06] brandenchan commented on #238
Hey Ahmed, sorry it took so long to get back to you. I've opened a pull request #240  that should solve this issue. Could you try it out and let me know if it works?

[2020-02-10 20:51] RobKnop opened #241 "Wrong indent for "results" variable prevents data set processing of squad like json file"
**Describe the bug**
Just a wrong indent of the variable "results". In the current version, there is one indent and so the results just get executed if the else block is true before. That's why in my case the results variable is not defined and I get the following error:

**Error message**
[code]
**Expected behavior**
sequence should not be empty

**To Reproduce**
Just try
[code]

**System:**
 - O

[2020-02-10 20:53] RobKnop commented on #241
maybe related to #238

[2020-02-11 10:34] tanaysoni commented on #241
Hi @RobKnop, thank you for raising the issue.

The `results` variable should get defined as it is present in both [if](https://github.com/deepset-ai/FARM/blob/41ef0c06364472d296d0347148afb1a795c009b6/farm/data_handler/data_silo.py#L144) and [else](https://github.com/deepset-ai/FARM/blob/41ef0c06364472d296d0347148afb1a795c009b6/farm/data_handler/data_silo.py#L155) blocks.

I suspect in your case th

[2020-02-12 16:22] tholor opened #242 "Allow efficient inference of multiple questions on one doc using REST API Format"
**Is your feature request related to a problem or particular use case?**
QA with multiple questions for one doc. In contrast to other implementations, we should in this case only tokenize the doc **once** and reuse the results for each doc-question-pair.

**Describe the solution you'd like**
We already have this functionality during Training and for Inference with the SQuAD input format:
[code]

H

[2020-02-13 02:08] zolekode opened #243 "Certain strings are not recognised as strings"
I had this problem before during training and encoded the strings. But now at inference time, this problem is back. The string variable is passed to the inference head.

```Input is not valid. Should be a string, a list/tuple of strings or a list/tuple of integers```
Clear Text:
 	text: ©
Tokenized:
 	tokens: []
 	offsets: []
 	start_of_word: []
Features:
 	None

[2020-02-13 03:19] zolekode commented on #243
Problem seems to come from transformers

[2020-02-13 08:56] ankush20m opened #244 "What kind of text file require for fine-tuning the model?"
Hello,

I want to finetune the language model on domain-specific tasks.
Could anyone tell me what kind of custom text file require for fine-tuning the model?
Will it be okay if I put all sentences from my domain line-by-line and put it for fine-tuning?

[2020-02-13 10:24] Timoeller commented on #243
Hey @zolekode
Looks like your text just consists of a single "©" symbol, which might not get converted at all.
Could you try converting a string like "This is a © test"?

And yes, you are right, the error message comes from transformers in tokenization_utils.py
I suspect though this special symbol gets removed somewhere on the way, resulting in an empty string.

[2020-02-13 10:30] Timoeller commented on #244
Hey @ankush20m
Yes, you are right, each line should contain a single sentence. You should additionally separate documents with a single blank line.
[Here](https://github.com/deepset-ai/FARM/tree/master/test/samples/lm_finetuning) you can find some small sample files in the right format. Hope that helps?

Can I shoot back a question? : ) For what use case and in which domain do you want to finetune

[2020-02-13 10:39] zolekode commented on #243
Hey @Timoeller thanks for the tip. I have added a little filter before to check if there are at least 3 alpha chars in the string before making predictions. Now it runs fine.

[2020-02-13 10:39] #243 closed

[2020-02-13 10:48] ankush20m commented on #244
Hi, @Timoeller Thanks :) for the help.
I want to fine-tune the model for domain deals with legal cases.
Do you have any idea or resources which further helps me to do my task?

One more question, can I fine-tune the model with Sentence Pair Classification Tasks on the custom corpus and not a GLUE data?

[2020-02-13 10:51] #202 closed

[2020-02-13 11:16] tanaysoni commented on #162
Hi @benjamin9000, #172 added support for Windows OS in FARM! This should fix the path related issues.

[2020-02-13 11:16] #162 closed

[2020-02-13 12:20] zolekode opened #247 "Inference Verbosity, how to disable logger / logging / print output?"
@Timoeller
Please how can turn off the prints at inference time ?
```Inferencer.load(model_dir, task_type="text_classification", gpu=True)```
Furthermore, is it me or inference is a little slower ?

[2020-02-13 13:04] Timoeller commented on #247
True, especially for inference there can be quite a lot of output.

To be nit picky: FARM isn't printing, it is logging.
[Here](https://stackoverflow.com/questions/2266646/how-to-i-disable-and-re-enable-console-logging-in-python) you can find more info on how to disable logging in various ways.
For your use case turning off all logging like
`import logging`
`logging.disable(logging.CRITICAL)`
shou

[2020-02-13 13:26] Timoeller commented on #244
Mhh, I am unsure if we mean the same thing here. Let me clarify just to be sure:

So with Language Models there are two types of finetuning,
1. Adopting/fine tuning the LM towards domain language. This is done in a self supervised way, where no labelled data is required, just plain text.
2. Fine tuning the LM for a downstream task like NER, document classification or one of the other tasks in GLUE

[2020-02-13 13:33] Timoeller commented on #243
Nice @zolekode
Do you think you could add a check and better error message like this to FARM and raise a PR?
That would make the framework much better, since there is a lot of people struggling with data processing and not really informative error messages...

[2020-02-13 13:49] zolekode commented on #247
Yes my bad, i meant logging. Ah thank you very much for the hint 🎸 🥇. Yes, regarding inference, i am not quite sure because i just realised i only have one CPU locally. I will try again later with a better pc. If i notice any difference in performance i will benchmark and post it on another thread.

[2020-02-13 13:49] #247 closed

[2020-02-13 13:52] zolekode commented on #243
Yes sure thing. :)

[2020-02-13 13:53] ankush20m commented on #244
Okay. Let me elaborate more.
I am trying to solve 2 cases here and will check which one performs better.

1. I have a plain text file containing sentences per line. Using this I will try finetuning the model, just you said in a self-supervised way.
Using this finetuned model, the sentence similarity task will be performed.
I tried this many times, however similarity result fails every time.

2. I

[2020-02-13 15:08] Timoeller commented on #244
Nice, thanks for clarifying. This is something we also actively work on right now.

1. We have used the representation of Next Sentence Prediction to calculate document/sentence similarity. We observed that if the data for pretraining the LM and the actual similarity tasks are quite different this fails. You adopted the LM to the specific domain, so that it also fails seems strange to me. What do

[2020-02-13 20:29] RobKnop commented on #241
Hey @tanaysoni
Thank you for your fast reply.
Yes, you are right. Sorry for falsely raising the issues.
Your data set from the given link works fine.
--> there is some issue in mine. But I created this dataset with https://annotate.deepset.ai/ actually.
If I have more information on this I can share / open a issue again.

[2020-02-14 05:12] ankush20m commented on #244
Thanks, @Timoeller :) for the knowledge sharing. I visited your venture's website and observed you all are working same kind of task which I am looking for. I found there, LegalBERT, did you train such a model on legal cases?

Extending our conversation,
on 2nd point: Yes, I use binary classification where labels are 0 and 1 and yes I explore the snippet you shared, I think this will help me.

Fur

[2020-02-14 05:25] ankush20m commented on #244
And on the 1st point: Similarity fails, that means I am not getting decent results which I am supposed to get. This may happen because I have used a very small amount of data to fine-tune.

[2020-02-14 10:01] tanaysoni commented on #241
Hey @RobKnop, I'm unable to reproduce the error using an export of labels from https://annotate.deepset.ai/. Would it be possible for you(and if the dataset is public) to share the labels file you used?

[2020-02-14 10:52] Timoeller commented on #244
About LegalBert: we got data from a large German legal database and adjusted the model accordingly. For some tasks this improves performance, for other tasks it doesn't (especially text classification). Though I think the true interactions between fine tuning and downstream task performance are much richer. It can depend on the training set size, the task difficulty, data for adopting the model to

[2020-02-14 10:52] #244 closed

[2020-02-14 17:47] Timoeller commented on #235
Hey @stefan-it
I had time to look into this issue and can confirm this huge bug!

The data that was downloaded as ["conll03de"](https://raw.githubusercontent.com/MaviccPRP/ger_ner_evals/master/corpora/training_data_for_Stanford_NER/NER-de-train-conll-formated.txt) in FARM is text from more recent newspapers articles. I found examples pointing to n-tv.de articles from 2008 and a rp-online article f

[2020-02-17 14:56] #238 closed

[2020-02-17 19:46] RobKnop commented on #241
Sure @tanaysoni, it's public:
[2020-02-17_answers.txt](https://github.com/deepset-ai/FARM/files/4215891/2020-02-17_answers.txt)

I know it is a very long text.

when I remove the indent it works.

[2020-02-17 19:53] RobKnop commented on #241
I found it. It is because my answers has empty 'qas'. Sorry for messing with your time :/

{
      "paragraphs": [
        {
          "qas": [],
          "context": "4,2020-02-09 17:51:43,2020-02-09 17:51:43

[2020-02-18 09:49] tanaysoni commented on #241
Hi @RobKnop, thanks again for raising the issue. The empty `qas` is indeed a valid case that FARM and possibly the labelling tool(not exporting documents with no answers) should deal with.

[2020-02-18 10:21] tholor opened #249 "DeepSpeed integration for training from scratch"
**Context**
We already added in FARM 0.4.1:
- basic support for LM training from scratch
- full checkpointing & SageMaker integration to allow saving ~ 70% of costs via spot instances

We are currently working on:
- a fast streaming data silo to handle large datasets that don't fit in memory (https://github.com/deepset-ai/FARM/pull/239).

A logical next step, I see:
- optimizing the model speed du

[2020-02-18 10:41] BramVanroy commented on #249
I am _definitely_ interested and I wish this was something I could work full-time on. However, I am currently pre-occupied with other deadlines, probably until May at least. I can do code reviews or benchmark tests (I have a local (non-cloud) 4x V100 server available.)

DeepSpeed is a very promising (and necessary) development in Deep Learning. Not only its scalability and speed improvements, but

[2020-02-18 12:10] stefan-it opened #251 "GermEval 2014 experiment configuration"
Hi,

I just wanted to play around with the GermEval 2014 experiment. Here are two issues that I found with the current configuration - I'm using latest master branch for experiments:

## JSON configuration

After loading the JSON configuration, the following message is shown:

[code]

## Development data is missing

I think the development data is currently not located in the downloaded archive:

[2020-02-18 14:07] #251 closed

[2020-02-18 14:07] Timoeller commented on #251
Hey @stefan-it, fixed and tested it in #252 . Thanks for reporting.

[2020-02-18 16:06] #235 closed

[2020-02-18 18:02] tholor commented on #249
Oh nice, hadn't seen the LRRT - very useful!

I see it as an optional way of training in FARM

What a pity! We have also a few other topics on our plate that we need to focus on first (e.g. scaling & extending QA with [haystack](https://github.com/deepset-ai/haystack/)), but we will let you know once we start working on this. Any support on code reviews / benchmarks would be great :)

[2020-02-19 08:03] BramVanroy commented on #249
Making things optional is indeed more user-friendly, but it makes the implementation a lot harder I think. I am interested to see how this develops further, but I don't have the time to look into this now.

By the way, it might be useful to have a talk with the huggingface people, they're also working on their Q&A pipeline. Working together might yield cool ideas! (cf https://github.com/huggingfac

[2020-02-19 09:07] #242 closed

[2020-02-21 14:26] ftesser opened #261 "farm.modeling.language_model.load does not make use of 'language' **kargs if present"
**Describe the bug**
As suggested from the WARNING below if the  'language' **kargs is present in `farm.modeling.language_model.load` method that should be used to setup the language. This is not realized now.

The referred method is:
https://github.com/deepset-ai/FARM/blob/d200a73aa77929fcd3365da81b510a490bfe2a18/farm/modeling/language_model.py#L70

**Error message**
I obtained the following afte

[2020-02-21 15:00] ftesser opened #263 "Add the option to define the language model class manually"
**Is your feature request related to a problem or particular use case?**
In `farm.modeling.language_model.load` language model class is inferred from model filename.
Sometimes should be necessary to explicit force a particular LM class.

**Describe the solution you'd like**
Add a default parameter `language_model_class=None` like as is  already done in the Tokenizer class.

[2020-02-21 16:43] #261 closed

[2020-02-21 16:55] tholor commented on #263
Thanks for reporting & directly raising a PR! Really appreciated :+1:
I just merged it.

[2020-02-21 16:55] #263 closed

[2020-02-21 16:58] tholor commented on #261
You are totally right, @ftesser. The warning message had a good intention, but totally missed the implementation behind it. Thanks for spotting & fixing!

[2020-02-21 19:50] ftesser commented on #263
Thanks for your work, and for the fast approval!

[2020-02-24 08:18] tholor commented on #249
Good point. With haystack we are more aiming for a large scale QA/semantic search system (incl. retriever, elasticsearch integration, re-ranking models ...). I feel this is quite different to the scope of Transformers (and FARM). However, we made sure that it's easy to load Transformers QA models into haystack. For this, we leverage the `pipeline` object and we will try to collaborate more on this

[2020-02-24 15:39] Timoeller commented on #77
We implemented a function to do [inference from files](https://github.com/deepset-ai/FARM/blob/master/farm/infer.py#L211) that wraps this functionality into FARM.

Labels are not propagated and need to be added to the predictions. Concerning the order of predictions: Disable multiprocessing (by setting max_processes = 1 in the inference_from_file() function) to make sure to have the same order in

[2020-02-24 15:39] #77 closed

[2020-02-27 21:47] salmanmashayekh commented on #157
In the `add_tokens` method, why don't we simply integrate `new_tokens` into the `self.vocab`? We are using the following `CustomVocabBertTokenizer` and it does not slow down when `new_tokens` are added:

[code]

[2020-02-28 08:02] #182 closed

[2020-02-28 08:03] #201 closed

[2020-02-28 08:04] #226 closed

[2020-03-04 17:22] Timoeller commented on #60
I am reopening this issue, since conversion of normal symbols to [UNK] seems to be related to a change in the tokenization.
Now also previously converted symbols like "?" in "Ist das eine Frage?" get converted to [UNK].

This might be due to the BasicTokenizer. It used to be a whitespace tokenizer but is now splitting "Frage?" into "Frage" and "?" tokens.
A potential fix would be to change the voc

[2020-03-04 18:25] PhilipMay commented on #60
Also see my little gist here which shows the problem: https://gist.github.com/PhilipMay/9ece696dc11d7d57fee3f2f67b591eb4

[2020-03-04 18:31] PhilipMay commented on #60
An other alternative fix would be to provide a tokenizer that is working the same way as the tokenizer that was used to create this lanuage model. IMO the tokenizer (and the whole preprocessing pipeline) should never change between language model creation, finetuning, training and production.

IMO this would be a better solution then "hacking" additional tokens into the vocab.

The tokenizer could

[2020-03-04 18:45] PhilipMay commented on #60
Maybe someone (tm) could spot the "breaking" change at HF side. Here is the link:
https://github.com/huggingface/transformers/commits/b90745c5901809faef3136ed09a689e7d733526c/src/transformers/tokenization_bert.py

[2020-03-04 20:23] PhilipMay opened #272 "Missing `next_sentence_head` in examples/lm_finetuning.py"
The `examples/lm_finetuning.py` is creating but not using the `next_sentence_head`.
See here: https://github.com/deepset-ai/FARM/blob/master/examples/lm_finetuning.py#L55

I think it should say `prediction_heads=[lm_prediction_head, next_sentence_head],` instead of `        prediction_heads=[lm_prediction_head],`.

Also see here in `examples/train_from_scratch.py`: https://github.com/deepset-ai/FA

[2020-03-05 08:25] tholor commented on #272
Yes, you are totally right! Thanks for reporting.
Do you want to create a PR or shall I take care of it?

[2020-03-05 10:08] PhilipMay commented on #272
I can do (try) that tonight. :-)

[2020-03-05 11:48] Timoeller commented on #60
The more I think about changing the vocab.txt file by removing "##" from punctuation, the better this solution becomes, because:
1. "##?" and "?" are conceptually the same - therefor should have the same embedding
2. if we only have standalone "?" tokens, it will also cover free standing ? (so it fixes previously unknown tokens)
3. the way the basic tokenizer now splits words from punctuation is m

[2020-03-05 20:15] PhilipMay commented on #272
Well - the fix was not that hard. :-) See PR #273

[2020-03-07 09:37] PhilipMay commented on #60
By changing the vocab we should be careful and consider all situations that have been changed by the new `_run_split_on_punc` function. What about a `,` and `;`? They are also punctations.

A 2nd thought: What about releasing a 2nd model. Maybe called `bert-base-german-cased-punctation-split` that is basicaly the same but with different vocab. This way you do not break anything on the old model an

[2020-03-07 10:18] tholor commented on #272
We really appreciate any support from the community. Even if it's such small fixes :)
Thank you, @PhilipMay !

[2020-03-07 10:19] #272 closed

[2020-03-09 13:56] tholor commented on #157
Hi @salmanmashayekh, sorry for the late reply. I haven't seen your comment until now.
This seems like a simple, scalable workaround. However, I am not sure if it has any unintended side effects (e.g. on saving/loading) in Transformers. Have you investigated the behavior in Transformers?
It could make sense to raise a PR there, since this is something useful to everybody and not only FARM users.

[2020-03-09 18:46] Timoeller commented on #60
Hey @PhilipMay, totally agreed. Changing the vocab is not trivial. There are actually many symbols that needs to change.

I uploaded a new vocab file [here](https://s3.eu-central-1.amazonaws.com/deepset.ai-farm-models/debug/bert-base-german-vocab-punctuation.txt).
You can test the new tokenization by renaming this file to "vocab.txt" in a folder "bert-german-cased-test-punct" and calling
[code]
I

[2020-03-10 13:32] Timoeller commented on #60
I did performance checks with the new vocab on GermEval since I expect most tokenization issues there. The baseline performance I got from our blog article on German Bert:

GermEval 2018 Coarse: new vocab: 0.750 [MLflow](https://public-mlflow.deepset.ai/#/experiments/2/runs/cf53fea442824842971905847ab7d30f) - old vocab: 0.747
GermEval 2018 Fine:     new vocab: 0.474 [Mlflow](https://public-mlflow.

[2020-03-11 10:46] TKueng opened #275 "Can not load BERT-Model"
Hello everyone
I'm a Masterstudent at the university of St. Gallen and currently working on my Master-Thesis. I'm developing a chatbot for argumentative learning with the RASA Framework and the German BERT-Model which is provided by FARM. The BERT Model was trained with hyperparameter by a former Student and already worked in a previous (Slack)-chatbot version. But when I try to load the model, th

[2020-03-11 16:48] PhilipMay commented on #60
@Timoeller what sounds reasonable. At the moment I can not help with tests of the vocab since I have other stuff to do. Sorry.

[2020-03-12 13:32] tanaysoni opened #276 "Implement Inference with ONNX Runtime"
[ONNX Runtime](https://github.com/microsoft/onnxruntime) is a high-performance Inference engine for ONNX models.

As per this [benchmark](https://github.com/deepset-ai/haystack/issues/23#issuecomment-596837063) with a BERT model, we could get significant gains in the forward pass of the model.

To use ONNX Runtime, we need the conversion of FARM `AdaptiveModel` to ONNX format and adjust(or impleme

[2020-03-12 15:56] Chipandcharge opened #277 "Why does my Trainer not train?"
**Question**
In several examples (from your github) the Trainer.train() function does not act at all. No epoch is started. Why?
Unfortunately there is no further context given then the **picture**, **the status** bar and the statement that it is **killed** after a while.

**Additional context**
![image](https://user-images.githubusercontent.com/14878397/76540523-8948d800-6482-11ea-9715-e7450286d98

[2020-03-12 19:58] tholor commented on #275
Hey @TKueng,

Sure, we are happy to help. Could you please provide a bit of additional context, so that we can narrow down the bug together:

- What versions of FARM and transformers are you using?
- Do you know which version of FARM was used for training?
- What command and args do you use for loading the model?
- If it's a local path: are you sure your model is stored at this location on your ma

[2020-03-13 09:51] Timoeller commented on #277
Hey @Chipandcharge

Sure, we are happy to help. Could you please provide a bit of additional context, so that we can narrow down the bug together. In the future it would greatly improve response times if you could file a bug issue and fill out the fields you think could be relevant:

- What versions of FARM and transformers are you using?
- What is the setup of your system?
- Are you running the e

[2020-03-16 14:26] Timoeller opened #280 "Utilize all max_seq_len tokens in Language Model adaptation or training from scratch"
While training from scratch or adjusting Language Models to other domains (LM adaptation/ LM finetuning), FARM does not always use max sequence length number of tokens.
FARM only fetches two sentences, not accounting for their length. If these two sentences are shorter than max seq len tokens computation is wasted by zero padding.

**Describe the solution you'd like**
We need to avoid zero padding

[2020-03-17 19:09] TKueng commented on #275
Hello everyone

Thank you so much for the fast answer. Your question already helped me to progress with my project. Just to answer your questions

- I had the newest version of farm 0.4.1 but switched it now to 0.3.0, which was the version the model was trained on. This allowed me to also load the Model configuaration.

- I use the following command to load the model (but this is not a problem any

[2020-03-17 19:35] Timoeller commented on #275
About the pickle error:
Maybe you trained your model with a different torch version or a different python version than what you use now?

Would it be very difficult to re-train your model with most recent Farm and Transformers versions and your current setup? That way you do not land in version hell : )

[2020-03-18 08:43] Chipandcharge commented on #277
Hi @Timoeller,

sure. Solved it by reducing the batch_size. Seems to be a ressource bottleneck.

Thanks!

[2020-03-18 08:43] #277 closed

[2020-03-18 08:53] Timoeller commented on #277
Thanks for resolving the issue yourself.

So you are using the CPU with a large batch size, I guess?
It would be helpful to document roughly what happened. So other people facing the same issue find a solution to their problem. Thanks

[2020-03-18 09:04] TKueng commented on #275
This is most probably since I personally have not trained the model, but a former student did so. I guess the easiest way would be to meet with the student and adjust the versions.

[2020-03-18 11:39] Chipandcharge commented on #277
Sure.

Wanted to test Farm and I started by utilizing [ner.py](https://github.com/deepset-ai/FARM/blob/master/examples/ner.py) example.

Versions:
- transformers: 2.4.0
- FARM: 0.4.1
- Python: 3.7.6

System:
- i7-8705G 3.1 GHz
- 8 GB RAM
- Linux Ubuntu

I didn't do any adjustment to the example provided by deepset. And the error occured. With some researche I figured out, that "killed" is a messag

[2020-03-18 11:50] Timoeller commented on #277
Awesome, thanks for the insights.

And yes, training Language Models without GPU is quite time consuming.
Maybe you haven't seen it: In our readme there are links to colab notebooks, where you can utilize GPUs for free. That should speed up computations by about 30-50 times. If you want to use your own data though there might be privacy issues...

[2020-03-19 15:43] andra-pumnea opened #287 "Example of file format for NER"
Hey! I think it would be useful to have a more detailed explanation about:

1. what the dataset should look like for performing NER, similar to the [fine-tuning example](https://github.com/deepset-ai/FARM/blob/97b0211a37ea7c7d64b4602f0e21b65428b2bd76/test/samples/lm_finetuning/test-sample.txt#L1). The [NER sample](https://github.com/deepset-ai/FARM/blob/97b0211a37ea7c7d64b4602f0e21b65428b2bd76/tes

[2020-03-21 19:04] TKueng commented on #275
Okay so I reached out to the former student (I think he was also in contact with you guys haha). I'm trying to retrain the model with the current versions of pytorch 1.4 and python 3.6. But can't git rid of the following error:

`from google.colab import drive`
`drive.mount('/content/gdrive')`

`import pandas as pd`
`import time`
`import numpy as np`
`import math`
`from sklearn.model_selection imp

[2020-03-21 19:06] TKueng commented on #275
<img width="425" alt="Error" src="https://user-images.githubusercontent.com/61231500/77234518-6b305580-6baf-11ea-80cc-b9740f0c1af0.PNG">

[2020-03-22 09:24] Timoeller commented on #275
Thanks for the detailed error description. Now we can narrow the issue down.

The error arises because your config for this experiment "final_model_premise_claim.json" is outdated and does not include the "use_amp" key.
We are aware that these breaking changes across FARM versions can be quite frustrating to the user.

I see two solutions:
1. Use the exact same setting of farm + pytorch that you u

[2020-03-22 20:00] RobKnop opened #289 "FARMReader is not applying max sequence length"
**Describe the bug**

I get this:
[code]
My code:
[code]

**Error message**

I used a different max_seq_len. But I still get the output
[code]

**Expected behavior**
I would expect the right seq_len in the logger info output

**Additional context**
I use Haystack atm

**To Reproduce**

1. Set logging to info
2. Use the haystack tutorial and create FarmReader

**System:**
 - OS: MacOS Mojave 10.14.

[2020-03-23 17:40] NicolasBenjamin opened #291 "TextPairClassificationProcessor class misses "self.add_task()" method? Running the "text_pair_classification.py" example code"
Hi all,
first of all - thank you to the deepset team for open source this framework!  I'm a Master student at the Hasso-Plattner-Institute (HPI) and I am currently trying to get the example "text_pair_classification.py" running.
However, I experienced some issues and kindly ask for any suggestions if this is a bug or I should use this example differently. Maybe you know more about this issue @bran

[2020-03-24 14:33] Timoeller commented on #287
That is a great idea, since especially for NER we saw quite some confusion about the right data format.
Would you like to create a short doc and place it under docs/data/ner.rst

[2020-03-24 15:08] andra-pumnea commented on #287
yeah, I will do it this week 😄

[2020-03-24 17:29] brandenchan commented on #289
Hi Rob, thanks for a detailed issue report. I got to the bottom of this on the Haystack side. The params that you set when initialising FARMReader now become the defaults when FARMReader.train() gets called. That was implemented in (https://github.com/deepset-ai/haystack/pull/47). This should fix the issue!

[2020-03-24 17:29] #289 closed

[2020-03-24 17:41] brandenchan commented on #291
Hi Nicolas, thanks for your issue! And well done on figuring out the self.add_task() way of resolving this.

What we actually intended was for the Processor to be initialised with a metric param. That has now been fixed #294 . Also there is now a clearer error message when we are missing a task (330c14f6298d835a2d68e2b62fadd4753f264b86).

Thank you for pointing out the RegressionProcessor comment.

[2020-03-25 16:53] akupka opened #296 "Own model visible in Docker API but not in UI"
**Describe the bug**
I have a NER classification model saved under saved models and visible in the docker api (localhost:5000), but not visible in the UI/document_classification (http://localhost:3000/ner). Could somebody help me and explain why? Thanks!

**Additional context**
curl -X GET "http://localhost:5000/models" -H "accept: application/json" finds my NER model with id: 1

Similar to Bug #2

[2020-03-26 10:31] andra-pumnea commented on #287
The other samples and examples of what the input needs to look like for different tasks are under FARM/test/samples/ . Maybe it's a good idea to have them all in in the new docs/data/ ? (there seems to be no docs/data/ yet)

[2020-03-26 11:11] Timoeller commented on #287
Good question. Handling this correctly will be difficult.

Problem: We need the samples in test/samples for testing, so I would leave them there.

Solution: You could copy or link them (maybe in different format) in the docs section?

Any suggestions how we could handle changes? E.g. if we update the format in one place all other places should be adjusted, too.
My thoughts: I would like to leave t

[2020-03-27 07:17] andra-pumnea commented on #287
I understand now why the test/samples are there. I can create a document with the formats for all the tasks in test/samples/  in docs/data/ , but I don't think I understood your thoughts about how to update both files automatically.

[2020-03-27 11:11] Timoeller commented on #287
Good that you asked. I think it is a simple concept but I phrased it in a twisted way : )

I think it is important that files in FARM/test/samples and FARM/docs/data are always matching. If one file is updated, the other should be updated in an automatic manner, too.
We can assure this by either
1. Referencing data in docs/data to point to test/samples
or
2. Creating a script that takes test/sampl

[2020-03-27 13:55] andra-pumnea commented on #287
yes, I'll work on it :)

[2020-03-27 14:04] Timoeller commented on #280
[Here](https://github.com/deepset-ai/FARM/blob/master/farm/data_handler/utils.py#L400) is the code where Farm fetches only two sentences and not two sequences that fill up all of max_seq_len.

[2020-03-27 17:10] cregouby opened #298 "[data_handler/utils.py] read_docs_from_txt() is not robust to sentence made of Out-of-vocabulary characters"
**Describe the bug**
When a text file with one sentence per line is read by `read_docs_from_txt()` with the sentence being made only on UTF-8 <spaces> characters, pipeline end-up silently with a tokeniser exception. Such sentences may occur when text comes out of an automatic extraction workflow.

**Error message**
[code]

**Expected behavior**
You could maybe add an explicit error message, and a

[2020-03-28 21:37] RobKnop opened #299 "Cannot load model from local dir"
**Describe the bug**
I want to do this with Haystack:
[code]
I finetuned the model before and saved it to my local dir.
Here the code:
[code]

**Error message**
[code]

**Expected behavior**
There is no error.

**Additional context**
I use Haystack

**To Reproduce**
Steps to reproduce the behavior

**System:**
 - OS: Mac OS 10.14.6 (mojave)
 - GPU/CPU: CPU Intel core i5
 - FARM version: 0.4.1

[2020-03-28 21:39] RobKnop commented on #241
@tanaysoni Should I go ahead and close the issue?
That's fine for me.

[2020-03-28 22:28] Timoeller commented on #299
Seems like the processor doesn't have the data_dir parameter set.

Did you fine-tune the model with farm or huggingface transformers?

Please also post the content of the processor config in here.

[2020-03-28 22:33] RobKnop commented on #299
FARMReader(model_name_or_path="twmkn9/albert-base-v2-squad2

I used this model: [twmkn9/albert-base-v2-squad2](https://huggingface.co/twmkn9/albert-base-v2-squad2)

[2020-03-28 22:34] RobKnop commented on #299
I don't have any processor config. :/

[2020-03-28 22:39] Timoeller commented on #299
There are conversion scripts to convert from transformers to farm. Please try these.
If that doesn't work I will look into it tomorrow.

[2020-03-29 09:59] RobKnop commented on #299
Do you thought of this [script](https://github.com/deepset-ai/FARM/blob/cbbef064e3f5234bae9212e8f0e6c00640fbcb78/examples/conversion_huggingface_models.py)?

I used Case 2:
`reader = Inferencer.load("../../saved_models/twmkn9/albert-base-v2-squad2", task_type="question_answering")`

I get the same error:
[code]
As you said, in class Processor method "load()" there is an argument missing.

[2020-03-29 15:18] Timoeller commented on #299
Hey @RobKnop thanks for trying out the conversion script. Though that might have been bad advice. The conversion should happen under the hood.

I could reproduce your bug with minimal code inside haystack by doing:
[code]

So I opened an issue there deepset-ai/haystack/issues/49 and we will fix it. Thanks for reporting!

As a quick work-around (where you might need internet access) you could load

[2020-03-30 15:48] tholor commented on #299
Fixed by #300

[2020-03-31 13:40] tanaysoni commented on #296
Hi @akupka, thank you for raising the issue! It is indeed related to #207. It should now have been fixed. Can you try again after deleting your local Docker Image `deepset/farm-inference-ui:latest` and pulling it again from the remote?

[2020-03-31 13:41] tanaysoni commented on #276
Resolved by #288.

[2020-03-31 13:41] #276 closed

[2020-03-31 13:41] #241 closed

[2020-03-31 18:56] RobKnop opened #306 "pip install -r requirements.txt or --editable . not working"
**Describe the bug**
I cannot install current FARM with the current master branch (Latest commit 5437be1 / 8 hours ago)

**Error message**
[code]

**Expected behavior**
It works.

**Additional context**
No
**To Reproduce**
Follow your installation steps on the main Readme.md
[code]

**System:**
 - OS: Mac OS 10.14.6
 - GPU/CPU:
 - FARM version: current master commit 5437be1

[2020-03-31 20:18] guggio opened #307 "Experiments cannot run with eval_every == 0"
**Describe the bug**
For my experiment, I don't use a dev set and thus don't need the dev evaluation after a certain amount of training steps. Therefore, I set the eval_every variable to 0 in my experiment-json (as suggested in the description in the json) . Unfortunately, this leads to a ZeroDivisionError as listed below. It seems to me, an additional conditional statement (self.evaluate_every !=

[2020-03-31 22:55] ahotrod commented on #299
@tholor

Still having a related problem after installing the latest FARM & Haystack versions.  Unable to load my candidate models from local directories.  Following is an example from your "playbook".

Loading from transformers' model storage works as always:
`reader = FARMReader(model_name_or_path="deepset/roberta-base-squad2", ...)
`

Loading the same model stored in a local directory does not:

[2020-04-01 07:37] tholor commented on #306
Seems like the installation of tokenizers fails (we recently updgraded to transformers=2.7.0 where tokenizers is a dependency).

It's unclear to me why it tries to build the wheel from source. The only related issue that I could find in tokenizers: https://github.com/huggingface/tokenizers/issues/97

Can you please try to just do a regular `pip install tokenizers==0.5.2` and see if the same error

[2020-04-01 07:59] tholor commented on #299
Hey @ahotrod ,
Right now we only support two options to load a FARMReader:
a) Local FARM model
b) Remote Transformers model

I guess your error comes up when trying to load a local model in Transformers format?
I think it makes totally sense to support this and we will put it in the backlog. However, it might take some days as we are currently quite busy with a few other features.

[2020-04-01 08:54] Timoeller commented on #307
Hey @guggio thanks for reporting this bug. It looks like we need a simple check.

Would you be interested in adding the check and creating a PR since you spotted the problem? I can also gladly take over.

[2020-04-01 09:52] brandenchan commented on #298
Hi, this pull request (#308) should fix the issue. Could you try it out and let us know if it solves it?

[2020-04-01 12:19] #298 closed

[2020-04-01 12:46] tanaysoni opened #310 "Inferencer configs are not set when loading a model from local dir"
### Issue
When loading `Inferencer` with a model saved on local dir, the `Inferencer.load()`'s params like `max_seq_len` and `doc_stride` are ignored and their value gets set from the saved config files. A user would intend that the supplied params override the saved configs.

### Possible solution
Inferencer uses `Processor.load_from_dir()` to load a processor instance from local dir. This can be

[2020-04-01 17:51] Timoeller commented on #307
Fixed with #311 - closing this.

[2020-04-01 17:51] #307 closed

[2020-04-02 09:57] Timoeller commented on #275
Hey @TKueng did the proposed solutions resolve the issue on your end or do you need further assistance?
If it is fixed, please close the issue. Thanks.

[2020-04-02 10:38] tholor opened #312 "Verbose warnings for empty bucket"
**Describe the bug**
Seems like we introduced quite some verbose warnings with #308.
@brandenchan can you please have a look and verify that we only print this warning if we actually removed some baskets without samples? It seems that we now always log this (once per worker).

**Message**
[code]

**To Reproduce**
run example/doc_classification.py

**System:**
 - OS: Ubuntu 18.04
 - GPU/CPU: CPU
 -

[2020-04-02 12:18] tholor commented on #312
Fixed by #313

[2020-04-02 12:18] #312 closed

[2020-04-02 18:13] RobKnop commented on #306
[code]
same error

[2020-04-03 12:02] TKueng commented on #275
Hey @Timoeller
Managed to retrain it and locally it works now just fine!
Just have one question now can the Inferencer load the model also in a github repository?
Because I tried to implement the chatbot now to my server and I did not actually work. So the question I have is, if I can just exchange this line of code
`    def __init__(self):
        self.model = Inferencer.load("C:\\Users\\tobia\\O

[2020-04-03 13:10] Timoeller commented on #275
Nice, happy you got it to work.

To your question:
No, the inferencer does not accept remote folders as of now. Though I think it could be a pretty useful feature.
If you or any of your students implements this please add this to farm as well.
You can also create a new issue, asking for assitance on this matter.

I am closing this now as resolved.

[2020-04-03 13:10] #275 closed

[2020-04-03 13:56] Timoeller commented on #60
**We changed the vocab file on s3**
This change affects HF transformers immediately when people load the vocab from remote.
[Here](https://int-deepset-models-bert.s3.eu-central-1.amazonaws.com/pytorch/bert-base-german-cased-vocab-DEPRECATED.txt) is the link to the deprecated vocab file.

**Changes in documentation**
I updated the model card with huggingface/transformers/pull/3618

[2020-04-03 13:56] #60 closed

[2020-04-04 19:50] RobKnop commented on #306
I found the issue:
"Can not find Rust compiler" in the error message.
I installed it via
[code]

[2020-04-04 19:50] #306 closed

[2020-04-04 20:08] RobKnop commented on #299
I still have the issue.
I updated to the latest FARM version (0.4.2) also tried the code of the current master branch.

I get the same error as stated above.

[2020-04-04 21:39] RobKnop commented on #299
one more addition:

`reader.save()` works

`reader.train(save_dir='xxxx')` doesn’t work

[2020-04-06 13:32] johann-petrak opened #316 "Incorrect error message when tokenizer type cannot be determined"
The method `farm.modeling.tokenization.Tokenizer.load` shows the following error message when the model name does not allow to infer the model type:

[code]

However, the method does not have a parameter `tokenizer_type` and this needs to be set using the parameter `tokenizer_class` instead, which allows for different values than those listed in the error message.

[2020-04-07 07:23] #316 closed

[2020-04-07 08:39] tholor commented on #299
I am currently exploring this, but have trouble reproducing the issue.
Running the following script with latest haystack (https://github.com/deepset-ai/haystack/commit/5932aa01c3f1d84e030c38849fa89e1f5f2770c2) and FARM == 0.4.2 saves the trained model correctly in ` mymodel/debug` and loads it back again into the reader (Ubuntu 18.04, GPU).
[code]

The resulting directory with the saved model look

[2020-04-08 10:21] #280 closed

[2020-04-08 10:24] Timoeller commented on #40
I am closing this because of inactivity.

[2020-04-08 10:24] #40 closed

[2020-04-08 10:35] Timoeller commented on #280
I know @PhilipMay and @tripl3a were particularly interested in this feature.

[2020-04-08 11:19] PhilipMay commented on #280
Yes - thanks for this implementation!

[2020-04-08 14:08] PhilipMay commented on #280
One interesting question for me is: Do you see any more substantial differences between Hugging Faces and FARM? For me this was one very important difference (that is "fixed"now).

[2020-04-08 15:19] Timoeller commented on #280
Honestly Huggingface doesn't do next sentence prediction NSP any longer in their [script](https://github.com/huggingface/transformers/blob/master/examples/run_language_modeling.py).

The changes add NSP similar to the style of the original Bert repository.
Additionally whole word masking is included by default.

[2020-04-09 10:26] #310 closed

[2020-04-09 19:05] #296 closed

[2020-04-10 04:15] zzj0402 opened #319 "Which head to use for question generation?"
**Question**
I am trying to make an ALBERT based model for question generation task. Which downstream head should I use?

An example would be greatly appreciated.
**Additional context**
[code]

I am thinking making a language modelling task and FARM looks easy to work with.

[2020-04-10 10:12] Timoeller commented on #319
Hey thanks for checking out FARM.
I think question generation is a very interesting use case for doing QA (question matching) at scale.
Unfortunately ALBERT is not usable for text generation (of any kind) and FARM does not support tensorflow as of now.
If you are interested in extractive QA at scale check out https://github.com/deepset-ai/haystack

The newly released ELECTRA model can generate tex

[2020-04-10 23:05] zzj0402 commented on #319
https://www.aclweb.org/anthology/D19-5821.pdf

This paper uses a masked language model to generate questions. They use a dense layer with softmax to predict the vocabulary tokens, recursively feeding tokens as input.

Maybe we could include in FARM? What I have tried is training a MLM head after ALBERT pretrained model using Huggingface.

Question generation can definitely help QA. Thanks for shar

[2020-04-12 11:05] Timoeller commented on #319
Thanks @ViktorAlm for pointing this out : ) To clarify my previous statement: Electra only has a small generator part for generating tokens for pre-training the whole model. I do not know how well this generator would be suited for actual question generation.

And thanks @zzj0402 for the more thorough explanation and link to the EMNLP paper. Now I better understand what you want to do. This Bert b

[2020-04-12 19:57] renaud opened #320 "can't make inference on conll03-en"
I am trying to perform NER inference on conll03-en.

This is what I tried:

1. Train  conll03-en from config, then perform inference with saved model

[code]
This does not return any predictions: `[{'task': 'ner', 'predictions': []}]`

2. I also try to rewrite the `conll2003_en_config.json` as pure python code, by adapting `examples/ner.py`, but no luck either

3. Also note that the NER evaluation

[2020-04-12 20:30] renaud commented on #320
For the record, here is the rewrite of the conll2003_en_config.json as pure python code

[code]

[2020-04-15 11:33] brandenchan commented on #320
Hi Renaud thanks very much for reporting this! The PR I raised above should fix this. Please let us know if you have any problems with it still.

[2020-04-15 11:49] brandenchan commented on #320
I should just add that the issue was that the conll03-en wasn't being converted from IOB1 to IOB2 in our Processor class. We now also have checks now to ensure that this won't fail so silently in future

[2020-04-15 20:23] renaud commented on #320
Thanks a lot @brandenchan, working fine now.

Here's a gist for the record: https://gist.github.com/renaud/2317b0c8e6d4ced7abd8088f5594c547

[2020-04-15 20:23] #320 closed

[2020-04-16 14:03] gsarti opened #325 "Allow registration for custom eval report metrics"
Dear maintainers,

I am fiddling with FARM to make it work for the very specific use case of multitask token-level regression with initial masking (as for NER), and in doing so I created my custom `TokenRegressionProcessor` and `TokenRegressionHead` classes. Alongside those I implemented various other utility methods, including a custom MSE metric that i register through `register_metric` in `metr

[2020-04-16 17:26] tholor commented on #325
Hey @gsarti,

Sounds like an interesting task you are working on. Just out of curiosity: For what use case do you do multitask token-level regression?

Regarding the issue:
I totally agree, that it would make sense adding an option to:
- disable reports
- register custom report_fn

For the first one, we could add a new arg to the `Trainer` that is passed down to the `Evaluator`.
For the second one

[2020-04-16 19:18] renaud opened #326 "model.inference_from_dicts does not return an item if no named entity is found in text"
**Describe the bug**
When calling model.inference_from_dicts,  does not return an item if no named entity is found in text

**To Reproduce**
model = Inferencer.load(save_dir) # Connl EN NER
basic_texts = [
    {"text": "I love you."},
    {"text": "I love Anna."}, # only this sentence has a NE, Anna
    {"text": "I love you so much!"},
]
result = model.inference_from_dicts(dicts=basic_texts)

**ac

[2020-04-17 10:18] brandenchan commented on #326
Hey, I totally agree that we need a better grouped output from the NER inferencer. I opened a pull request that now makes the Inferencer return one list per input_text that contains all the predictions for that input_text. The output looks like this:

[{'task': 'ner', 'predictions': [[], [{'start': 7, 'end': 11, 'context': 'Anna', 'label': 'PER', 'probability': 0.9971745}], []]}]

Can you give thi

[2020-04-17 12:36] renaud commented on #326
Thanks @brandenchan , exactly!

(I guess you noticed, but your branch merge did not work. I was about to fix the text myself, but you beat me to it in #bc738b5 )

[2020-04-20 06:43] malteos opened #328 "'MultiLabelTextClassificationHead' object has no attribute 'label_tensor_name'"
**Describe the bug**

After loading model from disk:

[code]

Test evaluator throws an error:

[code]

**Error message**

[code]

Stack trace:
[code]

**Expected behavior**

Test set is evaluated without error (same as in trainer)

**Additional context**

Adaptive model and task is defined as follows
[code]

**System:**
 - OS: ubuntu
 - GPU/CPU: GPU
 - FARM version: `farm==0.4.2`

[2020-04-20 07:11] tholor commented on #328
Hey @malteos,

It seems that your prediction head is missing some information about the labels. Can you please try if calling
[code]
after loading the model and processor helps?

[2020-04-20 10:32] malteos commented on #328
Thanks. Now it works!

[2020-04-20 10:32] #328 closed

[2020-04-20 10:35] brandenchan commented on #326
The tests have been fixed and the branch is now merged. You can now try out these changes in master!

[2020-04-20 10:48] tholor commented on #328
Ok, great! We will work on some changes/examples to make this part more explicit and user friendly.

[2020-04-20 19:47] renaud commented on #326
thanks a lot @brandenchan !

[2020-04-20 19:47] #326 closed

[2020-04-21 09:24] malteos opened #332 "Accessing dataset index after evaluation"
**Question**

Hi all,

thanks for your great work! I was wondering why the dataset samples don't have an ID set. See https://github.com/deepset-ai/FARM/blob/89826c1f4269a5c0d0b5a6193ece94a3401766d9/farm/data_handler/processor.py#L492

Is there any way to obtain the ID/index/line number of a particular sample in the results of `Inferencer` or `Evaluator`?

Or is it ensured that the order of the res

[2020-04-21 09:40] Timoeller commented on #328
As mentioned we have added some examples on how to do standalone evaluation in #330

You can now find examples for doc classification and question answering here: https://github.com/deepset-ai/FARM/blob/master/examples/evaluation.py

Btw. what are you currently working on @malteos? Multilabel on textpair classification sounds interesting.

[2020-04-21 11:48] malteos commented on #328
I'm working on this:

- https://github.com/malteos/semantic-document-relations/
- https://arxiv.org/abs/2003.09881

Basically, I'm trying to make "document similarity" a bit more explicit by classifying what makes two documents alike.

[2020-04-21 15:56] Timoeller commented on #332
Hey @malteos thanks for the kudos : )

Your ID issue addresses a valid concern.
Short answer: You can disable multiprocessing by setting max_processes=1 in the data_silo, then the order of results is ensured.

Long answer: We want to fill this ID value with sensible values and are working on a solution that works for all downstream tasks. In particular, we are not happy with the format of results

[2020-04-22 07:50] tholor opened #333 "QA: Returning answers that are longer than context"
**Describe the bug**
When the length of the answer is longer than `context_window_size` the `QuestionAnsweringHead` returns invalid, negative offsets. This is only relevant at inference time, but can cause problem then in upstream usage (e.g. in haystack).

**Expected behavior**
Context should always cover the full answer

**Details**
We should add a check in `create_context()` to increase the con

[2020-04-22 08:00] Timoeller commented on #333
The context is around the midpoint of the answer. That is why for long answers the context can be negative.
When we take context around start and end of answer we should be good (and have actual context around long answers).

[2020-04-23 09:23] Timoeller commented on #328
Nice paper! Really comforting to see that Bert with limited text length can outperform traditional benchmarks that do not have the text length limit (like average word embeddings). I also like the approach of creating data through using structured data from wikipedia. I would like to see more of this to (pre) train Bert based semantic matching.

Could you use the multilabel functionality in FARM f

[2020-04-23 10:37] gsarti opened #336 "Match output types and prediction heads in AdaptiveModel"
Dear maintainers,

When creating an `AdaptiveModel` instance, there are no checks to ensure that the number of specified `lm_output_types` matches the number of `prediction_head`. When they don't, zipping them together in the forward pass will only consider a portion of the heads, which is likely to cause unwanted behavior.

In my specific case, I wanted to do multi-tasking with multiple heads on

[2020-04-23 12:10] tholor commented on #336
Totally agree. This is an annoying and hard-to-spot issue.
We would highly appreciate a PR here. I also like the sketched solution.
I would only suggest logging an info message for the `multiple head, 1 output type` case to make the user aware of this broadcast. Otherwise, it's still very easy to introduce a bug here when you do multitask learning with different types of heads.

[2020-04-24 09:47] #325 closed

[2020-04-27 09:32] malteos commented on #332
Can I set a different `max_processes` for train and test? Processing all training data with a single process would be a time killer.. but just test set would be fine ;)

[2020-04-27 11:35] Timoeller commented on #332
I thought you wanted to use the Inferencer to get model predictions from a model that has been trained before (the Inferencer needs a trained model anyways)?

So you could use multiprocessing during training for creating and saving the model.
Then you can load it without multiprocessing, so the order of results is assured with:
`model = Inferencer.load("path/to/FARM_model",num_processes=0)`
//you

[2020-04-28 13:02] malteos opened #340 "Cannot use F1-micro for multi-label classification"
**Describe the bug**

Using F1-micro as metric for a multi-label classification causes the `Evaluator` to throw an error.

Task
[code]

**Error message**

[code]

My best guess is that the `average` argument must be set to `micro`: https://github.com/deepset-ai/FARM/blob/5398d6f9e8a1ec8aa78b01ed6361ba6bb656a1bf/farm/evaluation/metrics.py#L57

**System:**
 - OS: Ubuntu
 - GPU/CPU: GPU
 - FARM versi

[2020-04-28 13:29] tholor commented on #340
Hey @malteos ,

Yep, I think you are right: the mentioned metric will currently only work for binary classification.
Do you want to create a PR for that?
As an alternative, you can also easily define your own metric in FARM:

[code]
Maybe that's an option for you? It would allow you quite some more customization as you can pass in any function as long as it takes preds+labels and returns a  dict w

[2020-04-28 14:04] malteos commented on #340
Thanks for the quick reply!

A PR is currently out of scope but maybe later when I'm more familiar with FARM. Your proposed solution will probably work for now.

[2020-04-28 14:04] #340 closed

[2020-04-29 21:37] hanxiao opened #341 "Synergy Jina <> FARM"
**Is your feature request related to a problem or particular use case?**

Hi 👋 , I just leave a thread here to brainstorm potential synergy between Jina (https://github.com/jina-ai/jina/) and Farm

**Describe the solution you'd like**

**Additional context**

We had an internal discussion and listed this as potential task at here https://github.com/jina-ai/jina/issues/71

[2020-05-01 08:42] NicolasBenjamin opened #343 "Missing calculate_class_weights definition in StreamingDataSilo class"
Hi all,

first of all - thanks for this great project! I am currently trying to adapt the text_pair_classification.py example to my own use case. Due to a large dataset, I want to make use of the StreamingDataSilo class and using a StreamingDataSilo object instead of the traditional DataSilo object.

Executing with the StreamingDataSilo object throws this error:

[code]

Looking into FARM/farm/dat

[2020-05-01 14:38] NicolasBenjamin commented on #343
Misunderstood the calculate_weights function - obviously it cannot be used if the dataset is not fully known yet. I set it manually.

[2020-05-01 14:38] #343 closed

[2020-05-01 14:43] VikasRajashekar opened #344 "Not able do install"
When I tried to do the installation of both kinds mentioned in read me I get the following error.
ERROR: Command errored out with exit status 1:
[code]
How to resolve it?

[2020-05-03 01:03] veljkoselakovic commented on #344
You should install cmake and add it to PATH. I've experienced the same problem but solved it that way.  I still can't actually install it, since I get a massive error, but that is probably a question for the people working on onnx, since it looks like that's the perpetrator. I'm also having trouble because I can't actually install FARM on pytorch 1.5.0 since the dependencies specify torch==1.4.0.

[2020-05-04 11:08] Timoeller commented on #343
Awesome.
This is exactly how we would wish issues to be handled! : )
Thanks @NicolasBenjamin

Could you see another way of inserting the functionality into the streamingdatasilo though - does it make sense to approximate the weights on the first batch? If you find a good solution we would be happy if you raise a PR.

[2020-05-04 15:20] tanaysoni commented on #344
Hi @VikasRajashekar, the error seems like in the installation of `onnxruntime`. With #347, the dependency is now optional.

Can you try installing again after doing a `git pull` to get latest changes on the FARM master branch and installing by executing `pip install -e .`?

[2020-05-05 09:41] tholor commented on #341
Hey @hanxiao,

sure, happy to brainstorm. While I believe the synergies between Haystack and Jina might be more exciting to explore, I also see some potential between FARM & Jina.

I think the most obvious use case would be adding a "FARM Encoder" in Jina similar to the [transformers](https://github.com/jina-ai/jina/blob/master/jina/executors/encoders/nlp/transformer.py#L13) one.

[2020-05-06 07:37] qgroshens opened #350 "Error on inference for batch of size 1"
**Describe the bug**
When performing inference using inference_from_dicts  and a dictionary batch of size 1, we get a torch error linked to batch normalization.

**Error message**
[code]
**Expected behavior**
inference_from_dicts should return the inference of the text provided even if the size of the batch provided is 1

**Additional context**
Using custom WordEmbedding_LM model

**To Reproduce**

[2020-05-06 19:23] hanxiao commented on #341
ok it's done https://github.com/jina-ai/jina/pull/383

[2020-05-06 20:02] Timoeller commented on #350
Hey @qgroshens thanks for catching this bug.
The problem is coming from batchnormalization in combination with batch size 1 - we cannot normalize one sample to have zero mean and unit variance...

This small [commit](https://github.com/deepset-ai/FARM/commit/dbcf91d9a35ac54fb31d890d90ce0e28dd93cda6) fixes the problem. The changes are on current master but not in an official release, e.g. FARM vers

[2020-05-06 23:31] renaud opened #352 "RuntimeError: Expected object of scalar type Float but got scalar type Double for argument #3 'weight' in call to _thnn_nll_loss_forward"
**Describe the bug**
i'm performing classification, using the script below.
when installing "with git" (dbcf91d9a35ac54fb31d890d90ce0e28dd93cda6), I get the error below.
I then installed the 0.4.3 version throught pip and it worked.
Can you reproduce or is it just me?

    set_all_seeds(seed=42)
    n_epochs   = 8
    batch_size = 16
    acc_steps  = 2
    evaluate_every = 128
    lang_model = "be

[2020-05-07 07:34] tholor commented on #341
Awesome :tada:

[2020-05-07 07:37] hanxiao commented on #341
I will also write a blog post to talk about how to extend Jina and use FARM as an example. Currently our blog infra is not ready yet 😅

[2020-05-07 09:59] tantug commented on #352
After I update farm, I got the same Runtime Error with farm 0.4.3 version when I try to run my code which was running with previous farm 0.4.1 version.

[2020-05-07 11:33] stefan-it opened #353 "More convenient way of output test predictions"
Hi,

it would be an awesome feature, if the predictions made on the test set could be written to an output file.

E.g. the Hugging Face Transformers fine-tuning code for NER just outputs a file (`test_predictions.txt`) with Token and the predicted label (per line, same format as original test set).

This would really help evaluation with external scripts, e.g. the official CoNLL evaluation script

[2020-05-07 13:47] #344 closed

[2020-05-08 11:45] lingsond opened #355 "The Datasets for fine tuning Language Model"
Hallo,

I have questions regarding fine tuning a language model. I want to fine tune the bert-base-german-cased pretrained model with old german texts.

I've follow the steps in the lm_finetuning.py script from examples. And got a problem in step 3 (Create a DataSilo), where from the comment on step 3 and the error message:
No such file or directory: '../datasets/german/train.txt'
it expected a tr

[2020-05-08 11:59] lingsond commented on #355
I'm sorry, I'm quite a newbie with github. I didn't notice that the showed issue are the open issues so I didn't look into the closed issues.

I've looked into the closed issues and saw something similar to my question. It has answered my first question, and also how I should structure the train.txt file.

However, I'm still not clear what should be put in the dev.txt and test.txt file.

Again, so

[2020-05-08 13:20] Timoeller commented on #352
Hey you are definitely not alone : ) I can reproduce the bug on colab and it seems to be pytorch related in combination with class weights.

When installing through` pip install farm==0.4.3` it installs pytorch 1.4.0
When installing through git it keeps keeps the version that is on the server torch==1.5.0+cu101
Pytorch 1.5.0 and the way we have implemented class weights do not work together. I do

[2020-05-08 13:25] Timoeller commented on #355
Hey, no problem, good that you found part of the solution yourself already! : )

You can either specify dev_filename = None and test_filename = None in the BertStyleLMProcessor, so it wont require those files.
Or you split away small parts of train.txt to test and dev.

On dev and test files the Masked language Model loss and Next Sentence Prediction loss are computed to give a rough indication ho

[2020-05-08 13:30] Timoeller commented on #353
Hey @stefan-it that is a great idea. We have already a function that does something similar for QA predictions. If you want please create an optional attribute in the Inferencer.

One word of caution though, we are currently working on passing single datapoint IDs through the model, since multiprocessing might mess up the order of returned results. This is something that is coming up a lot lately

[2020-05-08 14:37] lingsond commented on #355
Thanks for the quick answer. It helps to solve the problem.

[2020-05-08 14:37] #355 closed

[2020-05-09 07:42] zzj0402 commented on #319
Hi @Timoeller, I finished the Question Generation prototype and going to publish API by August =) https://www.patreon.com/posts/question-36863875

[2020-05-09 09:18] tantug commented on #352
Thank you a lot for quick response @Timoeller . I've applied the third option and it solved my problem. I appreciate your diligent work.

[2020-05-11 09:02] Timoeller commented on #319
Nice, congrats! What models/frameworks did you use in the end?

Will you also create a little web demo where people can test out your solution?

-----------
I am closing this issue now.

[2020-05-11 09:02] #319 closed

[2020-05-11 09:55] zzj0402 commented on #319
Yes, I am working on it. I code up a transformer based seq-to-seq model. Will update the web demo here when it's done.

[2020-05-11 18:55] guggio opened #358 "No module named "farm.conversion""
**Describe the bug**
Imports fail with a ModuleNotFoundError as in the stack trace below.

**Error message**
[code]
**To Reproduce**
Try to import the AdaptiveModel.

**System:**
 - OS: macOS Catalina 10.15.4 running on Colab
 - FARM version: 0.4.3

[2020-05-12 09:04] aloizel opened #359 "N_added_tokens on XLMRoBERTa"
Hi guys,

I'm trying to use a further train XLMRoBERTa and I got the following error :
[code]

So I looked to [language_model.py](https://github.com/deepset-ai/FARM/blob/master/farm/modeling/language_model.py) and you have
[code]

On line 155, that is unecesary now.

If you try to load a classic XLMRoBERTa on Farm it's not working anymore because of this line, a fix have been made from transformer

[2020-05-12 09:20] tanaysoni commented on #358
Hi @guggio, are you running on Google Colab or your local machine?

If you're running locally, can you try uninstalling farm with `pip uninstall farm` and re-installing from the latest master branch with `pip install -e .` from the FARM root directory?

[2020-05-12 09:32] guggio commented on #358
Hi @tanaysoni I was running on google colab. I just retried it with two different approaches to install Farm on Colab:
First:
[code]
This used to work, but now fails with the mentioned exception.

Second:
`!pip install farm==0.4.3`
It is the first time I used this way to install it and it works fine. Do you have an explanation, why this approach works and the other fails?

[2020-05-12 10:26] Timoeller commented on #359
Thanks @aloizel. I can confirm that. Removing these lines will solve the issue (and the nasty hack we implemented in the first place).

Do you want to create a PR? You were the one who spotted the issue + found the solution. If not I can gladly merge it into master myself.

[2020-05-12 10:27] aloizel commented on #359
No it's ok you can do it, thanks !

[2020-05-12 13:17] brandenchan commented on #332
So we just tested out the inferencer even with multiprocessing and found that the output is in fact in the same order as the input. This is because we are calling self.process_pool.imap() and not imap_unordered() (see Inferencer._inference_with_multiprocessing()).

As for why the Sample ids are not set, this is because the id is actually assigned after TextClassificationProcessor.dict_to_samples.

[2020-05-12 13:43] Timoeller commented on #359
K - thanks, solved with #360

[2020-05-12 13:43] #359 closed

[2020-05-12 15:13] Timoeller commented on #353
Small update concerning ordering of inferencer results. We tested it and the order is assured, even with multiprocessing (details see  [here](https://github.com/deepset-ai/FARM/issues/332#issuecomment-627338563)). So you could just add the flag and write predictions to file.

[2020-05-13 07:56] aloizel commented on #358
@tanaysoni add `pip install -e .` seems to correct the problem thanks

[2020-05-13 09:11] binzhouchn opened #361 "train error"
hello,

when I do the tutorial classification
model = trainer.train()
I got following error, could you help me out, thanks

SYSTEM:
ubuntu:16.04
torch:1.5.0
cuda version 10.1, with 4 gpu available.

---------------------------------------------------------------------------
[code]

[2020-05-13 11:53] stefan-it opened #362 "Fix activation function for pooled ELECTRA output"
Hi,

inspired by https://github.com/huggingface/transformers/pull/4257 I just had a look at the original ELECTRA implementation, and it seems that they're using `gelu` instead of `tanh` for getting a pooled output:

https://github.com/google-research/electra/blob/79111328070e491b287c307906701ebc61091eb2/model/modeling.py#L247

and:

https://github.com/google-research/electra/blob/79111328070e491b2

[2020-05-13 14:47] ftesser opened #366 "pip install on Windows"
**Describe the bug**
Installing FARM on Windows by pip install does not work because pip install torch does not work on Windows.

**Error message**
[code]

**Expected behavior**
Install torch package also on Windows.

**Additional context**
I know that this is not really a bug of FARM, but I have some suggestions to allow the dependency installation works also on Windows.

The suggestion cames fro

[2020-05-13 14:53] #358 closed

[2020-05-13 15:00] tanaysoni commented on #358
Hi @guggio, in the first case, FARM is installed from the latest master branch. It was breaking due to missing `__init__.py` files, which is now fixed in #365.

If you want to try out cutting-edge(yet to be released) features, then use approach 1. For working with a stable release, use approach 2.

[2020-05-19 11:48] renaud opened #368 "i'm getting 54 sentences/s on inference with BERT on T4 GPU, is that good?"
**Question**

I am getting around 54 sentences/s on inference for text classification.

What do you think? is that good? Does this compare with what you get?

**Additional context**

    lang_model = "bert-base-cased"
    do_lower_case = False
    max_seq_len = 64
    use_amp = None

* GCP
* 1 x T4 GPU
* n1-standard-2 (2 vCPUs, 7.5 GB memory)

[2020-05-20 21:49] savasy opened #370 "Demo: how to create example-ready passage and Q for NER"
**Question**
When I deploy my trained model in docker, I want to delete built-in models  and put my model instead. I can load my QA model using saving the models under saved_model folder and fixing the docker-compose.yml.
But I do not know how to put example passage and example Question in it.

**Additional context**
Add any other context or screenshots about the question (optional).

[2020-05-21 22:32] adrianpaiva1 opened #371 "Extremely Slow Response Time"
**Question**

I'm running the docker image (deepset/farm-inference-api:base-models-0.4.2) locally with the provided api and my response times are super slow.

With smaller text (around 500 characters) it's taking around 10 seconds through postman.

With Larger text it's taking at least 30 seconds.

Just wondering if this is to be expected or there is something I'm not doing correctly. I have a pre

[2020-05-25 10:47] Timoeller commented on #361
Hey @binzhouchn sorry for the late reply.
This sounds like a version issue to me.
So could you try either
- running the code with pytorch 1.4.0 installed
- upgrading cuda to 10.2 (I though pytorch 1.5.0 requires cuda 10.2 anyways?)

Hope that helps

[2020-05-25 10:50] Timoeller commented on #366
Hey @ftesser sorry for the late reply.

I think having a clean solution inside FARM would be great. I think the most important point is that installation on other systems do not break. If you already have changes please create a WIP merge request so we can get this functionality into farm.

[2020-05-25 11:02] Timoeller commented on #368
Hey @renaud
we are currently doing a lot of inference benchmarking for Question Answering like described in deepset-ai/haystack/issues/39 where we also compare pytorch vs ONNX.

**Concerning your throughput.**
I think it is pretty slow - but I am not sure how a T4 GPU performs compared to the V100s we used.
One important paramter is the batch size. Did you test different batch size values?

Lookin